In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Match.csv")
df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69756,295,2,Deccan Chargers,Pune Warriors,16,4,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
69757,295,2,Deccan Chargers,Pune Warriors,16,5,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
69758,295,2,Deccan Chargers,Pune Warriors,16,6,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
69759,295,2,Deccan Chargers,Pune Warriors,16,7,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
69760,295,2,Deccan Chargers,Pune Warriors,17,1,DT Christian,JP Duminy,Yuvraj Singh,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [3]:
df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [4]:
df.shape

(69761, 21)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69761 entries, 0 to 69760
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          69761 non-null  int64
 1   inning            69761 non-null  int64
 2   batting_team      69761 non-null  object
 3   bowling_team      69761 non-null  object
 4   over              69761 non-null  int64
 5   ball              69761 non-null  int64
 6   batsman           69761 non-null  object
 7   non_striker       69761 non-null  object
 8   bowler            69761 non-null  object
 9   is_super_over     69761 non-null  int64
 10  wide_runs         69761 non-null  int64
 11  bye_runs          69761 non-null  int64
 12  legbye_runs       69761 non-null  int64
 13  noball_runs       69761 non-null  int64
 14  penalty_runs      69761 non-null  int64
 15  batsman_runs      69761 non-null  int64
 16  extra_runs        69761 non-null  int64
 17  total_runs        69761 non-null  int64
 18  player_dismissed  3516 non-null   object
 19  dismissal_kind    3516 non-null   object
 20  fielder           2529 non-null   object
dtypes: int64(13), object(8)
memory usage: 11.2+ MB

In [6]:
df[["player_dismissed"]].value_counts()

player_dismissed
RG Sharma           59
SK Raina            59
AC Gilchrist        57
G Gambhir           56
Yuvraj Singh        55
                    ..
A Choudhary          1
BAW Mendis           1
H Das                1
GR Napier            1
Jaskaran Singh       1
Length: 354, dtype: int64

In [7]:
df[["fielder"]].value_counts()

fielder
RV Uthappa         61
KD Karthik         57
MS Dhoni           55
AC Gilchrist       54
KC Sangakkara      46
                   ..
RA Jadeja (sub)     1
Misbah-ul-Haq       1
AD Mascarenhas      1
M Kaif (sub)        1
KS Williamson       1
Length: 352, dtype: int64

In [8]:
df[["dismissal_kind"]].value_counts()

dismissal_kind
caught               2029
bowled                650
run out               379
lbw                   223
stumped               121
caught and bowled     106
hit wicket              4
retired hurt            4
dtype: int64

# Find Team wise runs scored.

In [9]:
df.groupby(["batting_team"])["total_runs"].sum()

batting_team
Chennai Super Kings             9253
Deccan Chargers                 8931
Delhi Daredevils               10654
Gujarat Lions                   2412
Kings XI Punjab                10763
Kochi Tuskers Kerala            1760
Kolkata Knight Riders           9924
Mumbai Indians                 11202
Pune Warriors                   1657
Rajasthan Royals                8039
Rising Pune Supergiant          2470
Royal Challengers Bangalore    10221
Sunrisers Hyderabad             2349
Name: total_runs, dtype: int64

# Find Total Runs of Virat Kohli.

In [10]:
# trbb = TOTAL RUNS BY BATSMAN

trbb = df.groupby(["batsman"])["batsman_runs"]

for i in trbb:
    print(i)

('A Chopra', 20477    0
20478    1
20482    0
20484    1
20490    0
        ..
27982    0
27983    0
27984    4
27986    1
27988    0
Name: batsman_runs, Length: 75, dtype: int64)
('A Choudhary', 246     6
247     0
7019    1
7020    1
7022    1
7024    1
7026    0
7027    1
7033    1
7035    4
7036    2
7037    1
7038    1
7040    1
9941    1
9943    1
9944    1
9946    1
9948    0
9949    0
Name: batsman_runs, dtype: int64)
('A Flintoff', 27490    0
27491    0
27492    0
27493    1
27496    0
27497    0
27498    4
27499    0
27500    0
27501    6
27502    3
27503    0
27504    0
27508    0
27509    0
27514    1
27517    0
27518    1
27522    1
27524    1
27526    4
27527    1
27528    1
27530    0
27532    0
28222    0
28223    1
28225    4
28226    1
28228    0
28229    4
28230    1
28232    1
28234    1
28238    1
28240    6
28241    1
28244    0
28245    1
28965    0
28966    1
28968    1
28970    1
28973    1
28974    2
28975    1
28978    0
28979    0
28985    0
28988    1
28990    0
28991    4
28992    1
28993    2
28994    0
28995    1
28998    0
Name: batsman_runs, dtype: int64)
('A Kumble', 19659    0
19660    0
19661    0
19662    1
19663    1
19666    0
19667    1
21987    0
23519    0
23520    1
23522    4
23529    0
23530    1
23532    1
23535    1
23538    0
24803    2
28332    0
28333    0
28334    0
28338    0
28339    1
28776    1
29409    0
29410    4
29411    1
32345    0
32346    1
32348    0
32349    0
35817    1
35820    0
35822    1
35825    4
35826    0
35831    1
40951    1
46545    1
49464    1
52142    0
52143    1
52146    0
52147    1
53558    0
53559    1
53562    0
54763    0
54764    0
54765    1
Name: batsman_runs, dtype: int64)
('A Mishra', 1186     0
1187     0
1188     1
1190     2
1191     1
        ..
68989    1
68993    4
68994    4
68995    4
68996    4
Name: batsman_runs, Length: 224, dtype: int64)
('A Mithun', 49455    0
49456    4
49457    1
49462    0
62309    0
62310    0
66306    4
66307    1
66309    1
Name: batsman_runs, dtype: int64)
('A Mukund', 25667    0
Name: batsman_runs, dtype: int64)
('A Nehra', 15737    0
15738    1
16221    0
16222    1
16225    0
16231    1
16233    0
16234    0
16235    0
16236    0
16237    0
16238    0
24679    0
37657    1
51530    1
51532    0
51536    0
51537    0
54249    4
54250    0
54251    1
54254    0
54255    6
54256    1
54262    1
54264    0
54265    0
54266    4
54268    0
54269    1
54272    1
54273    1
54276    1
54278    1
Name: batsman_runs, dtype: int64)
('A Singh', 38746    0
39380    0
39381    1
59369    0
59370    0
67552    1
67554    0
Name: batsman_runs, dtype: int64)
('A Symonds', 14831    0
14832    0
14839    1
14842    4
14843    0
        ..
69062    0
69063    0
69064    0
69065    1
69068    0
Name: batsman_runs, Length: 781, dtype: int64)
('A Uniyal', 41459    0
42315    1
42321    0
42322    0
42323    1
42327    1
42331    1
Name: batsman_runs, dtype: int64)
('A Zampa', 2097    0
2098    1
2100    4
2101    0
2108    0
2110    0
2111    0
Name: batsman_runs, dtype: int64)
('AA Bilakhia', 30505    0
30506    0
30507    0
30508    1
30509    1
        ..
40830    0
49689    0
49690    1
49691    1
49697    0
Name: batsman_runs, Length: 88, dtype: int64)
('AA Chavan', 69456    0
69457    0
69458    1
Name: batsman_runs, dtype: int64)
('AA Jhunjhunwala', 41371    0
41372    0
41373    1
41376    0
41377    1
        ..
65623    0
65624    0
67300    0
67301    0
67302    0
Name: batsman_runs, Length: 191, dtype: int64)
('AA Noffke', 14040    0
14041    0
14042    0
14043    1
14046    1
14051    4
14052    1
14053    0
14054    0
14055    0
14056    1
14059    1
Name: batsman_runs, dtype: int64)
('AB Agarkar', 16559    4
16560    2
16562    1
16567    0
16570    1
        ..
66854    1
66861    4
66862    0
66863    1
66866    0
Name: batsman_runs, Length: 144, dtype: int64)
('AB Barath', 43769    1
43772    0
43773    1
43775    0
43776    0
43779    0
43780    0
43781    4
43782    1
43783    0
50817    0
50818    0
50819    1
50823    0
50824    0
50835    0
50836    1
50838    6
50839    1
50845    0
50846    4
50850    4
50851    0
50852    1
50853    1
50855    1
50857    0
50858    0
50861    4
50862    0
50863    1
50865    0
50871    4
50873    0
50874    1
50876    2
50877    1
50878    0
51646    1
51647    0
51648    0
51649    0
51650    1
Name: batsman_runs, dtype: int64)
('AB Dinda', 2103     0
2104     4
2105     0
2106     0
2107     1
2109     1
2112     1
2115     0
18368    0
18370    1
18371    0
23129    1
28041    2
28042    0
30749    0
51299    0
56284    0
56285    0
56286    0
56289    0
56290    0
Name: batsman_runs, dtype: int64)
('AB McDonald', 39084    1
39086    1
39087    1
39089    0
46394    0
        ..
68456    2
68457    1
68458    1
68464    2
68465    0
Name: batsman_runs, Length: 65, dtype: int64)
('AB de Villiers', 1688     4
1689     0
1693     0
1694     0
1695     6
        ..
68865    0
68867    1
68870    1
68872    0
68875    4
Name: batsman_runs, Length: 933, dtype: int64)
('AC Blizzard', 65447    1
65453    0
65454    1
65459    0
65460    4
65461    0
66621    0
66622    0
66623    0
66624    0
66625    4
66626    4
66627    1
66628    0
66629    0
66630    0
66631    1
66634    4
66635    0
66636    4
66637    4
66638    4
66639    4
66651    4
66652    0
66659    1
66661    0
66662    2
66663    0
66664    0
67914    0
67915    4
67916    4
67917    4
67918    0
67919    0
67921    1
67932    1
67936    1
67939    0
69000    0
69001    0
69002    0
69006    0
69007    0
69008    1
69009    0
Name: batsman_runs, dtype: int64)
('AC Gilchrist', 14800    1
14808    1
14811    0
14812    0
14813    0
        ..
69130    4
69138    0
69139    1
69143    4
69146    0
Name: batsman_runs, Length: 1078, dtype: int64)
('AC Thomas', 60009    0
60010    0
62073    1
62075    0
Name: batsman_runs, dtype: int64)
('AC Voges', 43928    4
43929    1
43933    2
43934    2
43935    1
        ..
53632    1
53635    4
53640    1
53642    1
53644    0
Name: batsman_runs, Length: 143, dtype: int64)
('AD Mascarenhas', 21821    1
21827    0
21828    0
21829    1
21831    0
21833    1
21840    6
21841    0
27775    0
29078    0
29079    0
29081    1
29084    1
29086    0
29087    0
29088    0
29089    0
29091    1
29093    1
29095    0
29097    1
29101    1
29104    1
29107    1
29109    1
29112    4
29113    1
29116    1
29119    1
29121    1
29123    2
29124    0
29125    4
29126    1
29127    2
29128    1
29134    0
30186    4
30187    0
31939    1
31941    0
31942    2
31943    0
31945    0
31946    1
31948    4
31949    0
41453    2
41454    1
41457    1
41458    0
41461    2
41462    0
41463    2
41464    1
42311    1
42313    1
42314    1
Name: batsman_runs, dtype: int64)
('AD Mathews', 4159     1
4162     0
4169     0
4170     0
5014     0
        ..
52513    1
52517    4
52518    0
52519    0
52520    0
Name: batsman_runs, Length: 239, dtype: int64)
('AD Nath', 6209    0
Name: batsman_runs, dtype: int64)
('AF Milne', 4053    1
4055    1
4063    0
7797    0
7798    0
7800    1
7803    1
7806    2
7807    0
7808    1
7810    0
8630    0
Name: batsman_runs, dtype: int64)
('AG Murtaza', 63165    1
63167    0
63168    0
63169    0
63172    1
Name: batsman_runs, dtype: int64)
('AG Paunikar', 52626    0
55820    4
55821    4
55822    2
55823    1
        ..
59303    1
59304    2
59305    0
59306    0
59307    0
Name: batsman_runs, Length: 61, dtype: int64)
('AJ Finch', 545      1
547      0
548      1
551      6
552      6
        ..
61229    1
61231    1
61233    0
66067    0
66068    0
Name: batsman_runs, Length: 262, dtype: int64)
('AJ Tye', 4795    0
4796    2
4804    0
4805    2
4806    1
4808    1
6210    0
6211    1
6213    1
6216    2
6217    6
6218    1
6220    4
6222    0
6224    2
6225    1
6229    4
6230    0
7944    0
7946    1
7948    4
7949    0
7950    1
7951    1
7954    6
7955    6
7956    1
7957    4
7958    0
7960    1
Name: batsman_runs, dtype: int64)
('AL Menaria', 57025    0
57026    1
57028    1
57030    0
57031    6
        ..
69463    1
69466    0
69467    1
69468    2
69469    0
Name: batsman_runs, Length: 158, dtype: int64)
('AM Nayar', 14638    0
14639    0
14640    1
14642    1
14647    1
        ..
64709    0
66314    1
66320    0
66321    0
66322    0
Name: batsman_runs, Length: 408, dtype: int64)
('AM Rahane', 373      1
377      0
378      0
379      1
380      4
        ..
69401    0
69402    0
69403    1
69406    4
69407    0
Name: batsman_runs, Length: 574, dtype: int64)
('AN Ahmed', 49950    0
49951    0
49957    1
49959    2
49960    0
49961    1
49963    0
49964    0
Name: batsman_runs, dtype: int64)
('AN Ghosh', 30732    0
36324    2
36325    0
36326    0
36331    0
36332    1
36333    4
36334    0
Name: batsman_runs, dtype: int64)
('AP Dole', 49575    0
49576    0
49578    4
49579    0
51867    1
51870    0
51873    1
51877    1
51881    4
51882    1
51883    1
51885    4
51886    0
51887    1
51889    1
51892    2
51893    6
51894    2
51896    0
51897    1
51899    2
51900    2
51901    0
Name: batsman_runs, dtype: int64)
('AP Tare', 1084     0
1085     0
1086     0
1087     1
1094     1
        ..
44117    4
44118    0
54279    1
54282    0
54283    0
Name: batsman_runs, Length: 66, dtype: int64)
('AR Bawne', 7238    1
7240    0
7241    0
7242    1
7243    0
7244    2
7245    0
7246    1
7248    1
7249    4
7250    1
7254    1

Name: batsman_runs, dtype: int64)
('AR Patel', 872      1
874      4
875      1
876      1
878      0
        ..
12638    1
12641    1
12643    1
12648    2
12649    0
Name: batsman_runs, Length: 171, dtype: int64)
('AS Rajpoot', 13514    4
13515    0
13516    0
13517    0
13520    0
13521    0
13522    0
Name: batsman_runs, dtype: int64)
('AS Raut', 29129    0
29130    0
29131    0
29132    0
29133    1
        ..
68111    0
68112    0
68113    0
68115    1
68117    1
Name: batsman_runs, Length: 172, dtype: int64)
('AS Yadav', 14874    1
14876    1
14878    0
14879    1
14882    0
14883    0
14887    1
14888    6
14889    0
14890    0
15379    1
15383    0
15390    2
15391    4
15392    1
15395    4
15397    0
15852    4
15853    1
15858    1
15860    0
15861    0
15862    4
15863    4
15864    0
15865    2
15866    0
18726    0
18727    6
18728    1
18729    1
18732    0
18736    0
18737    0
18739    0
25902    0
25904    1
25907    1
25911    1
26531    0
Name: batsman_runs, dtype: int64)
('AT Rayudu', 290      1
291      1
293      0
294      1
297      1
        ..
69013    0
69014    0
69019    0
69020    0
69021    0
Name: batsman_runs, Length: 661, dtype: int64)
('AUK Pathan', 56176    4
56177    0
56178    0
56179    4
56180    4
57197    0
57198    0
58674    4
58675    4
58676    0
58677    6
58679    0
58680    0
66297    0
Name: batsman_runs, dtype: int64)
('Abdur Razzak', 23539    0
23540    0
Name: batsman_runs, dtype: int64)
('Anirudh Singh', 41176    1
41179    0
41180    1
41182    2
41183    1
        ..
55092    6
55093    0
55094    2
55097    1
55101    0
Name: batsman_runs, Length: 69, dtype: int64)
('Ankit Sharma', 2920    0
2921    4
2922    1
2926    2
2927    1
2931    4
2932    1
2934    1
2936    1
2939    0
2940    1
2943    0
2944    6
2945    2
2946    1
2950    0
Name: batsman_runs, dtype: int64)
('Ankit Soni', 7968     1
7970     6
8874     0
12204    0
12208    0
12209    0
12211    0
12213    0
12214    0
Name: batsman_runs, dtype: int64)
('Anureet Singh', 7572    1
7573    0
7574    1
7581    1
7583    4
7584    1
7585    0
7586    1
7588    4
7589    1
7593    1
7596    0
Name: batsman_runs, dtype: int64)
('B Akhil', 14038    0
14039    0
14793    2
14794    0
14796    0
14797    0
14798    0
14799    1
17393    1
17394    1
17396    0
18847    4
18848    4
18849    0
18851    6
18852    6
18853    1
18855    6
20973    4
20974    0
20975    1
20980    0
24078    1
24081    1
24083    1
24775    0
24787    0
24788    1
24791    4
24796    0
24797    0
24800    1
27666    0
27671    2
27672    2
27676    1
27683    0
27684    0
27685    4
27688    0
27689    0
29904    6
29905    0
29906    0
29907    1
29909    1
37263    0
37266    0
63737    1
63740    0
63741    1
63742    0
63743    2
63744    6
63745    2
63746    1
63749    0
Name: batsman_runs, dtype: int64)
('B Chipli', 17274    1
17278    0
17279    0
17280    1
17283    0
        ..
68952    1
68955    0
68956    1
68958    1
68961    0
Name: batsman_runs, Length: 198, dtype: int64)
('B Kumar', 2238     1
2240     2
2241     1
10193    0
69655    1
Name: batsman_runs, dtype: int64)
('B Lee', 15145    0
15146    0
16098    0
16099    0
16102    4
        ..
60361    1
60363    0
62923    1
65935    0
65939    1
Name: batsman_runs, Length: 66, dtype: int64)
('B Sumanth', 52016    2
52017    2
52018    1
52020    1
53307    1
53308    1
53315    4
54124    0
54125    0
54129    0
54130    1
54136    1
54139    1
54141    0
54142    1
54147    0
54148    1
54150    1
54155    1
54963    0
54964    0
54965    2
54966    1
54969    4
54970    0
54971    0
54972    1
54980    0
54981    1
54982    1
54984    1
54987    0
54992    0
54993    4
54995    0
54996    1
54998    0
54999    0
Name: batsman_runs, dtype: int64)
('BA Stokes', 437      0
438      2
439      1
440      0
441      1
        ..
12066    1
12069    6
12070    0
12071    0
12072    0
Name: batsman_runs, Length: 227, dtype: int64)
('BAW Mendis', 30748    0
51302    1
Name: batsman_runs, dtype: int64)
('BB McCullum', 501      1
507      1
508      0
509      4
510      0
        ..
69498    0
69500    6
69501    0
69502    6
69510    0
Name: batsman_runs, Length: 940, dtype: int64)
('BCJ Cutting', 117     1
119     1
121     6
122     2
123     0
124     6
2208    4
2215    0
2216    1
2217    4
2218    4
2219    1
2222    0
2223    1
2224    4
2225    1
2227    0
3275    0
3276    1
3282    4
3283    1
3289    0
3290    1
3294    1
3298    6
3299    1
3300    0
Name: batsman_runs, dtype: int64)
('BJ Haddin', 60894    0
60895    1
60897    2
60898    6
60899    4
60904    0
60905    0
60908    1
60911    4
60915    0
60916    0
Name: batsman_runs, dtype: int64)
('BJ Hodge', 18283    0
18288    0
18289    1
19001    0
19002    1
        ..
69530    0
69531    0
69532    4
69533    0
69534    4
Name: batsman_runs, Length: 630, dtype: int64)
('Basil Thampi', 1314    1
1317    1
1319    6
1320    2
1321    2
1323    0
1325    1
1327    0
4809    0
6231    1
6233    0
6234    0
6235    1
6237    1
6239    0
6240    0
6246    0
6248    4
6249    2
6250    1
6252    1
7965    0
7966    0
7967    1
7969    1
8864    0
8865    0
8866    1
8870    1
8873    0
Name: batsman_runs, dtype: int64)
('Bipul Sharma', 3301     0
3302     0
3303     1
3305     1
3306     0
3307     6
3308     0
3309     2
3310     0
3312     0
3313     4
3314     4
3315     2
3316     1
10180    2
10181    1
10185    2
10186    2
10187    0
10188    1
10190    0
10191    0
13362    0
13363    1
13369    1
43821    1
43826    4
43827    1
43831    1
43832    0
43833    1
50096    1
63868    1
63870    4
63872    2
63873    1
63875    0
63876    2
63880    1
63882    0
63884    2
63885    1
63887    1
63890    1
64711    1
64713    0
67901    2
67903    1
67911    2
67912    1
Name: batsman_runs, dtype: int64)
('C Madan', 52151    4
52152    0
52153    0
52154    4
52155    0
52156    0
52161    1
52163    0
52164    1
52166    0
52167    0
52168    0
52170    0
52171    4
52172    0
52173    0
52174    1
52182    0
52183    0
52184    0
52187    0
Name: batsman_runs, dtype: int64)
('C Nanda', 37528    0
Name: batsman_runs, dtype: int64)
('C de Grandhomme', 3187     0
3191     0
4191     1
4193     0
6324     0
        ..
12532    6
12533    1
12540    1
12541    0
13449    0
Name: batsman_runs, Length: 92, dtype: int64)
('CA Ingram', 66750    1
66751    0
68364    0
68365    0
68366    1
68368    4
68369    0
68373    0
68374    1
68376    0
68377    0
68378    0
68385    1
68388    0
Name: batsman_runs, dtype: int64)
('CA Lynn', 618      0
619      1
622      4
624      6
625      1
        ..
13410    0
13411    2
13412    1
13413    1
13415    0
Name: batsman_runs, Length: 175, dtype: int64)
('CA Pujara', 40961    0
40963    0
40964    0
40965    4
40966    0
        ..
62272    1
62273    1
62276    1
62279    1
62281    0
Name: batsman_runs, Length: 151, dtype: int64)
('CH Gayle', 125      1
131      0
132      0
133      1
137      0
        ..
68806    6
68807    2
68808    4
68811    4
68812    0
Name: batsman_runs, Length: 747, dtype: int64)
('CH Morris', 1152    1
1153    1
1158    1
1159    1
1165    0
       ..
9224    1
9225    1
9232    1
9234    6
9235    1
Name: batsman_runs, Length: 97, dtype: int64)
('CJ Anderson', 1988     0
1989     0
1992     0
1993     1
2009     1
        ..
12955    0
12960    1
12965    0
12966    1
12969    0
Name: batsman_runs, Length: 130, dtype: int64)
('CJ Ferguson', 67278    0
67279    0
67280    0
67281    1
67283    0
67284    1
67287    0
67288    1
67289    0
67290    0
67291    1
67296    0
67297    1
67304    1
67309    0
67778    0
67779    0
67780    4
67781    4
67782    4
67784    1
67788    1
67789    0
67790    1
69584    0
69586    0
69587    4
69588    2
69589    0
69590    1
69591    1
69593    1
69595    1
69597    0
69598    0
69599    1
69603    0
Name: batsman_runs, dtype: int64)
('CJ Jordan', 13361    0
Name: batsman_runs, dtype: int64)
('CK Kapugedera', 20444    1
20446    0
20448    1
20450    1
20453    2
20454    1
20456    1
20461    1
20465    0
22374    0
22375    0
27202    0
27203    0
27204    1
27205    1
27207    1
27209    1
27211    0
27212    0
27213    0
27214    1
27216    2
27217    1
27219    0
Name: batsman_runs, dtype: int64)
('CK Langeveldt', 47279    0
Name: batsman_runs, dtype: int64)
('CL White', 14017    0
14022    1
14024    0
14025    0
14026    1
        ..
65141    0
65142    0
65143    1
65145    1
65146    0
Name: batsman_runs, Length: 235, dtype: int64)
('CR Brathwaite', 1168     0
1169     0
1170     1
1175     0
1176     0
11547    0
11548    1
11550    0
11551    4
11552    0
11553    0
11554    4
11555    1
11556    1
11559    0
11560    0
Name: batsman_runs, dtype: int64)
('CR Woakes', 1528     0
1529     2
1530     1
1533     2
1534     1
1536     2
1537     1
1538     0
3192     1
4300     1
4301     1
4305     1
4307     0
4308     0
6326     0
6327     0
6328     1
6329     0
6330     0
6331     0
6332     0
6333     4
6334     0
6337     0
6338     1
6341     4
6342     1
6344     0
6345     0
6346     1
6347     1
6350     1
6353     4
6354     0
6355     0
8503     1
8505     4
8506     1
9338     0
9339     0
9341     1
11343    0
11344    6
11345    1
11348    1
11351    0
11352    0
Name: batsman_runs, dtype: int64)
('CRD Fernando', 24680    2
55452    1
55454    1
Name: batsman_runs, dtype: int64)
('D Kalyankrishna', 17983    0
17984    0
17985    1
17988    1
17991    0
17992    0
17994    1
18000    0
Name: batsman_runs, dtype: int64)
('D Salunkhe', 14409    4
14410    1
14412    0
14413    1
14417    1
14420    0
14425    1
14433    1
14436    0
14437    1
14444    0
14447    4
14448    4
14449    0
14450    1
14451    4
14452    0
14453    1
14455    2
14456    0
15980    1
22780    4
22781    2
22782    0
Name: batsman_runs, dtype: int64)
('D du Preez', 34499    1
34501    0
34502    2
34503    0
34505    0
34506    1
34508    2
34509    1
34510    1
34512    1
34523    1
34527    0
34529    0
Name: batsman_runs, dtype: int64)
('DA Miller', 911     1
913     0
914     0
917     1
921     1
       ..
4489    1
4492    0
4494    0
4495    0
4496    0
Name: batsman_runs, Length: 82, dtype: int64)
('DA Warner', 0        0
1        0
2        4
3        0
4        0
        ..
69307    1
69309    1
69311    0
69312    4
69313    0
Name: batsman_runs, Length: 1065, dtype: int64)
('DB Das', 17403    0
17406    4
17407    4
17408    0
17409    0
        ..
24312    2
24313    1
24314    1
24316    0
26072    0
Name: batsman_runs, Length: 95, dtype: int64)
('DB Ravi Teja', 18711    1
18713    4
18714    1
18716    0
18719    0
        ..
67595    1
67598    2
67599    1
67600    1
67602    0
Name: batsman_runs, Length: 261, dtype: int64)
('DE Bollinger', 51056    0
51057    0
51058    2
52926    0
52927    0
52928    0
52929    0
52930    1
52932    0
52933    1
52935    1
52937    6
52939    1
52942    1
52946    0
52948    4
52949    1
60878    0
Name: batsman_runs, dtype: int64)
('DH Yagnik', 60610    4
60611    0
60612    0
60613    1
60616    0
60617    2
60618    0
60619    1
60623    1
60627    1
65326    1
67545    0
67546    0
67547    1
67548    0
67549    0
67550    2
67551    0
68110    1
68114    0
68116    1
68118    0
68119    0
Name: batsman_runs, dtype: int64)
('DJ Bravo', 15674    1
15680    1
15682    0
15683    1
15685    0
        ..
54366    1
54368    0
54369    2
54371    1
54373    0
Name: batsman_runs, Length: 401, dtype: int64)
('DJ Hooda', 96      1
98      1
99      1
103     0
104     1
105     6
106     1
111     2
112     1
113     1
118     0
120     1
2180    0
2181    1
2184    0
2185    4
2186    1
2190    0
2191    1
2193    1
2196    1
2197    0
3259    1
3261    6
3262    0
3263    1
3265    1
3272    4
3274    0
4409    1
4416    1
4418    0
4420    2
4421    0
4422    2
4423    4
4424    1
4425    1
4428    0
4923    1
4925    1
4928    6
4929    1
5867    0
5868    1
5870    1
5872    4
5873    1
5877    0
5878    6
5879    1
5883    4
5884    1
Name: batsman_runs, dtype: int64)
('DJ Hussey', 13944    0
13945    1
13947    1
13949    4
13950    1
        ..
68716    6
69216    1
69224    1
69228    1
69231    0
Name: batsman_runs, Length: 481, dtype: int64)
('DJ Jacobs', 56291    0
56292    0
56293    0
56294    1
56297    0
        ..
64500    4
64501    0
64502    4
64503    0
64506    0
Name: batsman_runs, Length: 91, dtype: int64)
('DJ Thornely', 14565    0
14570    0
14571    0
14572    0
14575    0
14576    0
19140    1
19142    1
19144    0
19145    0
19148    1
19150    1
19152    0
19153    1
19156    1
19159    0
19160    4
19161    0
19162    0
19163    4
19164    0
19166    0
19167    1
19170    1
19171    1
19178    6
19179    1
19181    0
19184    6
19185    0
23158    0
23159    0
23162    1
23165    0
23166    0
23167    0
23565    0
23571    0
23573    0
23574    0
23575    1
23577    1
23578    0
23579    0
23580    1
23584    0
23585    1
23587    0
23588    1
23590    1
23595    1
23596    1
23598    0
23599    0
Name: batsman_runs, dtype: int64)
('DL Chahar', 2091    0
2092    1
2094    6
2095    6
2099    1
2102    0
Name: batsman_runs, dtype: int64)
('DL Vettori', 30795    1
30797    1
30799    1
30801    1
30803    0
        ..
62317    0
62318    1
62320    4
62321    1
62325    1
Name: batsman_runs, Length: 89, dtype: int64)
('DM Bravo', 6914    0
6915    1
6918    0
6919    1
6920    4
Name: batsman_runs, dtype: int64)
('DNT Zoysa', 17972    1
17982    0
23788    2
23789    4
23790    1
23792    2
23794    0
23796    0
23798    1
Name: batsman_runs, dtype: int64)
('DP Nannes', 43139    0
43140    1
43142    0
43143    1
43149    0
43150    0
43151    0
43152    1
43155    0
43156    0
43157    0
44566    0
44567    1
Name: batsman_runs, dtype: int64)
('DP Vijaykumar', 23035    1
Name: batsman_runs, dtype: int64)
('DPMD Jayawardene', 15079    0
15080    1
15082    0
15083    1
15085    0
        ..
68595    2
68596    1
69495    4
69496    2
69499    0
Name: batsman_runs, Length: 894, dtype: int64)
('DR Martyn', 43193    1
43195    0
43196    0
43200    1
43203    1
43210    1
43212    0
43213    0
43214    1
43215    0
43216    1
43222    1
43224    1
43227    1
43233    1
43235    0
43236    1
43239    1
43240    1
43246    0
43248    0
43249    1
43257    1
43258    0
43259    4
43260    0
Name: batsman_runs, dtype: int64)
('DR Smith', 1264     1
1266     0
1267     0
1269     1
1271     0
        ..
55053    1
55055    4
55056    0
55057    0
55059    0
Name: batsman_runs, Length: 358, dtype: int64)
('DS Kulkarni', 1310     1
1313     0
16209    0
16210    0
16211    0
16212    0
16214    0
16215    0
16216    0
16217    0
16218    0
16223    0
16224    1
16226    0
16227    0
16228    0
16229    0
16230    1
16232    0
34394    1
34396    1
34397    1
34400    0
34401    1
34403    1
34405    0
34406    1
34408    1
34972    0
34973    0
34975    0
34976    1
37523    0
37524    0
37525    1
37526    0
37527    0
67981    1
67986    1
67992    0
67993    0
Name: batsman_runs, dtype: int64)
('DS Lehmann', 14379    1
14381    0
15198    4
15199    0
15200    0
15204    1
15210    1
15214    0
15215    1
15219    0
15220    0
15221    4
15222    0
15225    1
15228    0
15230    4
15231    1
15235    0
15236    0
Name: batsman_runs, dtype: int64)
('DT Christian', 823      0
824      1
826      1
829      1
833      4
        ..
68982    0
68983    2
68985    0
69754    1
69760    4
Name: batsman_runs, Length: 203, dtype: int64)
('DT Patil', 19650    4
23489    0
23490    0
23491    1
23492    1
23495    0
23496    2
23497    0
23501    1
23504    1
23505    2
23506    1
23508    0
Name: batsman_runs, dtype: int64)
('DW Steyn', 17395    1
17397    0
19668    1
19669    0
19670    0
        ..
67672    2
67673    2
67674    2
67675    4
67676    0
Name: batsman_runs, Length: 62, dtype: int64)
('EJG Morgan', 3465     0
3466     0
3467     1
3469     0
3470     1
        ..
68723    1
68728    1
68729    0
68730    0
68731    0
Name: batsman_runs, Length: 216, dtype: int64)
('F du Plessis', 2035    1
2041    1
2046    4
2053    1
2054    0
2055    1
2057    0
Name: batsman_runs, dtype: int64)
('FH Edwards', 28646    0
28647    3
29650    1
29651    0
29652    0
Name: batsman_runs, dtype: int64)
('FY Fazal', 43845    0
43846    1
43849    4
43852    0
43853    0
        ..
69389    4
69390    0
69391    4
69392    2
69393    0
Name: batsman_runs, Length: 179, dtype: int64)
('G Gambhir', 617      1
620      0
621      1
623      1
626      4
        ..
68743    0
68744    1
68747    0
68748    4
68749    0
Name: batsman_runs, Length: 1573, dtype: int64)
('GC Smith', 15871    0
15872    0
15877    0
15878    0
15883    0
        ..
65580    1
65583    1
65590    4
65591    0
65592    0
Name: batsman_runs, Length: 691, dtype: int64)
('GD McGrath', 19339    0
19340    0
26882    4
26883    0
26884    0
Name: batsman_runs, dtype: int64)
('GJ Bailey', 38772    0
38773    0
38774    4
38775    0
38776    0
        ..
45250    1
45251    4
45252    0
45253    2
45254    0
Name: batsman_runs, Length: 67, dtype: int64)
('GJ Maxwell', 910      1
912      1
915      6
916      1
918      4
        ..
11665    0
12611    0
12612    0
12613    0
12614    0
Name: batsman_runs, Length: 186, dtype: int64)
('GR Napier', 32052    1
32055    0
32056    2
32057    0
32058    0
32059    0
32061    1
32063    2
32064    0
32065    2
32068    1
32070    1
32073    0
32074    1
32076    4
32077    0
Name: batsman_runs, dtype: int64)
('H Das', 23784    0
23785    0
23786    1
23787    1
23791    0
Name: batsman_runs, dtype: int64)
('HH Gibbs', 17904    0
17905    1
17907    0
17908    0
17911    1
        ..
54946    0
54947    1
54952    0
54953    2
54954    0
Name: batsman_runs, Length: 746, dtype: int64)
('HH Pandya', 344      0
345      1
348      1
350      1
353      0
        ..
13691    0
13692    1
13694    1
13695    2
13696    0
Name: batsman_runs, Length: 172, dtype: int64)
('HM Amla', 838      0
839      0
840      4
841      1
843      0
        ..
10736    1
10740    4
10741    1
10743    6
10744    0
Name: batsman_runs, Length: 296, dtype: int64)
('Harbhajan Singh', 1670     1
2352     2
2353     0
2354     1
5623     1
        ..
69115    6
69116    0
69122    0
69123    1
69124    0
Name: batsman_runs, Length: 185, dtype: int64)
('Harmeet Singh', 55000    0
Name: batsman_runs, dtype: int64)
('Harpreet Singh', 63530    1
64078    0
64079    1
64081    1
64082    0
64083    1
64085    0
64086    0
64087    1
64088    1
64093    1
64094    1
64096    2
64097    1
64099    0
64103    0
64104    1
64107    1
64110    1
64112    0
Name: batsman_runs, dtype: int64)
('I Malhotra', 66058    1
66061    1
66063    4
66064    1
Name: batsman_runs, dtype: int64)
('I Sharma', 4549     1
4552     0
4553     1
4558     0
4559     0
4560     0
7594     4
7595     1
12663    0
12664    0
12669    0
12670    1
12671    0
16584    1
16590    1
16593    2
18369    1
23124    4
23125    0
23126    0
23127    0
23128    0
24331    2
26155    0
28025    0
28026    0
28028    0
28029    6
28030    1
28032    2
28035    0
28036    0
28040    0
29278    1
30738    1
30742    1
30747    4
42897    1
42901    0
42906    1
42909    1
42912    0
42913    0
42916    1
42918    0
42919    0
42921    0
42922    0
42923    1
42925    1
42926    0
42927    0
51300    0
51301    0
55818    1
56850    1
61616    0
61617    1
64488    1
Name: batsman_runs, dtype: int64)
('IK Pathan', 7932     1
7937     1
7942     0
14322    0
14324    1
        ..
69327    1
69331    0
69333    0
69334    1
69340    0
Name: batsman_runs, Length: 621, dtype: int64)
('IR Jaggi', 13381    0
13382    0
13386    1
13393    1
13397    1
        ..
56740    0
56741    1
56742    0
56743    2
56744    0
Name: batsman_runs, Length: 78, dtype: int64)
('Imran Tahir', 2113    0
2114    0
Name: batsman_runs, dtype: int64)
('Iqbal Abdulla', 1066     0
1067     1
1071     0
1073     0

('RA Jadeja', 4757     0
4758     0
4759     0
4760     0
4762     1
        ..
68548    0
68550    0
68551    1
68553    1
68555    0
Name: batsman_runs, Length: 723, dtype: int64)
('RA Tripathi', 2047     4
2048     0
2049     4
2050     0
2051     2
        ..
13745    0
13746    1
13748    1
13750    0
13752    0
Name: batsman_runs, Length: 275, dtype: int64)
('RD Chahar', 2953    1
2955    2
Name: batsman_runs, dtype: int64)
('RE van der Merwe', 31215    0
31216    0
31217    1
31220    6
31222    1
        ..
63652    1
63656    0
64854    1
64856    1
64858    0
Name: batsman_runs, Length: 119, dtype: int64)
('RG Sharma', 275      0
276      1
278      1
279      1
285      0
        ..
69024    0
69025    0
69026    4
69027    0
69030    0
Name: batsman_runs, Length: 1418, dtype: int64)
('RJ Harris', 33648    1
33657    0
33658    0
33659    0
34283    0
        ..
67905    2
67906    0
67907    0
69244    1
69251    1
Name: batsman_runs, Length: 95, dtype: int64)
('RJ Quiney', 29035    6
29036    0
30167    1
30173    2
30174    0
        ..
38656    1
38657    0
38658    0
39264    1
39266    0
Name: batsman_runs, Length: 105, dtype: int64)
('RN ten Doeschate', 62896    1
62898    0
62899    1
62901    0
62904    0
62905    1
62912    0
62914    4
62915    1
62916    1
62919    6
62920    4
62921    0
Name: batsman_runs, dtype: int64)
('RP Singh', 14914    1
14917    0
15399    1
18001    1
18004    1
        ..
55005    0
57688    0
61743    1
62801    0
63769    1
Name: batsman_runs, Length: 66, dtype: int64)
('RR Pant', 1131     6
1132     0
1133     0
1134     1
1135     0
        ..
12971    1
12974    6
12975    0
12976    0
12977    0
Name: batsman_runs, Length: 226, dtype: int64)
('RR Powar', 26969    0
26970    0
26975    0
26976    0
26978    1
        ..
66993    1
66994    2
66995    1
66997    0
66999    2
Name: batsman_runs, Length: 64, dtype: int64)
('RR Raje', 19221    1
19223    0
19224    4
19225    0
19226    1
23671    0
23672    1
26279    0
26282    1
34392    1
34395    1
34398    0
34399    1
34402    6
34404    1
34407    1
34970    1
34971    0
Name: batsman_runs, dtype: int64)
('RR Sarwan', 16057    0
16058    1
16061    0
16062    1
16063    1
        ..
21309    0
21313    0
21314    0
21315    1
21318    0
Name: batsman_runs, Length: 78, dtype: int64)
('RS Bopara', 27816    0
27817    0
27823    2
27827    0
27828    1
        ..
50060    1
50061    1
50063    1
50065    1
50067    1
Name: batsman_runs, Length: 347, dtype: int64)
('RS Gavaskar', 42874    0
42875    0
42876    1
42879    0
42880    1
42883    0
42885    0
42886    0
Name: batsman_runs, dtype: int64)
('RS Sodhi', 50932    4
50933    0
Name: batsman_runs, dtype: int64)
('RT Ponting', 13896    0
13897    0
13898    0
13899    0
13901    1
13903    2
13904    1
13908    1
13910    1
13916    1
13918    1
13920    1
13925    4
13926    0
13927    6
13928    0
13929    0
13934    0
13935    1
13936    0
14930    0
16484    0
17401    1
17404    0
17405    1
17410    0
17411    0
17412    1
17416    0
17417    1
17430    1
17435    0
17436    1
17438    0
17439    0
17440    1
17441    0
17442    0
17443    0
17444    1
17446    0
17448    4
17449    1
17453    0
17454    1
17459    1
17462    1
17465    1
17467    0
17468    1
17473    0
17474    1
17476    0
Name: batsman_runs, dtype: int64)
('RV Gomez', 56051    0
57661    0
57662    0
57663    0
57665    1
57667    2
57668    0
57669    0
57670    1
57675    1
57676    1
57679    2
57680    4
57681    1
57682    2
57683    4
57684    4
57685    0
57686    2
57687    1
60231    1
60233    0
60234    0
60235    0
60241    1
60243    1
60246    6
60247    1
60254    0
60256    0
61719    0
62707    0
65814    1
66959    0
66960    0
66961    0
66963    0
66966    0
66967    0
66968    0
66970    0
66971    4
66972    0
66973    0
66974    1
66975    1
66979    1
66981    0
66982    0
68590    1
68593    1
68597    0
Name: batsman_runs, dtype: int64)
('RV Uthappa', 1454     0
1455     4
1456     0
2522     0
2523     0
        ..
69572    4
69579    0
69580    0
69581    0
69582    0
Name: batsman_runs, Length: 1126, dtype: int64)
('Rashid Khan', 2231     1
2233     0
2237     1
2239     0
4436     6
10183    0
10184    1
10189    2
10192    0
Name: batsman_runs, dtype: int64)
('S Anirudha', 19794    0
19795    0
19796    0
19797    1
19806    0
        ..
61946    2
61950    0
61952    0
64367    2
64368    1
Name: batsman_runs, Length: 105, dtype: int64)
('S Aravind', 231      0
235      0
4057     0
4058     2
4059     2
4060     1
4061     0
4062     0
4065     1
6430     0
6431     4
6432     0
6434     1
7012     0
7013     1
7014     0
7015     1
7017     1
7021     0
7023     1
7025     0
7028     2
7029     0
7030     0
7031     0
7032     1
7034     1
7039     1
7041     0
7823     0
7829     2
7835     1
7836     1
7841     4
9901     1
9904     0
9912     2
9914     1
9916     0
9917     0
58055    0
58056    0
58057    1
58060    0
58061    1
Name: batsman_runs, dtype: int64)
('S Badree', 4056    0
6420    0
6428    0
6429    0
7006    1
7009    2
7010    0
7812    0
7813    0
7814    0
7815    0
7816    0
7817    1
7818    1
7822    0
9918    1
9919    0
9920    1
9926    2
9927    0
9928    1
9930    1
9934    1
9936    1
9939    0
Name: batsman_runs, dtype: int64)
('S Badrinath', 14184    0
14185    1
14188    1
14192    1
14193    0
        ..
68334    1
68337    6
68338    4
68339    2
68342    1
Name: batsman_runs, Length: 880, dtype: int64)
('S Chanderpaul', 14677    0
14678    1
14681    4
14682    4
14692    1
14697    1
14699    1
14703    4
14704    0
14705    0
14706    0
14707    0
16239    1
16241    0
16242    0
16243    0
16244    0
16247    0
16248    1
16252    0
16253    0
20581    0
20582    0
20583    0
20584    4
20585    1
20587    0
20588    0
20589    1
20591    1
20594    0
20595    0
20596    0
Name: batsman_runs, dtype: int64)
('S Dhawan', 5        0
6        0
7        1
14       1
18       1
        ..
69702    1
69708    0
69709    4
69710    1
69711    0
Name: batsman_runs, Length: 1173, dtype: int64)
('S Kaul', 10194    0
10195    0
Name: batsman_runs, dtype: int64)
('S Ladda', 43138    0
43141    0
43144    0
43145    0
43146    0
43147    0
43148    0
43153    0
43154    0
44564    0
Name: batsman_runs, dtype: int64)
('S Nadeem', 1203     0
1204     0
8212     0
12987    1
12990    0
12992    1
12995    0
12996    0
12997    0
66870    0
Name: batsman_runs, dtype: int64)
('S Narwal', 43261    0
46665    1
46667    1
47964    0
47965    4
47966    0
47967    0
47968    1
47971    0
47972    2
47973    4
47974    1
47979    0
Name: batsman_runs, dtype: int64)
('S Randiv', 60874    0
60875    2
60876    0
60877    0
Name: batsman_runs, dtype: int64)
('S Sohal', 15142    0
15149    2
15150    1
15154    1
16091    0
        ..
69707    1
69715    0
69716    1
69717    2
69718    0
Name: batsman_runs, Length: 311, dtype: int64)
('S Sreesanth', 16108    0
27002    0
27003    0
33915    0
33916    0
33917    0
33919    0
33920    0
33921    0
33922    4
33923    0
36671    0
36672    0
36673    0
36675    0
36676    0
36677    0
36678    0
36679    0
36681    0
36682    0
36685    1
41568    0
41569    0
41570    0
41571    0
41573    0
41574    0
41575    1
41580    4
41581    0
41582    1
41584    2
41585    2
41586    4
41587    0
41588    1
43839    4
43840    0
43841    0
43842    4
43843    4
45556    0
45563    0
57671    0
57672    0
57673    0
57674    0
57677    0
57678    1
62798    0
63767    0
63768    0
Name: batsman_runs, dtype: int64)
('S Sriram', 51306    1
51313    0
51314    0
51315    1
51319    0
51320    1
51324    0
51325    0
51328    1
51330    4
51333    4
51334    1
51347    1
51352    1
51354    1
51355    0
51356    1
51358    0
51359    0
51360    0
51361    0
51362    1
51365    4
51366    0
51367    1
51368    2
51369    1
51372    1
51375    0
51376    0
51377    0
69315    1
69317    0
69318    0
69319    2
69320    1
69321    0
69322    0
Name: batsman_runs, dtype: int64)
('S Tyagi', 42196    1
42200    1
42201    0
42202    1
Name: batsman_runs, dtype: int64)
('S Vidyut', 18395    4
18396    0
18397    1
18399    1
18402    0
        ..
27124    2
27125    6
27127    1
27132    0
27133    0
Name: batsman_runs, Length: 115, dtype: int64)
('SA Asnodkar', 18126    4
18127    0
18128    0
18132    4
18133    1
        ..
60513    1
60519    1
60522    0
60523    4
60524    0
Name: batsman_runs, Length: 352, dtype: int64)
('SA Yadav', 1501     1
1502     1
1505     1
1507     1
1508     1
        ..
13500    2
13501    1
13505    0
13511    1
13512    0
Name: batsman_runs, Length: 89, dtype: int64)
('SB Bangar', 14892    1
14894    0
14895    1
14906    6
14907    0
14909    0
14910    1
14912    1
14915    4
14916    0
15355    0
15356    0
15357    1
15359    0
15361    1
15363    1
15365    1
15366    1
15368    1
15371    1
15372    0
15373    0
15376    1
15378    0
17961    0
17962    0
17963    1
17964    0
17965    0
17966    1
17969    1
17970    0
20762    0
20763    2
20764    0
20766    1
20771    0
20772    0
21569    0
21570    1
21579    1
21582    0
25901    1
25903    1
25905    1
25906    1
25908    6
25909    6
25910    1
29219    0
29221    0
29222    0
29226    0
29227    1
29234    1
29237    0
29238    0
29239    0
Name: batsman_runs, dtype: int64)
('SB Jakati', 32833    0
32834    2
32835    0
32836    1
32837    1
32841    1
32844    4
32845    4
32846    0
37147    0
37148    0
37152    0
37153    1
37155    4
37156    1
37158    1
Name: batsman_runs, dtype: int64)
('SB Joshi', 14073    1
14078    0
14079    0
14080    0
14081    1
14083    1
14085    0
14086    0
16312    0
16313    0
16316    1
16319    1
16320    1
16323    0
16324    0
16325    0
Name: batsman_runs, dtype: int64)
('SB Styris', 14856    0
14857    1
14858    1
14860    0
14863    0
        ..
28621    2
28622    6
28623    0
55572    4
55573    1
Name: batsman_runs, Length: 134, dtype: int64)
('SB Wagh', 60007    2
60008    0
65693    0
Name: batsman_runs, dtype: int64)
('SC Ganguly', 13862    0
13875    0
13876    0
13877    0
13880    0
        ..
69567    0
69568    0
69569    0
69570    0
69571    0
Name: batsman_runs, Length: 1014, dtype: int64)
('SD Chitnis', 24670    2
24671    1
24675    1
24676    6
24677    4
24678    1
25285    1
25288    1
25293    1
25294    0
37375    0
37378    0
37379    1
37382    0
37385    0
37386    4
37387    1
37389    0
37394    0
67177    1
67178    0
67179    4
67180    1
67183    1
67184    0
67185    1
67195    1
67196    0
Name: batsman_runs, dtype: int64)
('SE Bond', 42888    1
42896    0
Name: batsman_runs, dtype: int64)
('SE Marsh', 5056     0
5057     4
5058     0
5059     1
5061     1
        ..
69208    1
69210    4
69211    0
69213    0
69214    0
Name: batsman_runs, Length: 1059, dtype: int64)
('SJ Srivastava', 45564    0
47403    1
67200    1
67910    1
67913    2
Name: batsman_runs, dtype: int64)
('SK Raina', 515      0
516      1
520      1
526      4
527      0
        ..
68240    1
68242    1
68254    0
68255    2
68256    0
Name: batsman_runs, Length: 1576, dtype: int64)
('SK Trivedi', 14440    0
14441    0
14442    0
14443    1
14445    0
14446    1
14454    1
20120    1
20125    0
20126    0
26784    0
26785    1
31970    1
31973    1
31977    0
36286    0
36287    1
36288    0
36289    0
36290    0
38747    0
38748    1
38752    0
38753    1
38755    1
38759    0
38760    2
38761    1
38763    0
38764    0
38770    0
43281    0
47997    0
47998    0
47999    0
48000    6
48003    1
49580    0
49581    0
49582    0
49583    4
49585    1
49587    4
49588    0
53682    4
53683    0
59372    0
59374    0
Name: batsman_runs, dtype: int64)
('SK Warne', 14423    0
14424    1
14426    1
14427    0
14428    0
        ..
69450    0
69451    0
69452    0
69453    1
69455    0
Name: batsman_runs, Length: 219, dtype: int64)
('SL Malinga', 8091     0
13247    1
13249    6
37530    0
55453    1
63161    0
63162    0
63163    1
63164    0
Name: batsman_runs, dtype: int64)
('SM Harwood', 32714    0
32716    2
32717    0
32718    1
32720    0
32721    0
32722    0
35446    1
35450    0
35452    2
35453    1
35455    0
35457    1
35460    1
Name: batsman_runs, dtype: int64)
('SM Katich', 14303    1
14305    2
14306    0
14309    1
14311    0
        ..
39658    0
39659    0
39660    0
39662    1
39665    0

Name: batsman_runs, Length: 191, dtype: int64)
('SM Pollock', 14658    4
14662    4
14663    6
14664    1
14665    1
        ..
25280    1
25281    1
25283    4
25284    0
26264    0
Name: batsman_runs, Length: 116, dtype: int64)
('SN Thakur', 2952     0
3925     0
10071    0
Name: batsman_runs, dtype: int64)
('SP Fleming', 18373    0
18374    0
18375    0
18376    3
18378    0
        ..
26548    0
26549    0
26550    1
26559    4
26560    0
Name: batsman_runs, Length: 171, dtype: int64)
('SP Goswami', 20898    1
20900    0
20901    0
20902    1
20903    2
        ..
62827    1
62832    4
62835    0
62836    1
62839    0
Name: batsman_runs, Length: 181, dtype: int64)
('SP Jackson', 7344    1
7345    4
7346    2
7347    1
7350    4
8463    0
8464    0
8465    1
8466    1
8468    0
8469    1
8471    4
8477    1
8478    0
8479    1
8483    1
8485    1
8489    1
8496    2
8498    1
8500    1
8502    0
9248    0
9249    1
9250    0
9251    4
9252    0
9253    0
9254    1
9260    4
9261    0
Name: batsman_runs, dtype: int64)
('SP Narine', 1540     1
1551     0
2485     0
2486     0
2487     4
        ..
13428    6
13429    1
13432    0
13433    0
13435    0
Name: batsman_runs, Length: 135, dtype: int64)
('SPD Smith', 393      0
394      1
396      2
397      0
399      1
        ..
13850    1
13852    1
13854    6
13855    2
13858    0
Name: batsman_runs, Length: 400, dtype: int64)
('SR Tendulkar', 21015    1
21017    0
21025    0
21026    0
21027    0
        ..
69087    0
69093    4
69094    1
69096    1
69098    0
Name: batsman_runs, Length: 1388, dtype: int64)
('SR Watson', 200      1
203      2
204      1
207      0
210      1
        ..
69422    0
69423    6
69424    6
69427    1
69429    0
Name: batsman_runs, Length: 726, dtype: int64)
('SS Iyer', 3364     0
3365     0
3366     1
3371     0
3372     0
        ..
12938    1
12940    0
12941    1
12945    1
12947    0
Name: batsman_runs, Length: 249, dtype: int64)
('SS Shaikh', 39441    0
39442    0
39443    0
39447    4
39448    1
39450    0
39451    1
Name: batsman_runs, dtype: int64)
('SS Tiwary', 12328    0
12329    0
12330    0
12331    1
12335    4
        ..
68868    0
68869    1
68871    0
68873    0
68874    0
Name: batsman_runs, Length: 499, dtype: int64)
('ST Jayasuriya', 14560    1
14566    0
14567    4
14568    0
14569    1
        ..
44096    0
44097    0
51651    0
51652    1
51660    0
Name: batsman_runs, Length: 573, dtype: int64)
('STR Binny', 213      1
214      1
216      0
217      0
218      1
        ..
65325    1
65327    2
65328    0
65329    2
65330    1
Name: batsman_runs, Length: 113, dtype: int64)
('SV Samson', 1118     3
1120     1
1121     1
1123     0
1124     1
        ..
11852    1
11854    0
11855    1
12876    0
12877    0
Name: batsman_runs, Length: 275, dtype: int64)
('SW Billings', 1088    0
1089    4
1090    3
1091    0
1092    0
       ..
4941    0
4942    4
4943    0
8109    0
8110    0
Name: batsman_runs, Length: 107, dtype: int64)
('SW Tait', 46666    1
47981    1
47984    0
47985    6
47986    0
47987    1
47989    0
47990    0
47991    1
47993    1
48001    0
48002    1
48004    0
59371    0
69461    1
69464    0
69465    1
69470    1
69474    1
69480    0
69481    1
69486    4
69487    1
Name: batsman_runs, dtype: int64)
('Sachin Baby', 208      0
209      1
211      0
7767     0
7768     1
7769     1
7772     0
12850    1
12855    2
12856    1
12858    0
12859    4
12862    0
12863    4
12864    0
12865    0
12866    0
Name: batsman_runs, dtype: int64)
('Salman Butt', 18250    2
18251    0
18252    0
18253    1
18256    4
        ..
26058    1
26061    4
26062    4
26070    0
26071    0
Name: batsman_runs, Length: 172, dtype: int64)
('Sandeep Sharma', 3561    1
3563    1
4551    1
4554    1
4555    2
4556    0
4557    1
Name: batsman_runs, dtype: int64)
('Shahid Afridi', 15338    0
15339    0
15340    0
15341    0
15351    1
15353    1
15354    0
15755    0
15756    4
15757    6
15758    0
17941    1
17943    1
17948    0
17949    1
17951    4
17955    6
17956    0
20017    0
20019    0
20020    6
20021    4
20022    6
20023    4
20756    1
20759    0
20760    0
22917    0
22918    4
22919    0
22920    1
22931    5
22933    4
22934    1
22939    6
22945    4
22947    0
22948    1
22950    6
22951    1
22952    0
23683    0
25893    1
25894    0
26533    1
26536    0
Name: batsman_runs, dtype: int64)
('Shakib Al Hasan', 5400     1
60334    1
60335    1
60340    0
60345    0
60346    0
Name: batsman_runs, dtype: int64)
('Shoaib Ahmed', 31603    0
31604    0
31605    0
33668    0
33669    1
37039    0
Name: batsman_runs, dtype: int64)
('Shoaib Akhtar', 23117    0
23118    0
23119    0
23121    1
23130    0
23131    1
23132    0
23133    0
Name: batsman_runs, dtype: int64)
('Shoaib Malik', 16919    4
16920    0
16921    0
16922    1
16927    0
16928    1
16929    4
16930    1
16932    1
16935    0
16936    0
16937    4
16938    0
16939    1
16943    0
16944    2
16945    0
16946    0
16948    0
17733    1
17736    4
17737    1
17738    0
19265    1
19267    0
19268    1
19270    2
19271    1
19273    2
19274    1
19276    4
19277    2
19278    1
19281    0
19284    1
19286    1
19288    1
19291    0
19292    1
19295    1
19298    1
19304    1
19308    1
19311    1
19312    0
20341    1
20345    1
20346    0
23244    1
Name: batsman_runs, dtype: int64)
('Sohail Tanvir', 18245    1
18247    1
18249    1
20111    0
20112    0
20114    1
20116    4
20117    1
20119    0
24346    0
24347    1
24353    1
24359    4
24360    6
24361    1
24362    0
24363    0
26706    0
26707    4
26708    0
26709    1
26716    0
27335    0
27336    1
27339    1
27341    2
27342    1
27344    1
27347    0
27349    2
27350    1
Name: batsman_runs, dtype: int64)
('Sunny Singh', 56421    4
56422    4
56423    0
56429    0
56434    4
56435    0
57515    1
57517    1
57519    1
57521    4
57522    1
57523    1
57526    6
57527    4
57528    0
57530    1
57534    0
60497    1
60499    4
60500    0
60502    0
60503    0
61364    0
61365    1
61368    1
61370    0
66345    1
66347    2
66351    1
66353    0
66357    0
Name: batsman_runs, dtype: int64)
('Swapnil Singh', 11218    2
11220    0
12637    1
12639    0
12640    2
12642    1
12644    0
12645    0
12646    1
12647    1
12651    1
12653    0
12654    1
12656    1
12658    1
12659    0
12660    0
12661    0
12662    0
Name: batsman_runs, dtype: int64)
('T Henderson', 27744    0
27745    0
27747    0
27748    0
27749    2
27750    0
27751    0
27752    0
27757    0
27758    0
27766    6
27767    1
27771    1
27772    1
27774    0
39327    0
Name: batsman_runs, dtype: int64)
('T Kohli', 14335    0
14336    0
14337    0
14338    0
14339    0
14340    0
14341    6
14343    0
14344    0
14345    1
14348    0
14349    0
14350    0
25532    1
25534    1
25541    1
28443    0
28447    0
28448    1
28451    0
Name: batsman_runs, dtype: int64)
('T Taibu', 20525    2
20526    0
20528    0
20529    1
20533    2
20534    4
20535    1
20537    0
20538    4
20541    0
20542    1
20546    0
21480    1
21483    2
21484    2
21486    4
21487    0
22173    1
22175    1
22177    0
22178    1
22180    0
22181    1
22184    0
22185    2
22186    1
Name: batsman_runs, dtype: int64)
('T Thushara', 27592    0
27593    0
27594    1
39614    0
39615    0
39616    0
39617    0
39621    1
46787    0
46788    1
46790    1
51044    1
51046    0
51048    0
51049    1
51051    2
51052    2
51054    2
51055    0
Name: batsman_runs, dtype: int64)
('TA Boult', 12569    2
12570    0
12571    0
12573    2
12574    0
12575    0
12576    0
12577    1
Name: batsman_runs, dtype: int64)
('TD Paine', 59914    0
59915    0
59916    1
59917    1
59921    0
59922    0
59926    0
59929    0
59930    0
63408    0
63409    1
63411    0
63412    0
63413    1
63414    0
63415    0
63416    0
63417    0
63418    1
63427    1
63428    0
63429    0
63430    1
63432    1
63434    1
63436    0
63437    1
63439    0
63440    0
Name: batsman_runs, dtype: int64)
('TG Southee', 362    1
364    0
365    6
Name: batsman_runs, dtype: int64)
('TL Suman', 31548    1
31551    0
31552    1
31554    1
31558    0
        ..
69089    0
69090    0
69091    0
69092    6
69095    0
Name: batsman_runs, Length: 493, dtype: int64)
('TM Dilshan', 21704    1
21706    1
21708    0
21709    0
21710    0
        ..
68156    1
68157    0
68158    2
68159    0
68160    0
Name: batsman_runs, Length: 676, dtype: int64)
('TM Head', 161      2
162      0
166      0
167      1
169      4
        ..
10526    6
10527    6
10528    4
12829    1
12833    1
Name: batsman_runs, Length: 109, dtype: int64)
('TM Srivastava', 17117    0
17118    1
17120    0
17121    1
17124    1
17127    0
17128    1
17129    3
17132    0
26037    1
32477    0
Name: batsman_runs, dtype: int64)
('TR Birt', 62994    0
62995    0
62997    1
62999    0
63000    0
63001    1
63002    2
63003    2
63004    1
63007    1
63008    0
63624    2
63625    1
63626    0
63631    1
63633    0
63634    0
63635    1
63639    4
63640    0
63641    4
63642    1
63644    6
63648    0
64830    1
64833    2
64834    1
64835    4
64836    1
64838    1
64840    0
64842    0
64843    4
64844    1
64846    4
64849    4
64850    0
64851    4
64852    0
66109    0
66110    0
66111    0
66112    0
66113    0
66114    1
66125    1
66133    2
66135    0
69347    0
69348    4
69349    0
69350    0
69352    4
69353    2
69354    0
69357    0
69358    0
69359    6
69360    0
Name: batsman_runs, dtype: int64)
('TS Mills', 238     0
241     6
242     0
1081    0
1082    0
1083    0
6424    0
6425    0
6426    1
6427    1
6433    0
Name: batsman_runs, dtype: int64)
('U Kaul', 21366    0
Name: batsman_runs, dtype: int64)
('UBT Chand', 56189    0
56190    0
56884    0
56885    0
56886    0
56887    0
56888    0
56889    0
56890    0
56892    1
56894    1
56897    0
Name: batsman_runs, dtype: int64)
('UT Yadav', 6368     0
6369     2
6370     0
6371     0
9355     1
9357     1
12563    1
12565    1
12566    1
12572    1
13513    1
13518    0
13519    1
44560    0
44561    1
44565    1
44568    1
56278    0
56279    0
56281    0
56282    0
56283    0
63051    1
Name: batsman_runs, dtype: int64)
('Umar Gul', 18363    1
18367    1
20573    6
20574    0
24323    1
24326    0
24327    6
24328    0
26135    0
26136    6
26137    6
26142    0
26143    1
26144    1
26146    0
26147    4
26148    6
26149    0
26152    0
Name: batsman_runs, dtype: int64)
('V Kohli', 2590     0
2591     1
2593     0
2594     1
2597     0
        ..
68836    4
68837    0
68838    1
68841    1
68843    0
Name: batsman_runs, Length: 1206, dtype: int64)
('V Sehwag', 14463    4
14464    4
14465    4
14466    0
15404    1
        ..
66171    0
66745    0
66746    1
66748    1
66757    0
Name: batsman_runs, Length: 849, dtype: int64)
('V Shankar', 2228     1
2230     0
11085    2
11086    1
11089    1
        ..
13351    1
13353    4
13354    1
13357    1
13359    0
Name: batsman_runs, Length: 77, dtype: int64)
('VR Aaron', 2476     1
2478     0
2479     2
2480     1
2483     0
2484     0
9821     0
9822     0
9823     0
9824     0
9825     0
69367    0
69368    0
69369    0
69374    0
69375    0
Name: batsman_runs, dtype: int64)
('VRV Singh', 16109    4
16110    0
21365    0
Name: batsman_runs, dtype: int64)
('VS Malik', 47388    0
47389    1
47396    1
47398    4
47399    0
Name: batsman_runs, dtype: int64)
('VS Yeligati', 24681    2
24682    0
Name: batsman_runs, dtype: int64)
('VVS Laxman', 14823    0
14824    0
14825    0
14826    0
14828    0
        ..
61629    0
61630    0
61633    2
61634    1
61638    1
Name: batsman_runs, Length: 271, dtype: int64)
('VY Mahesh', 17016    2
17017    1
17020    1
17022    1
17026    1
19333    0
19334    0
19335    2
19337    0
19338    1
21739    0
22311    1
22313    0
22314    1
22317    1
22320    0
22321    0
22322    0
26870    0
26871    0
26872    1
26873    0
26874    1
26876    0
26877    0
26878    1
26879    0
26880    0
Name: batsman_runs, dtype: int64)
('Vishnu Vinod', 1054     1
1056     1
1060     1
1062     6
1063     0
1679     0
1680     1
1684     0
1685     0
1686     0
1687     1
1690     0
1691     4
1692     1
1696     0
1697     0
1698     0
12761    0
12765    1
12768    0
12769    0
12770    1
12773    0
12775    1
12777    0
12778    0
Name: batsman_runs, dtype: int64)
('W Jaffer', 13987    0
13988    0
13989    1
13991    0
13992    0
        ..
34419    4
34420    0
34421    1
34422    0
34423    0
Name: batsman_runs, Length: 129, dtype: int64)
('WA Mota', 15157    1
26941    0
26942    0
26943    1
26947    0
        ..
39711    0
39712    0
39713    2
39714    1
39718    0
Name: batsman_runs, Length: 76, dtype: int64)
('WD Parnell', 57784    0
57785    0
57787    0
57788    0
57789    0
57790    1
59140    0
59141    0
59142    1
59144    0
59145    0
59146    1
59148    4
59149    2
59150    1
59151    1
59988    2
59989    1
59993    1
59995    0
59996    1
60002    0
60003    4
60004    0
69627    0
69629    1
69631    1
69633    0
69634    1
69635    0
69636    0
69637    1
69641    2
69642    0
69643    0
69644    1
69648    0
69651    1
69656    0
69657    6
69658    2
Name: batsman_runs, dtype: int64)
('WP Saha', 858      0
859      4
860      0
861      1
864      1
        ..
51283    1
51285    0
51288    0
52492    1
52495    0
Name: batsman_runs, Length: 407, dtype: int64)
('WPUJC Vaas', 14913    0
15394    1
15396    0
15398    1
15400    2
        ..
54135    0
54137    1
54138    1
54140    1
54143    0
Name: batsman_runs, Length: 73, dtype: int64)
('Washington Sundar', 6557     2
6558     0
9472     0
9473     0
9474     1
10068    1
10072    0
10073    0
12089    1
12091    2
12092    2
13859    0
Name: batsman_runs, dtype: int64)
('Y Nagar', 39090    1
39092    1
39093    0
39094    1
39097    0
        ..
69356    0
69361    4
69362    0
69363    4
69366    0
Name: batsman_runs, Length: 137, dtype: int64)
('Y Venugopal Rao', 14801    0
14802    2
14803    0
14804    0
14805    0
        ..
69330    1
69332    6
69335    0
69336    0
69337    0
Name: batsman_runs, Length: 670, dtype: int64)
('YA Abdulla', 41589    0
Name: batsman_runs, dtype: int64)
('YK Pathan', 1475     0
1476     0
1477     0
1480     0
1481     2
        ..
68786    6
68787    1
68790    1
68791    0
68792    0
Name: batsman_runs, Length: 907, dtype: int64)
('YS Chahal', 236     0
237     0
239     0
240     1
243     1
244     0
245     1
4064    1
4066    0
6435    0
6436    0
7042    0
7043    1
7830    0
7831    0
7832    0
7833    0
7834    1
7837    0
7838    2
7839    0
7840    1
9940    1
9942    1
9945    1
9947    1
Name: batsman_runs, dtype: int64)
('YV Takawale', 19103    0
19104    0
19105    0
19109    0
19110    1
        ..
37429    0
37430    1
37432    1
37434    0
37435    0
Name: batsman_runs, Length: 91, dtype: int64)
('Yashpal Singh', 29241    0
29242    0
29243    2
29244    0
29245    1
        ..
39409    0
39410    0
39411    0
39412    0
39413    0
Name: batsman_runs, Length: 67, dtype: int64)
('Younis Khan', 22677    1
22679    1
22680    0
22681    0
22682    0
22683    1
22697    0
Name: batsman_runs, dtype: int64)
('Yuvraj Singh', 66       2
67       2
69       0
70       1
72       4
        ..
69616    1
69619    0
69620    1
69625    0
69626    0
Name: batsman_runs, Length: 1145, dtype: int64)
('Z Khan', 1206     1
10389    0
10393    1
10398    0
10399    0
        ..
55450    0
55451    1
57953    0
57954    0
57955    0
Name: batsman_runs, Length: 83, dtype: int64)

In [11]:
trbb.get_group("V Kohli").sum()

1428

# Find Total Runs of Your Fav Player.

In [12]:
trbb.get_group("AB de Villiers").sum()

1115

# Extra Runs Given By All Bowlers in a League.

In [13]:
df.groupby(["bowler"])["extra_runs"].sum()

bowler
A Choudhary      7
A Flintoff       1
A Kumble        62
A Mishra        60
A Mithun        19
                ..
YA Abdulla      17
YK Pathan       50
YS Chahal       30
Yuvraj Singh    11
Z Khan          89
Name: extra_runs, Length: 285, dtype: int64

# Extra Runs Given By TS Mills.

In [14]:
# erbb = EXTRA RUNS BY BOWLERS

erbb = df.groupby(["bowler"])["extra_runs"]

for i in erbb:
    print(i)

('A Choudhary', 7        0
8        0
9        1
10       0
11       0
        ..
10579    0
10580    0
10581    0
10582    0
10583    0
Name: extra_runs, Length: 108, dtype: int64)
('A Flintoff', 27375    0
27376    0
27377    0
27378    0
27379    0
        ..
28887    0
28888    0
28889    0
28890    0
28891    0
Name: extra_runs, Length: 66, dtype: int64)
('A Kumble', 16406    0
16407    0
16408    0
16409    0
16410    0
        ..
55074    0
55075    0
55119    0
55120    0
55121    0
Name: extra_runs, Length: 983, dtype: int64)
('A Mishra', 1004     0
1005     0
1006     0
1007     0
1008     0
        ..
69642    0
69643    0
69644    0
69645    0
69646    0
Name: extra_runs, Length: 1251, dtype: int64)
('A Mithun', 35607    1
35608    1
35609    0
35610    0
35611    0
        ..
68768    0
68769    1
68770    0
68771    0
68772    0
Name: extra_runs, Length: 179, dtype: int64)
('A Nehra', 125      0
126      0
127      0
128      0
129      0
        ..
54151    0
54152    0
54153    0
54154    0
54155    0
Name: extra_runs, Length: 823, dtype: int64)
('A Nel', 25324    0
25325    0
25326    0
25327    0
25328    0
25329    0
25336    0
25337    0
25338    0
25339    0
25340    0
25341    0
25409    0
25410    0
25411    0
25412    0
25413    0
25414    0
Name: extra_runs, dtype: int64)
('A Singh', 33796    0
33797    0
33798    0
33799    0
33800    1
        ..
67424    0
67425    0
67426    0
67427    0
67428    0
Name: extra_runs, Length: 270, dtype: int64)
('A Symonds', 14987    0
14988    4
14989    0
14990    1
14991    5
        ..
66820    0
66821    0
66822    0
66823    0
66824    0
Name: extra_runs, Length: 540, dtype: int64)
('A Uniyal', 41231    1
41232    0
41233    0
41234    0
41235    0
41236    0
41237    0
41247    0
41248    0
41249    0
41250    0
41251    0
41252    0
41314    0
41315    1
41316    0
41317    0
41318    0
41319    0
41320    0
41328    0
41329    0
41330    0
41331    0
41332    0
41333    0
42372    0
42373    0
42374    0
42375    0
42376    0
42377    0
42433    0
42434    0
42435    0
42436    0
42437    0
42438    1
Name: extra_runs, dtype: int64)
('A Zampa', 297      0
298      0
299      0
300      0
301      0
        ..
13690    0
13691    0
13692    0
13693    0
13694    0
Name: extra_runs, Length: 122, dtype: int64)
('AA Chavan', 69522    4
69523    0
69524    0
69525    0
69526    0
69527    0
Name: extra_runs, dtype: int64)
('AA Jhunjhunwala', 41290    0
41291    0
41292    0
41293    0
41294    0
41295    0
41302    0
41303    0
41304    0
41305    0
41306    0
41307    0
42439    0
45821    1
45822    0
45823    0
45824    0
45825    0
45826    1
45827    0
45828    0
48552    0
48553    0
48554    0
48555    0
48556    0
48557    0
48564    0
48565    0
48566    0
48567    0
48568    0
48569    0
51684    0
51685    0
51686    0
51687    0
51688    0
51689    0
59220    1
59221    0
59222    0
59223    0
59224    0
59225    0
59226    0
67136    0
67137    0
67138    0
67139    0
67140    0
67141    0
Name: extra_runs, dtype: int64)
('AA Kazi', 68063    0
68064    0
68065    0
68066    0
68067    0
68068    0
68075    0
68076    0
68077    1
68078    0
68079    0
68080    0
68081    0
Name: extra_runs, dtype: int64)
('AA Noffke', 13881    5
13882    0
13883    1
13884    0
13885    0
13886    0
13887    0
13900    0
13901    0
13902    0
13903    0
13904    0
13905    0
13956    0
13957    0
13958    0
13959    0
13960    0
13961    0
13968    0
13969    0
13970    0
13971    0
13972    0
13973    0
Name: extra_runs, dtype: int64)
('AB Agarkar', 14012    0
14013    0
14014    0
14015    0
14016    0
        ..
68335    0
68336    0
68337    0
68338    0
68339    0
Name: extra_runs, Length: 667, dtype: int64)
('AB Dinda', 248      1
249      0
250      0
251      0
252      0
        ..
62235    0
62236    0
62324    0
62325    0
62326    0
Name: extra_runs, Length: 711, dtype: int64)
('AB McDonald', 39186    0
39187    0
39188    0
39189    0
39190    0
        ..
68291    0
68292    0
68293    0
68294    0
68295    0
Name: extra_runs, Length: 115, dtype: int64)
('AC Thomas', 56399    0
56400    0
56401    0
56402    0
56403    0
        ..
65560    1
65561    0
65562    0
65563    0
65564    0
Name: extra_runs, Length: 203, dtype: int64)
('AC Voges', 44003    0
44004    0
44005    0
44006    0
44007    0
44008    0
45515    0
45516    0
45517    0
45518    0
45519    0
45520    0
45527    0
45528    0
45529    0
45530    0
45531    0
45532    0
45898    0
45899    0
45900    0
45901    0
45902    0
45903    0
45917    0
45918    0
45919    0
45920    0
45921    0
45922    0
46747    0
46748    0
46749    0
46750    0
46751    0
46752    0
47784    0
47785    0
47786    1
47787    0
47788    0
47789    0
47790    0
52763    0
52764    0
52765    0
52766    0
52767    0
52768    0
53763    0
53764    0
53765    1
53766    0
53767    0
53768    0
53769    0
Name: extra_runs, dtype: int64)
('AD Mascarenhas', 21619    0
21620    0
21621    0
21622    0
21623    0
        ..
42379    0
42380    0
42381    0
42382    0
42383    0
Name: extra_runs, Length: 189, dtype: int64)
('AD Mathews', 4251     1
4252     0
4253     0
4254     0
4255     0
        ..
52584    1
52585    0
52586    0
52587    0
52588    0
Name: extra_runs, Length: 276, dtype: int64)
('AF Milne', 3817    0
3818    0
3819    0
3820    0
3821    0
       ..
8693    0
8694    0
8695    0
8696    0
8697    0
Name: extra_runs, Length: 90, dtype: int64)
('AG Murtaza', 41370    0
41371    0
41372    0
41373    0
41374    0
        ..
63249    0
63250    0
63251    0
63252    0
63253    0
Name: extra_runs, Length: 195, dtype: int64)
('AJ Finch', 53751    0
53752    0
53753    0
53754    0
53755    0
53756    0
53788    0
56373    0
56374    0
56375    1
56376    0
56377    0
56378    0
56379    0
56386    0
56387    0
56388    0
56389    0
56390    0
56391    0
Name: extra_runs, dtype: int64)
('AJ Tye', 2864    0
2865    0
2866    0
2867    0
2868    0
       ..
8002    0
8003    0
8004    0
8005    0
8006    0
Name: extra_runs, Length: 128, dtype: int64)
('AL Menaria', 55784    0
55785    0
55786    0
55787    0
55788    0
        ..
68213    0
68214    0
68215    0
68216    0
68217    0
Name: extra_runs, Length: 87, dtype: int64)
('AM Nayar', 14751    0
14752    0
14753    0
14754    0
14755    0
        ..
66263    0
66264    0
66265    0
66266    0
66267    0
Name: extra_runs, Length: 183, dtype: int64)
('AM Rahane', 36647    0
36648    0
36649    0
36650    0
36651    0
36652    0
Name: extra_runs, dtype: int64)
('AM Salvi', 27824    0
27825    0
27826    0
27827    0
27828    0
        ..
69247    0
69248    0
69249    0
69250    0
69251    0
Name: extra_runs, Length: 156, dtype: int64)
('AN Ahmed', 49753    5
49754    0
49755    0
49756    0
49757    0
        ..
64699    0
64700    0
64701    0
64702    0
64703    0
Name: extra_runs, Length: 88, dtype: int64)
('AP Dole', 49605    0
49606    0
49607    0
49608    0
49609    0
        ..
51762    0
51763    0
51764    0
51765    1
51766    0
Name: extra_runs, Length: 73, dtype: int64)
('AR Patel', 743      0
744      0
745      0
746      0
747      0
        ..
12720    0
12721    0
12722    0
12723    0
12724    0
Name: extra_runs, Length: 294, dtype: int64)
('AS Rajpoot', 1606     0
1607     0
1608     0
1609     0
1610     0
        ..
13605    0
13606    0
13607    1
13608    0
13609    0
Name: extra_runs, Length: 87, dtype: int64)
('AS Raut', 32572    0
32573    0
32574    0
32575    0
32576    0
32577    0
34504    0
34505    0
34506    0
34507    0
34508    0
34509    0
36153    0
36154    0
36155    0
36156    0
36157    0
36158    0
38601    0
38602    0
38603    1
38604    0
38605    0
38606    0
60457    0
60458    0
60459    0
60460    0
60461    0
60462    0
Name: extra_runs, dtype: int64)
('AUK Pathan', 56010    0
56011    0
56012    5
56013    0
56014    0
56015    0
56016    1
56017    0
56024    0
56025    0
56026    0
56027    0
56028    0
56029    0
57283    0
57284    0
57285    0
57286    0
57287    0
57288    0
57301    0
57302    0
57303    0
57304    0
57305    0
57306    0
57313    0
57314    0
57315    0
57316    0
57317    0
57318    0
57325    0
57326    0
57327    0
Name: extra_runs, dtype: int64)
('Abdur Razzak', 23341    1
23342    0
23343    0
23344    0
23345    0
23346    0
23347    0
23379    0
23380    0
23381    0
23382    0
23383    0
23384    5
23385    0
Name: extra_runs, dtype: int64)
('Anand Rajan', 69040    0
69041    0
69042    0
69043    1
69044    1
69045    0
69046    0
69047    0
69093    0
69094    0
69095    0
69096    0
69097    0
69098    0
69117    0
69118    1
69119    0
69120    0
69121    0
69122    1
69123    0
69124    0
Name: extra_runs, dtype: int64)
('Ankit Sharma', 2956    0
2957    0
2958    0
2959    0
2960    0
2961    0
Name: extra_runs, dtype: int64)
('Ankit Soni', 6965     0
6966     0
6967     0
6968     0
6969     0
        ..
12287    0
12288    0
12289    0
12290    0
12327    0
Name: extra_runs, Length: 112, dtype: int64)
('Anureet Singh', 7360     0
7361     0
7362     0
7363     0
7364     0
7365     0
7402     0
7403     0
7404     0
7405     0
7406     0
7407     0
29029    0
29030    0
29031    0
29032    0
29033    0
29034    0
29041    0
29042    0
29043    0
29044    0
29045    0
29046    0
29127    0
29128    0
29129    1
29130    0
29131    0
29132    1
29133    0
29134    0
29143    0
29144    0
29145    0
29146    0
29147    0
29148    0
38777    0
38778    0
38779    1
38780    0
38781    0
38782    0
38783    1
38784    0
Name: extra_runs, dtype: int64)
('Avesh Khan', 12876    0
12877    0
12878    0
12879    0
12880    0
12881    0
12888    0
12889    0
12890    0
12891    0
12892    0
12893    0
12919    0
12920    0
12921    0
12922    0
12923    0
12924    0
12986    0
12987    0
12988    0
12989    0
12990    1
12991    0
Name: extra_runs, dtype: int64)
('B Akhil', 14598    0
14599    0
14600    0
14601    0
14602    0
        ..
63628    0
63629    0
63630    0
63631    0
63632    0
Name: extra_runs, Length: 193, dtype: int64)
('B Chipli', 66158    0
66159    0
66160    0
66161    0
66162    0
66163    0
Name: extra_runs, dtype: int64)
('B Geeves', 14342    0
14343    0
14344    0
14345    0
14346    0
14347    0
14354    0
14355    0
14356    0
14357    0
14358    0
14359    0
14415    0
14416    0
14417    0
14418    0
14419    0
14420    0
14427    0
14428    0
14429    0
14430    0
14431    0
14432    0
25179    0
25180    1
25181    0
25182    0
25183    0
25184    0
25185    0
25192    0
25193    0
25194    0
25195    0
25196    0
25197    0
25239    0
25240    0
25241    0
25242    0
25243    0
25244    0
25263    0
25264    0
25265    0
25266    0
25267    0
25268    0
Name: extra_runs, dtype: int64)
('B Kumar', 131      0
132      0
133      0
134      0
135      0
        ..
69673    0
69674    0
69675    0
69676    0
69677    0
Name: extra_runs, Length: 372, dtype: int64)
('B Lee', 14087    0
14088    0
14089    0
14090    0
14091    0
        ..
68824    1
68825    0
68826    0
68827    0
68828    0
Name: extra_runs, Length: 533, dtype: int64)
('B Stanlake', 1084    0
1085    1
1086    0
1087    0
1088    0
1089    0
1090    0
1097    0
1098    0
1099    0
1100    0
1101    0
1102    0
1115    0
1116    0
1117    0
1118    0
1119    0
1120    0
1147    0
1148    0
1149    0
1150    0
1151    0
1152    0
1801    0
1802    0
1803    0
1804    0
1805    0
1806    0
1813    1
1814    0
1815    0
1816    0
1817    0
1818    0
1819    0
1826    0
1827    0
1828    0
1829    0
1830    0
1831    0
1881    0
1882    0
1883    0
1884    0
1885    0
1886    0
Name: extra_runs, dtype: int64)
('BA Bhatt', 57388    0
57389    0
57390    1
57391    0
57392    0
        ..
68575    2
68576    0
68577    0
68578    0
68579    0
Name: extra_runs, Length: 154, dtype: int64)
('BA Stokes', 267      0
268      0
269      0
270      0
271      0
        ..
12666    0
12667    0
12668    0
12669    0
12670    0

Name: extra_runs, Length: 274, dtype: int64)
('BAW Mendis', 25926    0
25927    0
25928    0
25929    0
25930    0
        ..
51406    0
51407    0
51408    0
51409    0
51410    0
Name: extra_runs, Length: 176, dtype: int64)
('BB Sran', 4443    0
4444    0
4445    0
4446    0
4447    0
4448    0
4523    0
4524    1
4525    0
4526    0
4527    0
4528    0
4529    0
Name: extra_runs, dtype: int64)
('BCJ Cutting', 150     0
151     0
152     0
153     1
154     0
       ..
3169    0
3170    0
3171    0
3172    0
3173    0
Name: extra_runs, Length: 79, dtype: int64)
('BJ Hodge', 30589    0
30590    0
30591    0
30592    0
30593    0
        ..
69469    0
69470    0
69471    0
69472    0
69473    0
Name: extra_runs, Length: 202, dtype: int64)
('Basil Thampi', 1383     0
1384     0
1385     1
1386     0
1387     0
        ..
11585    0
11592    2
11593    0
11594    0
11595    0
Name: extra_runs, Length: 278, dtype: int64)
('Bipul Sharma', 208      0
209      0
210      0
211      0
212      0
        ..
68582    0
68583    0
68584    0
68585    0
68586    0
Name: extra_runs, Length: 238, dtype: int64)
('C Ganapathy', 47588    0
47589    0
47590    0
47591    0
47592    0
47593    0
Name: extra_runs, dtype: int64)
('C Nanda', 35744    0
35745    0
35746    0
35747    0
35748    0
35749    0
35757    0
35758    0
35759    0
35760    0
35761    0
35762    0
35769    0
35770    0
35771    0
35772    0
35773    0
35774    0
35782    0
35783    0
35784    0
35785    0
35786    0
35787    0
37334    0
37335    0
37336    0
37337    0
37338    0
37339    0
37969    1
37970    0
37971    0
37972    0
37973    0
37974    0
37982    0
37983    0
37984    1
37985    0
37986    0
37987    0
37988    0
37995    0
37996    0
37997    1
37998    0
37999    0
38000    0
38001    0
Name: extra_runs, dtype: int64)
('C de Grandhomme', 2427     0
2428     0
2429     0
2430     0
2431     0
        ..
12369    0
12370    0
12371    0
12372    0
12373    0
Name: extra_runs, Length: 102, dtype: int64)
('CH Gayle', 28110    0
28111    0
28112    0
28113    0
28114    0
        ..
68780    0
68781    0
68782    0
68783    0
68784    0
Name: extra_runs, Length: 337, dtype: int64)
('CH Morris', 966     0
967     0
968     1
969     0
970     0
       ..
9109    0
9110    0
9111    0
9112    0
9113    0
Name: extra_runs, Length: 189, dtype: int64)
('CJ Anderson', 2072     0
2073     0
2074     0
2075     0
2076     0
        ..
12871    0
12872    0
12873    0
12874    0
12875    0
Name: extra_runs, Length: 121, dtype: int64)
('CJ Jordan', 13378    1
13379    0
13380    0
13381    0
13382    1
13383    0
13384    0
Name: extra_runs, dtype: int64)
('CK Kapugedera', 20328    0
20329    0
20330    0
20331    0
20332    0
20333    0
21287    0
21288    0
21289    0
21290    0
21291    0
21292    0
22539    0
22540    0
22541    0
22542    0
22543    0
Name: extra_runs, dtype: int64)
('CK Langeveldt', 39266    0
39267    0
39268    0
39269    0
39270    0
        ..
68792    0
68793    0
68794    0
68795    0
68796    4
Name: extra_runs, Length: 138, dtype: int64)
('CL White', 13949    0
13950    0
13951    0
13952    0
13953    2
13954    0
13955    0
49289    0
49290    0
49291    1
49292    0
49293    0
49294    0
49295    0
Name: extra_runs, dtype: int64)
('CR Brathwaite', 1040     1
1041     0
1042     0
1043     0
1044     0
1045     0
1046     0
1054     0
1055     0
1056     0
1057     0
1058     0
1059     0
11397    0
11398    0
11399    0
11400    0
11401    0
11402    0
11409    0
11410    0
11411    1
11412    0
11413    0
11414    0
11415    0
11441    0
11442    0
11443    0
11444    0
11445    0
11446    0
11453    0
11454    0
11455    0
11456    0
11457    0
11458    0
Name: extra_runs, dtype: int64)
('CR Woakes', 526      0
527      0
528      0
529      0
530      0
        ..
11220    0
11221    0
11222    0
11223    0
11224    0
Name: extra_runs, Length: 278, dtype: int64)
('CRD Fernando', 17416    0
17417    0
17418    1
17419    0
17420    0
        ..
55306    0
55307    1
55308    1
55309    0
55310    0
Name: extra_runs, Length: 249, dtype: int64)
('D Kalyankrishna', 15904    0
15905    0
15906    0
15907    0
15908    0
15909    0
15922    0
15923    0
15924    0
15925    0
15926    0
15927    0
15958    0
15959    0
15960    0
15961    0
15962    0
15963    0
16777    0
16778    0
16779    0
16780    0
16781    0
16782    0
16789    0
16790    0
16791    0
16792    0
16793    0
16794    0
18042    0
18043    0
18044    0
18045    0
18046    0
18047    1
18048    0
18073    1
18074    0
18075    0
18076    0
18077    0
18078    0
18091    0
18092    0
18093    0
18094    0
18095    0
18096    1
18097    0
Name: extra_runs, dtype: int64)
('D Salunkhe', 14533    0
14534    0
14535    0
14536    0
14537    0
14538    5
14539    0
15082    1
15083    0
15084    0
15085    0
15086    0
15087    1
15088    1
15119    0
15120    0
15121    0
15122    0
15123    0
15124    0
15809    0
15810    0
15811    0
15812    0
15813    0
15814    0
22587    0
22588    0
22589    0
22590    0
22591    0
22592    0
22599    0
22600    0
22601    0
22602    0
22603    0
22604    0
22635    0
22636    0
22637    0
22638    0
22639    0
22640    0
25598    1
25599    0
25600    0
25601    0
25602    0
25603    1
25604    0
Name: extra_runs, dtype: int64)
('D du Preez', 33238    0
33239    0
33240    0
33241    0
33242    0
33243    0
33250    0
33251    0
33252    0
33253    0
33254    0
33255    0
33262    0
33263    0
33264    0
33265    0
33266    0
33267    0
33334    0
33335    0
33336    0
33337    0
33338    0
33339    1
33340    0
34558    0
34559    0
34560    0
34561    0
34562    0
34563    0
34576    0
34577    0
34578    0
34579    0
34580    0
34581    0
34614    0
34615    0
34616    0
34617    0
34618    0
34619    0
Name: extra_runs, dtype: int64)
('DB Ravi Teja', 18808    0
18809    0
18810    0
18811    0
18812    0
18813    0
18820    0
18821    0
18822    0
18823    0
18824    0
18825    0
56666    0
56667    0
56668    0
56669    0
56670    0
56671    0
Name: extra_runs, dtype: int64)
('DE Bollinger', 48626    0
48627    0
48628    0
48629    0
48630    0
        ..
68465    0
68466    0
68467    0
68468    0
68469    0
Name: extra_runs, Length: 391, dtype: int64)
('DJ Bravo', 15538    0
15539    0
15540    1
15541    0
15542    0
        ..
68453    0
68454    0
68455    0
68456    0
68457    0
Name: extra_runs, Length: 599, dtype: int64)
('DJ Hooda', 163     0
164     0
165     0
166     0
167     0
168     0
2284    0
2285    0
2286    0
2287    0
2288    0
2289    0
2296    0
2297    0
2298    0
2299    0
2300    0
2301    0
7506    0
7507    0
7508    0
7509    0
7510    0
7511    0
Name: extra_runs, dtype: int64)
('DJ Hussey', 14876    0
14877    0
14878    0
14879    0
14880    0
        ..
63939    0
63940    0
63941    0
63942    0
63943    0
Name: extra_runs, Length: 182, dtype: int64)
('DJ Thornely', 19288    0
19289    0
19290    0
19291    0
19292    0
19293    0
19300    0
19301    0
19302    0
19303    0
19304    0
19305    0
22403    1
22404    0
22405    0
22406    0
22407    0
22408    0
22409    0
23101    0
23102    0
23103    0
23104    0
23105    0
23106    0
23113    0
23114    0
23115    0
23116    0
23117    1
23118    0
23119    0
23126    0
23127    0
23128    0
23129    0
23130    0
23131    0
23726    0
23727    0
23728    0
23729    0
23730    0
23731    0
Name: extra_runs, dtype: int64)
('DL Chahar', 255     0
256     0
257     0
258     0
259     0
260     0
279     0
280     0
281     0
282     0
283     0
284     0
1897    0
1898    1
1899    0
1900    0
1901    0
1902    0
1910    0
1911    0
1912    0
1913    0
1914    0
1915    1
1916    0
1923    0
1924    1
1925    0
1926    0
1927    0
1928    0
1929    0
7720    0
7721    0
7722    0
7723    0
7724    0
7725    0
7732    0
7733    0
7734    0
7735    0
7736    0
7737    0
Name: extra_runs, dtype: int64)
('DL Vettori', 14402    0
14403    0
14404    0
14405    0
14406    0
        ..
66970    0
66971    0
66972    0
66973    0
66974    0
Name: extra_runs, Length: 479, dtype: int64)
('DNT Zoysa', 16708    0
16709    0
16710    0
16711    0
16712    0
        ..
23648    0
23649    0
23650    1
23651    0
23652    0
Name: extra_runs, Length: 69, dtype: int64)
('DP Nannes', 27816    1
27817    1
27818    1
27819    0
27820    0
        ..
57241    0
57242    0
57243    0
57244    0
57245    0
Name: extra_runs, Length: 563, dtype: int64)
('DP Vijaykumar', 18772    1
18773    0
18774    0
18775    0
18776    0
        ..
26634    0
26635    0
26636    0
26661    0
26662    0
Name: extra_runs, Length: 159, dtype: int64)
('DR Smith', 655      0
656      0
657      0
658      0
659      0
        ..
50969    0
50970    0
50971    0
50972    0
50973    0
Name: extra_runs, Length: 259, dtype: int64)
('DS Kulkarni', 623      0
624      0
625      0
626      0
627      0
        ..
68986    3
68987    0
68988    0
68989    0
68990    0
Name: extra_runs, Length: 584, dtype: int64)
('DT Christian', 844      0
845      1
846      0
847      0
848      0
        ..
69623    0
69624    0
69625    0
69626    0
69627    0
Name: extra_runs, Length: 521, dtype: int64)
('DW Steyn', 17151    0
17152    0
17153    0
17154    0
17155    0
        ..
69648    1
69649    0
69650    0
69651    0
69652    0
Name: extra_runs, Length: 956, dtype: int64)
('FH Edwards', 27924    0
27925    0
27926    0
27927    0
27928    0
        ..
32707    0
32720    0
32721    0
32722    1
32723    0
Name: extra_runs, Length: 150, dtype: int64)
('FY Fazal', 50067    0
50068    0
50069    0
50070    0
50071    0
50072    0
53782    0
53783    0
53784    0
53785    0
53786    0
53787    0
Name: extra_runs, dtype: int64)
('GD McGrath', 14335    0
14336    0
14337    0
14338    1
14339    0
        ..
26775    0
26776    0
26777    0
26778    0
26779    0
Name: extra_runs, Length: 329, dtype: int64)
('GJ Maxwell', 2512     0
2513     0
2514     0
2515     0
2516     0
        ..
12744    0
12745    0
12746    0
12747    0
12748    0
Name: extra_runs, Length: 115, dtype: int64)
('GR Napier', 32110    0
32111    0
32112    0
32113    0
32114    0
32115    0
32155    0
32156    0
32157    0
32158    0
32159    0
32160    0
32168    0
32169    0
32170    0
32171    0
32172    0
32173    1
32193    0
32194    0
32195    0
32196    0
32197    0
32198    0
Name: extra_runs, dtype: int64)
('Gagandeep Singh', 17952    0
17953    0
17954    0
17955    0
17956    0
        ..
25028    0
25029    0
25030    0
25031    0
25032    0
Name: extra_runs, Length: 84, dtype: int64)
('HH Pandya', 380      0
381      0
382      0
383      1
384      0
        ..
13500    0
13501    0
13502    0
13503    0
13504    0
Name: extra_runs, Length: 162, dtype: int64)
('HV Patel', 12900    0
12901    0
12902    0
12903    0
12904    0
12905    1
12906    0
12944    0
12945    0
12946    0
12947    0
12948    0
12949    0
12956    0
12957    0
12958    0
12959    0
12960    0
12961    0
12974    0
12975    0
12976    0
12977    0
12978    0
12979    0
Name: extra_runs, dtype: int64)
('Harbhajan Singh', 1478     0
1479     0
1480     0
1481     0
1482     0
        ..
68973    0
68974    0
68975    0
68976    0
68977    0
Name: extra_runs, Length: 1157, dtype: int64)
('Harmeet Singh', 27954    0
27955    0
27956    0
27957    0
27958    1
        ..
64345    0
64346    0
64347    0
64348    0
64349    0
Name: extra_runs, Length: 337, dtype: int64)
('I Malhotra', 66116    0
66117    0
66118    0
66119    0
66120    0
66121    0
Name: extra_runs, dtype: int64)
('I Sharma', 2492     1
2493     0
2494     1
2495     0
2496     0
        ..
69586    0
69587    0
69588    0
69589    0
69590    0
Name: extra_runs, Length: 1085, dtype: int64)
('IK Pathan', 7983     0
7984     0
7985     0
7986     0
7987     0
        ..
69241    0
69242    0
69243    0
69244    0
69245    0
Name: extra_runs, Length: 1240, dtype: int64)
('Imran Tahir', 273      0
274      0
275      0
276      0
277      0
        ..
10166    0
10167    0
10168    0
10169    0
10170    0
Name: extra_runs, Length: 286, dtype: int64)
('Iqbal Abdulla', 1103     0
1104     0
1105     0
1106     0
1107     0
        ..
68867    0
68868    0
68869    0
68870    0
68871    0
Name: extra_runs, Length: 347, dtype: int64)
('J Botha', 37453    0
37454    0
37455    1
37456    0
37457    0
        ..
68189    0
68190    0
68191    0
68192    0
68193    0
Name: extra_runs, Length: 269, dtype: int64)
('J Syed Mohammad', 60900    0
60901    0
60902    0
60903    0
60904    0
60905    0
60912    0
60913    0
60914    0
60915    0
60916    0
60917    0
60963    0
60964    0
60965    0
60966    0
60967    0
60968    0
60975    0
60976    0
60977    0
60978    0
60979    0
60980    0
62137    0
62138    0
62139    0
62140    0
62141    0
62142    0
62150    0
62151    0
62152    0
62153    0
62154    0
62155    0
63476    0
63477    1
63478    0
63479    0
63480    0
63481    0
63482    0
63501    0
63502    0
63503    0
63504    0
63505    0
63506    0
Name: extra_runs, dtype: int64)
('J Theron', 44724    0
44725    1
44726    2
44727    0
44728    0
        ..
54026    0
54027    0
54028    0
54029    0
54030    0
Name: extra_runs, Length: 158, dtype: int64)
('J Yadav', 4810    1
4811    0
4812    0
4813    0
4814    0
4815    0
4816    0
4823    0
4824    0
4825    0
4826    0
4827    0
4828    0
8998    0
8999    0
9000    0
9001    0
9002    0
9003    0
9010    0
9011    0
9012    0
9013    0
9014    0
9015    0
9040    0
9041    0
9042    0
9043    0
9044    0
9045    0
9052    1
9053    0
9054    0
9055    0
9056    0
9057    0
Name: extra_runs, dtype: int64)

('JA Morkel', 17312    0
17313    0
17314    0
17315    1
17316    0
        ..
68459    0
68460    0
68461    0
68462    0
68463    0
Name: extra_runs, Length: 1078, dtype: int64)
('JD Ryder', 27759    0
27760    0
27761    1
27762    0
27763    0
        ..
65515    0
65516    0
65517    0
65518    0
65519    0
Name: extra_runs, Length: 198, dtype: int64)
('JD Unadkat', 3943     0
3944     0
3945     0
3946     0
3947     0
        ..
68861    0
68862    0
68863    0
68864    0
68865    0
Name: extra_runs, Length: 452, dtype: int64)
('JDP Oram', 14211    0
14212    0
14213    0
14214    0
14215    0
        ..
69517    0
69518    0
69519    0
69520    0
69521    0
Name: extra_runs, Length: 218, dtype: int64)
('JE Taylor', 61836    1
61837    0
61838    0
61839    0
61840    0
        ..
65566    4
65567    1
65568    0
65569    0
65570    0
Name: extra_runs, Length: 122, dtype: int64)
('JEC Franklin', 56249    0
56250    0
56251    0
56252    0
56253    0
56254    0
57146    0
57147    0
57148    0
57149    0
57150    0
57151    0
59972    0
59973    1
59974    1
59975    0
59976    0
59977    0
59978    0
59979    0
59987    0
59988    0
59989    0
59990    0
59991    0
59992    0
59999    0
60000    0
60001    0
60002    0
60003    0
60004    0
Name: extra_runs, dtype: int64)
('JH Kallis', 13912    0
13913    0
13914    0
13915    0
13916    0
        ..
68842    0
68843    0
68844    0
68845    0
68846    0
Name: extra_runs, Length: 963, dtype: int64)
('JJ Bumrah', 398      0
399      0
400      0
401      0
402      0
        ..
13851    0
13852    0
13853    1
13854    0
13855    0
Name: extra_runs, Length: 373, dtype: int64)
('JJ van der Wath', 57819    1
57820    1
57821    0
57822    0
57823    0
57824    0
57825    0
57826    0
57833    0
57834    0
57835    1
57836    0
57837    0
57838    0
57839    0
57901    0
57902    0
57903    0
57904    0
57905    0
57906    0
57925    0
57926    0
57927    0
57928    0
57929    0
57930    0
58575    0
58576    0
58577    0
58578    0
58579    0
58580    0
58593    0
58594    0
58595    0
58596    0
58597    0
58598    1
58599    0
58654    0
58655    0
58656    0
58657    0
58658    0
58659    0
58666    0
58667    0
58668    0
58669    0
58670    0
58671    0
Name: extra_runs, dtype: int64)
('JM Kemp', 42000    1
42001    0
42002    0
42003    0
42004    0
42005    0
42006    0
42013    0
42014    0
42015    0
42016    0
42017    0
42018    0
42084    0
42859    1
42860    0
42861    0
42862    0
42863    0
42864    0
42865    0
42872    2
42873    0
42874    0
42875    0
42876    0
42877    0
42884    0
42885    0
42886    0
42887    1
42888    0
42889    0
43390    0
43391    0
43392    0
43393    1
43394    0
43395    0
44647    0
44648    1
53839    0
53840    0
53841    0
53842    0
53843    0
53844    0
Name: extra_runs, dtype: int64)
('JP Duminy', 31275    0
31276    0
31277    0
31278    0
31279    0
        ..
69604    0
69605    0
69606    0
69607    0
69608    0
Name: extra_runs, Length: 227, dtype: int64)
('JP Faulkner', 5286     0
5287     0
5288     0
5289     0
5290     0
        ..
12292    0
12293    0
12294    0
12295    0
12296    0
Name: extra_runs, Length: 164, dtype: int64)
('JR Hopes', 14119    0
14120    0
14121    0
14122    0
14123    0
        ..
69190    0
69191    0
69192    0
69193    0
69194    0
Name: extra_runs, Length: 369, dtype: int64)
('Jaskaran Singh', 40024    0
40025    0
40026    0
40027    0
40028    0
        ..
48858    0
48859    1
48860    0
48861    0
48862    0
Name: extra_runs, Length: 111, dtype: int64)
('Joginder Sharma', 14261    0
14262    0
14263    0
14264    0
14265    0
        ..
60726    0
60727    0
60728    0
60729    0
60730    0
Name: extra_runs, Length: 272, dtype: int64)
('K Goel', 14143    0
14144    0
14145    0
14146    0
14147    0
        ..
47471    0
47472    0
47473    0
47474    0
47475    0
Name: extra_runs, Length: 67, dtype: int64)
('K Rabada', 5512     1
5513     5
5514     0
5515     0
5516     0
        ..
10311    2
10312    0
10313    0
10314    0
10315    0
Name: extra_runs, Length: 137, dtype: int64)
('KA Pollard', 452      0
453      0
454      0
455      0
456      0
        ..
68943    0
68944    0
68945    0
68946    0
68947    0
Name: extra_runs, Length: 453, dtype: int64)
('KAJ Roach', 46791    0
46792    0
46793    1
46794    0
46795    0
46796    0
46797    0
46804    0
46805    0
46806    0
46807    0
46808    0
46809    0
46881    0
46882    0
46883    1
46884    0
46885    0
46886    0
46887    0
46906    0
46907    0
46908    0
46909    0
46910    0
46911    0
48005    0
48006    0
48007    0
48008    0
48009    0
48010    0
48042    0
48043    0
48044    0
48045    0
48046    0
48047    1
48048    0
48112    0
48113    0
48114    0
48115    1
48116    0
48117    0
48118    0
48125    0
48126    0
48127    0
48128    0
48129    0
48130    0
Name: extra_runs, dtype: int64)
('KC Cariappa', 3354    0
3355    0
3356    0
3357    1
3358    0
       ..
7453    0
7454    0
7455    0
7456    0
7457    0
Name: extra_runs, Length: 94, dtype: int64)
('KH Pandya', 416      0
417      0
418      0
419      0
420      0
        ..
13833    0
13834    0
13835    0
13836    0
13837    0
Name: extra_runs, Length: 246, dtype: int64)
('KMDN Kulasekara', 62327    0
62328    0
62329    0
62330    0
62331    0
62332    0
62339    1
62340    0
62341    0
62342    0
62343    0
62344    0
62345    0
62358    0
62359    0
62360    0
62361    0
62362    0
62363    0
Name: extra_runs, dtype: int64)
('KP Appanna', 29953    0
29954    0
29955    0
29956    0
29957    0
        ..
51996    0
51997    0
51998    0
51999    2
52000    0
Name: extra_runs, Length: 115, dtype: int64)
('KP Pietersen', 28185    0
28186    0
28187    0
28188    0
28189    0
        ..
55084    0
55085    0
55086    0
55087    0
55088    0
Name: extra_runs, Length: 140, dtype: int64)
('KV Sharma', 6456     0
6457     0
6458     0
6459     0
6460     0
        ..
13814    0
13815    0
13816    0
13817    0
13818    0
Name: extra_runs, Length: 189, dtype: int64)
('Kamran Khan', 27601    0
27602    1
27603    0
27604    0
27605    0
        ..
63353    0
63354    0
63355    0
63356    0
63357    0
Name: extra_runs, Length: 177, dtype: int64)
('Kuldeep Yadav', 532      0
533      0
534      0
535      0
536      0
        ..
12441    0
12442    0
12443    0
12444    0
12445    0
Name: extra_runs, Length: 250, dtype: int64)
('L Ablish', 50720    0
50721    0
50722    0
50723    0
50724    0
50725    0
50810    1
50811    0
50812    0
50813    1
50814    0
50815    0
50816    0
51433    0
51434    0
51435    0
51436    0
51437    0
51438    0
51507    1
51508    0
51509    0
51510    0
51511    1
51512    0
51513    0
51514    0
66238    0
66239    0
66240    0
66241    0
66242    0
66243    0
66250    0
66251    0
66252    0
66253    0
66254    0
66255    0
66280    0
66281    0
66282    0
66283    0
66284    0
66285    0
Name: extra_runs, dtype: int64)
('L Balaji', 20283    0
20284    1
20285    0
20286    0
20287    0
        ..
68859    0
68872    2
68873    0
68874    0
68875    0
Name: extra_runs, Length: 824, dtype: int64)
('LA Carseldine', 34441    0
34442    0
34443    0
34444    1
34445    0
34446    0
34447    0
Name: extra_runs, dtype: int64)
('LH Ferguson', 2962     0
2963     0
2964     0
2965     0
2966     0
        ..
13659    0
13660    0
13661    0
13662    1
13663    0
Name: extra_runs, Length: 87, dtype: int64)
('LPC Silva', 18850    0
18851    0
18852    0
18853    0
18854    0
18855    0
Name: extra_runs, dtype: int64)
('LR Shukla', 14065    0
14066    2
14067    0
14068    0
14069    0
        ..
53661    0
53662    0
53663    0
53664    0
53665    0
Name: extra_runs, Length: 238, dtype: int64)
('LRPL Taylor', 28203    0
28204    0
28205    0
28206    0
28207    1
28208    0
28209    0
68194    0
68195    0
68196    0
68197    0
68198    0
68199    0
Name: extra_runs, dtype: int64)
('M Kartik', 14839    0
14840    0
14841    0
14842    0
14843    0
        ..
64218    0
64219    0
64220    0
64221    0
64222    0
Name: extra_runs, Length: 667, dtype: int64)
('M Manhas', 56467    0
56468    0
56469    0
56470    0
56471    0
56472    0
56479    0
56480    0
56481    0
56482    0
56483    0
56484    0
56491    0
56492    0
56493    0
56494    0
56495    0
56496    0
63328    0
63329    0
63330    0
63331    0
63332    0
63333    0
69723    0
69724    0
69725    0
69726    0
69727    0
69728    0
69735    0
69736    0
69737    0
69738    0
69739    0
69740    0
69747    0
69748    0
69749    0
69750    0
69751    0
69752    0
Name: extra_runs, dtype: int64)
('M Morkel', 34416    0
34417    0
34418    0
34419    0
34420    0
        ..
69235    0
69236    0
69237    0
69238    0
69239    0
Name: extra_runs, Length: 364, dtype: int64)
('M Muralitharan', 14249    0
14250    0
14251    0
14252    0
14253    1
        ..
61819    0
61820    0
61821    0
61822    0
61829    0
Name: extra_runs, Length: 1072, dtype: int64)
('M Ntini', 18498    0
18499    0
18500    0
18501    0
18502    0
        ..
27339    0
27340    0
27341    0
27342    0
27343    0
Name: extra_runs, Length: 213, dtype: int64)
('MA Khote', 15575    0
15576    0
15577    0
15578    0
15579    0
15580    0
15588    0
15589    0
15590    0
15591    0
15592    0
15593    0
15607    0
15608    1
15609    0
15610    0
15611    0
15612    0
16063    0
16064    0
16065    0
16066    0
16067    0
16068    0
16075    0
16076    0
16077    0
16078    0
16079    0
16080    0
Name: extra_runs, dtype: int64)
('MB Parmar', 48131    0
48132    1
48133    0
48134    0
48135    0
48136    0
48137    0
48200    0
48201    0
48202    0
48203    0
48204    0
48205    0
48212    0
48213    0
48214    0
48215    0
48216    0
48217    0
Name: extra_runs, dtype: int64)
('MC Henriques', 182      1
183      0
184      0
185      0
186      0
        ..
44431    0
44432    0
44433    0
44434    0
44435    0
Name: extra_runs, Length: 248, dtype: int64)
('MF Maharoof', 14366    0
14367    0
14368    0
14369    1
14370    0
        ..
51557    0
51558    0
51559    0
51560    0
51561    1
Name: extra_runs, Length: 441, dtype: int64)
('MG Johnson', 5639     0
5640     0
5641     0
5642     0
5643     0
        ..
13857    0
13858    0
13859    1
13860    0
13861    0
Name: extra_runs, Length: 125, dtype: int64)
('MJ Henry', 11237    0
11238    0
11239    0
11240    0
11241    0
11242    0
11261    0
11262    0
11263    0
11264    0
11265    0
11266    0
11335    0
11336    0
11337    0
11338    0
11339    0
11340    0
11732    0
11733    0
11734    0
11735    0
11736    0
11737    0
11818    1
11819    0
11820    0
11821    0
11822    0
11823    0
11824    0
Name: extra_runs, dtype: int64)
('MJ McClenaghan', 392      0
393      0
394      0
395      0
396      0
        ..
13112    0
13113    1
13114    1
13115    0
13116    0
Name: extra_runs, Length: 345, dtype: int64)
('MK Tiwary', 28968    0
28969    0
28970    0
28971    0
28972    0
28973    0
54382    0
54383    0
54384    1
54385    0
54386    0
54387    0
54388    0
61075    0
61076    0
61077    0
61078    0
61079    0
61080    0
63833    0
63834    0
63835    0
63836    0
63837    1
63838    0
63839    0
Name: extra_runs, dtype: int64)
('MM Patel', 3716     0
3717     0
3718     0
3719     0
3720     0
        ..
68992    0
68993    0
68994    0
68995    0
68996    0
Name: extra_runs, Length: 936, dtype: int64)
('MM Sharma', 719      0
720      0
721      0
722      0
723      0
        ..
12683    0
12684    0
12685    0
12686    0
12687    0
Name: extra_runs, Length: 277, dtype: int64)
('MN Samuels', 9524     0
9525     0
9526     0
9527     0
9528     0
9529     0
9536     0
9537     0
9538     0
9539     0
9540     0
9541     0
12056    0
12057    0
12058    0
12059    0
12060    0
12061    0
Name: extra_runs, dtype: int64)
('MP Stoinis', 761     1
762     0
763     0
764     1
765     0
       ..
6186    1
6187    0
6188    0
6189    0
6190    0
Name: extra_runs, Length: 69, dtype: int64)
('MR Marsh', 50474    0
50475    0
50476    0
50477    1
50478    0
        ..
69742    0
69743    0
69744    0
69745    0
69746    0
Name: extra_runs, Length: 137, dtype: int64)
('MS Gony', 629      0
630      0
631      1
632      0
633      0
        ..
62776    0
62777    0
62778    0
62779    0
62780    0
Name: extra_runs, Length: 599, dtype: int64)
('Mashrafe Mortaza', 38152    0
38153    0
38154    0
38155    0
38156    0
38157    0
38164    1
38165    0
38166    0
38167    0
38168    0
38169    0
38170    0
38249    1
38250    0
38251    0
38252    0
38253    0
38254    0
38255    0
38262    1
38263    1
38264    0
38265    0
38266    1
38267    0
38268    0
38269    0
Name: extra_runs, dtype: int64)
('Mohammad Asif', 15287    0
15288    0
15289    0
15290    0
15291    0
        ..
26781    0
26782    0
26783    0
26784    0
26785    0
Name: extra_runs, Length: 199, dtype: int64)
('Mohammad Hafeez', 14845    0
14846    1
14847    0
14848    0
14849    0
        ..
18919    0
18920    0
18921    0
18922    0
18923    0
Name: extra_runs, Length: 63, dtype: int64)
('Mohammad Nabi', 4462     0
4463     0
4464     0
4465     0
4466     0
        ..
12144    0
12145    0
12146    0
12147    0
12148    0
Name: extra_runs, Length: 66, dtype: int64)
('Mohammed Shami', 4231     0
4232     0
4233     0
4234     0
4235     0
        ..
12855    0
12856    0
12857    0
12858    0
12859    0
Name: extra_runs, Length: 165, dtype: int64)
('Mohammed Siraj', 4939     0
4940     0
4941     0
4942     0
4943     0
        ..
12198    0
12199    0
12200    0
12201    0
12202    0
Name: extra_runs, Length: 141, dtype: int64)
('Mustafizur Rahman', 2272    0
2273    0
2274    0
2275    0
2276    0
2277    0
2314    0
2315    0
2316    0
2317    0
2318    0
2319    1
2320    0
2351    0
2352    0
2353    0
2354    0
Name: extra_runs, dtype: int64)
('NB Singh', 6015    0
6016    0
6017    0
6018    0
6019    0
6020    0
6027    0
6028    0
6029    0
6030    0
6031    1
6032    0
6921    0
6922    0
6923    0
6924    0
6925    1
6926    0
6933    0
6934    0
6935    1
6936    1
6937    0
6938    0
6939    0
Name: extra_runs, dtype: int64)
('ND Doshi', 55064    0
55065    0
55066    0
55067    0
55068    0
55069    0
55076    0
55077    0
55078    0
55079    1
55080    0
55081    0
55082    0
55089    0
55090    0
55091    0
55092    0
55093    0
55094    0
55107    0
55108    0
55109    0
55110    0
55111    0
55112    0
58216    0
58217    0
58218    0
58219    0
58220    0
58221    0
58283    0
58284    0
58285    0
58286    0
58287    0
58288    0
65331    0
65332    0
65333    0
65334    0
65335    0
65336    0
65394    0
65395    0
65396    0
65397    0
65398    0
65399    0
69510    0
69511    0
69512    0
69513    0
69514    0
69515    0
69535    0
69536    0
Name: extra_runs, dtype: int64)
('NJ Rimmington', 56531    0
56532    0
56533    0
56534    0
56535    0
56536    0
56543    0
56544    0
56545    0
56546    1
56547    0
56548    0
56586    0
56587    0
56588    0
56589    0
56590    0
56591    0
Name: extra_runs, dtype: int64)
('NL McCullum', 61830    0
61831    0
61832    0
61833    0
61834    0
61835    0
61843    0
61844    0
61845    0
61846    0
61847    0
61848    0
64175    1
64176    0
64177    0
64178    0
64179    0
64180    0
64193    0
64194    0
64195    0
64196    0
64197    0
64198    0
64205    0
64206    0
64207    0
64208    0
64209    0
64210    0
Name: extra_runs, dtype: int64)
('NLTC Perera', 45791    0
45792    0
45793    0
45794    0
45795    0
        ..
62694    0
62695    0
62696    0
62697    0
62698    1
Name: extra_runs, Length: 92, dtype: int64)
('NM Coulter-Nile', 4067     0
4068     0
4069     0
4070     0
4071     0
        ..
13597    0
13598    0
13599    0
13600    0
13601    0
Name: extra_runs, Length: 178, dtype: int64)
('P Amarnath', 14255    0
14256    0
14257    0
14258    0
14259    0
        ..
21325    0
21326    0
21327    0
21328    0
21329    0
Name: extra_runs, Length: 132, dtype: int64)
('P Kumar', 617      0
618      0
619      0
620      0
621      0
        ..
69359    0
69360    0
69361    0
69362    1
69363    0
Name: extra_runs, Length: 1229, dtype: int64)
('P Negi', 1202     0
1203     0
1204     0
1205     0
1206     0
        ..
12993    0
12994    0
12995    0
12996    0
12997    0
Name: extra_runs, Length: 200, dtype: int64)
('P Parameswaran', 64746    0
64747    0
64748    0
64749    0
64750    0
        ..
69453    0
69454    0
69486    0
69487    0
69488    0
Name: extra_runs, Length: 97, dtype: int64)
('P Prasanth', 69419    0
69420    0
69421    0
69422    0
69423    0
69424    0
Name: extra_runs, dtype: int64)
('PC Valthaty', 58863    0
58864    0
58865    0
58866    0
58867    0
        ..
69340    0
69341    0
69342    0
69343    0
69344    0
Name: extra_runs, Length: 98, dtype: int64)
('PD Collingwood', 47269    0
47270    0
47271    0
47272    0
47273    0
        ..
54139    0
54140    0
54141    0
54142    0
54143    0
Name: extra_runs, Length: 90, dtype: int64)
('PJ Cummins', 972      0
973      0
974      0
975      1
976      0
        ..
12863    0
12864    1
12865    1
12866    0
12867    1
Name: extra_runs, Length: 289, dtype: int64)
('PJ Sangwan', 8875     0
8876     0
8877     0
8878     0
8879     0
        ..
52234    0
52235    0
52236    0
52237    0
52238    0
Name: extra_runs, Length: 761, dtype: int64)
('PM Sarvesh Kumar', 22820    0
22821    0
22822    0
22823    0
22824    1
22825    0
22826    0
22833    0
22834    0
22835    0
22836    0
22837    0
22838    0
22864    0
22865    0
22866    0
22867    0
22868    0
22869    0
26579    0
26580    0
26581    0
26582    0
26583    0
26584    0
26593    0
26594    0
26595    0
26596    0
26597    0
26598    0
Name: extra_runs, dtype: int64)
('PP Chawla', 501      0
502      0
503      0
504      1
505      0
        ..
69346    0
69347    0
69348    0
69349    0
69350    0
Name: extra_runs, Length: 1181, dtype: int64)
('PP Ojha', 14996    1
14997    0
14998    0
14999    0
15000    1
        ..
69654    0
69655    0
69656    0
69657    0
69658    0
Name: extra_runs, Length: 1129, dtype: int64)
('Pankaj Singh', 15107    0
15108    0
15109    0
15110    0
15111    0
        ..
68219    0
68220    0
68221    0
68222    0
68223    0
Name: extra_runs, Length: 184, dtype: int64)
('R Ashwin', 39655    0
39656    0
39657    0
39658    0
39659    0
        ..
68441    0
68442    0
68443    0
68444    0
68445    0
Name: extra_runs, Length: 609, dtype: int64)
('R Bhatia', 303      0
304      0
305      0
306      0
307      0
        ..
66485    0
66486    0
66487    0
66488    0
66489    0
Name: extra_runs, Length: 559, dtype: int64)
('R McLaren', 41346    0
41347    0
41348    0
41349    0
41350    0
        ..
66299    0
66300    0
66301    0
66302    0
66303    0
Name: extra_runs, Length: 314, dtype: int64)
('R Ninan', 57865    0
57866    0
57867    0
57868    0
57869    0
57870    0
57877    0
57878    0
57879    0
57880    0
57881    0
57882    0
57907    0
57908    0
57909    0
57910    0
57911    0
57912    0
58587    0
58588    0
58589    0
58590    0
58591    0
58592    0
58600    0
58601    0
58602    0
58603    0
58604    0
58605    0
58612    0
58613    0
58614    0
58615    0
58616    0
58617    0
Name: extra_runs, dtype: int64)
('R Sathish', 41376    0
41377    0
41378    0
41379    0
41380    0
        ..
63220    0
63221    0
63222    0
63223    0
63285    0
Name: extra_runs, Length: 82, dtype: int64)
('R Sharma', 44484    0
44485    0
44486    0
44487    0
44488    0
        ..
69755    0
69756    0
69757    0
69758    1
69759    0
Name: extra_runs, Length: 398, dtype: int64)
('R Tewatia', 11273    0
11274    0
11275    0
11276    1
11277    0
11278    0
11286    0
11287    0
11288    0
11289    0
11290    0
11291    0
11298    0
11299    0
11300    0
11301    0
11302    0
11303    1
11310    0
11311    0
11312    0
11313    1
11314    0
11315    0
11316    0
11794    0
11795    0

('RP Singh', 14924    0
14925    0
14926    0
14927    0
14928    4
        ..
69475    0
69476    0
69477    0
69478    0
69479    0
Name: extra_runs, Length: 1263, dtype: int64)
('RR Bose', 29290    0
29291    0
29292    0
29293    0
29294    0
29295    0
29302    0
29303    0
29304    0
29305    0
29306    0
29307    0
Name: extra_runs, dtype: int64)
('RR Powar', 22705    0
22706    0
22707    1
22708    0
22709    0
        ..
67058    0
67059    0
67060    0
67061    0
67062    0
Name: extra_runs, Length: 425, dtype: int64)
('RR Raje', 19306    0
19307    0
19308    0
19309    0
19310    0
        ..
36600    0
36601    0
36602    0
36603    0
36604    0
Name: extra_runs, Length: 144, dtype: int64)
('RS Bopara', 28528    0
28529    0
29363    0
29364    0
29365    0
        ..
50171    0
50172    1
50173    0
50174    0
50175    0
Name: extra_runs, Length: 90, dtype: int64)
('RS Gavaskar', 41803    0
41804    0
41805    0
41806    0
41807    0
41808    0
Name: extra_runs, dtype: int64)
('RV Gomez', 56170    0
56171    0
56172    0
56173    0
56174    0
        ..
68664    0
68665    0
68666    0
68667    0
68668    0
Name: extra_runs, Length: 91, dtype: int64)
('Rashid Khan', 157      0
158      0
159      0
160      0
161      0
        ..
13400    0
13401    0
13402    0
13403    0
13404    0
Name: extra_runs, Length: 328, dtype: int64)
('S Aravind', 26       0
27       0
28       0
29       0
30       0
        ..
68774    0
68775    0
68776    0
68777    0
68778    0
Name: extra_runs, Length: 371, dtype: int64)
('S Badree', 2713     0
2714     0
2715     2
2716     0
2717     0
        ..
10586    0
10587    2
10588    0
10589    0
10590    0
Name: extra_runs, Length: 151, dtype: int64)
('S Dhawan', 59867    0
59868    0
59869    0
59870    0
59871    1
59872    0
64999    0
65000    0
65001    0
65002    0
65003    0
65004    0
Name: extra_runs, dtype: int64)
('S Kaul', 4455     1
4456     0
4457     0
4458     0
4459     0
        ..
13394    0
13395    0
13396    0
13397    0
13398    0
Name: extra_runs, Length: 221, dtype: int64)
('S Kaushik', 637     0
638     0
639     0
640     0
641     0
       ..
4649    0
4650    0
4651    0
4652    0
4653    0
Name: extra_runs, Length: 68, dtype: int64)
('S Ladda', 42251    0
42252    0
42253    0
42254    0
42255    1
        ..
65740    0
65741    0
65742    0
65743    0
65744    0
Name: extra_runs, Length: 117, dtype: int64)
('S Nadeem', 985      0
986      0
987      1
988      0
989      0
        ..
68309    0
68310    0
68311    0
68312    0
68313    0
Name: extra_runs, Length: 225, dtype: int64)
('S Narwal', 43322    0
43323    0
43324    0
43325    0
43326    0
        ..
48590    0
48591    0
48592    0
48593    0
48594    0
Name: extra_runs, Length: 99, dtype: int64)
('S Randiv', 55607    0
55608    0
55609    0
55610    1
55611    0
        ..
66616    0
66617    0
66618    1
66619    0
66620    0
Name: extra_runs, Length: 180, dtype: int64)
('S Sreesanth', 14093    0
14094    0
14095    0
14096    0
14097    1
        ..
69481    0
69482    0
69483    0
69484    0
69485    0
Name: extra_runs, Length: 793, dtype: int64)
('S Sriram', 51232    0
51233    0
51234    0
51235    0
51236    0
51237    0
51244    0
51245    0
51246    0
51247    0
51248    0
51249    0
69201    0
69202    0
69203    0
69204    0
69205    0
69206    0
Name: extra_runs, dtype: int64)
('S Tyagi', 31858    1
31859    0
31860    0
31861    0
31862    0
        ..
53828    0
53829    0
53830    0
53831    0
53832    0
Name: extra_runs, Length: 220, dtype: int64)
('S Vidyut', 19522    0
19523    0
19524    0
19525    0
19526    0
19527    1
19528    0
19536    0
19537    0
19538    0
19539    0
19540    0
19541    0
Name: extra_runs, dtype: int64)
('SB Bangar', 14954    0
14955    0
14956    0
14957    5
14958    0
        ..
25719    0
25720    0
25721    0
25722    0
25723    0
Name: extra_runs, Length: 153, dtype: int64)
('SB Jakati', 661      0
662      0
663      0
664      0
665      0
        ..
68435    0
68436    0
68437    0
68438    2
68439    0
Name: extra_runs, Length: 635, dtype: int64)
('SB Joshi', 13918    0
13919    0
13920    0
13921    0
13922    0
13923    0
13930    0
13931    0
13932    0
13933    0
13934    0
13935    0
13943    0
13944    0
13945    0
13946    0
13947    0
13948    0
14616    0
14617    0
14618    0
14619    0
14620    0
14621    0
14628    0
14629    0
14630    0
14631    0
14632    0
14633    0
16425    0
16426    0
16427    0
16428    0
16429    0
16430    0
16437    0
16438    0
16439    0
16440    0
16441    0
16442    0
16455    0
16456    0
16457    0
16458    0
16459    0
16460    0
16467    0
17720    0
17721    0
17722    0
17723    0
17724    0
17725    0
Name: extra_runs, dtype: int64)
('SB Styris', 14948    0
14949    0
14950    0
14951    0
14952    0
        ..
57506    0
57507    0
57508    0
57509    0
57510    0
Name: extra_runs, Length: 222, dtype: int64)
('SB Wagh', 48528    0
48529    0
48530    0
48531    0
48532    0
        ..
67564    0
67565    0
67566    0
67567    0
67568    0
Name: extra_runs, Length: 108, dtype: int64)
('SC Ganguly', 14032    0
14033    1
14034    0
14035    0
14036    0
        ..
54311    0
54312    0
54313    0
54314    0
54315    0
Name: extra_runs, Length: 219, dtype: int64)
('SD Chitnis', 16856    0
16857    0
16858    0
16859    0
16860    1
16861    0
16862    1
16897    0
16898    0
16899    0
16900    0
16901    0
16902    0
24470    0
24471    0
24472    0
24473    0
24474    0
24475    1
24507    0
24508    0
24509    0
24510    0
24511    0
24512    0
24520    0
24521    0
24522    0
24523    0
24524    0
24525    0
24532    0
24533    5
24534    0
24535    0
24536    0
24537    0
24538    0
Name: extra_runs, dtype: int64)
('SE Bond', 42688    0
42689    0
42690    0
42691    0
42692    0
        ..
54390    0
54391    0
54392    0
54393    0
54394    0
Name: extra_runs, Length: 191, dtype: int64)
('SJ Srivastava', 43614    0
43615    0
43616    0
43617    0
43618    0
        ..
69371    0
69372    0
69373    0
69374    0
69375    0
Name: extra_runs, Length: 288, dtype: int64)
('SK Raina', 1328     0
1329     0
1330     0
1331     0
1332     0
        ..
68428    1
68429    0
68430    0
68431    0
68432    0
Name: extra_runs, Length: 495, dtype: int64)
('SK Trivedi', 14488    0
14489    1
14490    0
14491    0
14492    0
        ..
68177    0
68178    0
68179    0
68180    0
68181    0
Name: extra_runs, Length: 859, dtype: int64)
('SK Warne', 14508    0
14509    0
14510    0
14511    0
14512    0
        ..
68207    0
68208    0
68209    0
68210    0
68211    0
Name: extra_runs, Length: 1199, dtype: int64)
('SL Malinga', 1424     0
1425     1
1426     0
1427     0
1428     0
        ..
68979    0
68980    0
68981    0
68982    0
68983    0
Name: extra_runs, Length: 1222, dtype: int64)
('SM Harwood', 32508    0
32509    0
32510    0
32511    0
32512    0
        ..
35559    0
35560    0
35561    0
35562    0
35563    0
Name: extra_runs, Length: 67, dtype: int64)
('SM Pollock', 14683    0
14684    0
14685    0
14686    0
14687    0
        ..
26376    0
26377    0
26378    0
26379    0
26380    0
Name: extra_runs, Length: 280, dtype: int64)
('SN Thakur', 2968     0
2969     0
2970     0
2971     0
2972     0
        ..
13702    0
13703    0
13704    0
13705    0
13706    0
Name: extra_runs, Length: 239, dtype: int64)
('SP Narine', 508      0
509      0
510      0
511      0
512      0
        ..
13591    0
13592    0
13593    0
13594    0
13595    0
Name: extra_runs, Length: 362, dtype: int64)
('SR Tendulkar', 30712    0
30713    0
30714    0
30715    0
30716    0
30717    0
30724    0
30725    0
30726    0
30727    0
30728    0
30729    0
31293    0
31294    0
31295    1
31296    1
31297    0
31298    0
31299    0
33414    0
33415    0
33416    0
33417    0
33418    0
33419    0
33426    0
33427    0
33428    0
33429    0
33430    0
33431    0
35071    0
35072    0
35073    0
35074    0
35075    0
35076    0
Name: extra_runs, dtype: int64)
('SR Watson', 32       0
33       0
34       0
35       0
36       0
        ..
68165    1
68166    0
68167    0
68168    0
68169    0
Name: extra_runs, Length: 849, dtype: int64)
('SS Agarwal', 6009    0
6010    0
6011    0
6012    0
6013    0
6014    0
6051    0
6052    0
6053    0
6054    0
6055    0
6056    0
6069    0
6070    0
6071    0
6072    0
6073    0
6074    0
6087    0
6088    0
6089    0
6090    0
6091    0
6092    0
Name: extra_runs, dtype: int64)
('SS Sarkar', 35986    0
35987    0
35988    0
35989    0
35990    0
35991    0
36067    0
39309    0
39310    0
39311    0
39312    0
39313    0
39314    0
39353    0
39354    0
39355    0
39356    0
39357    0
39358    0
39365    0
39366    0
39367    0
39368    0
39369    0
39370    0
Name: extra_runs, dtype: int64)
('ST Jayasuriya', 14720    0
14721    0
14722    0
14723    0
14724    0
        ..
51836    0
51837    0
51838    0
51839    0
51840    0
Name: extra_runs, Length: 301, dtype: int64)
('STR Binny', 62       0
63       0
64       0
65       0
66       0
        ..
65407    0
65408    0
65409    0
65410    0
65411    0
Name: extra_runs, Length: 68, dtype: int64)
('SW Tait', 41217    0
41218    1
41219    0
41220    0
41221    0
        ..
69530    1
69531    0
69532    0
69533    0
69534    0
Name: extra_runs, Length: 307, dtype: int64)
('Sandeep Sharma', 713      0
714      0
715      0
716      0
717      0
        ..
12690    0
12691    0
12692    0
12693    0
12694    0
Name: extra_runs, Length: 300, dtype: int64)
('Shahid Afridi', 15446    0
15447    0
15448    0
15449    0
15450    0
        ..
26626    0
26627    1
26628    0
26629    0
26630    0
Name: extra_runs, Length: 185, dtype: int64)
('Shakib Al Hasan', 5401     0
5402     0
5403     0
5404     0
5405     0
        ..
61059    0
61060    0
61061    0
61062    0
61126    0
Name: extra_runs, Length: 105, dtype: int64)
('Shoaib Ahmed', 30354    1
30355    0
30356    0
30357    0
30358    0
        ..
36825    0
36826    0
36827    0
36828    0
36829    0
Name: extra_runs, Length: 103, dtype: int64)
('Shoaib Akhtar', 22213    0
22214    1
22215    0
22216    0
22217    0
22218    0
22219    0
22226    0
22227    0
22228    0
22229    0
22230    0
22231    0
22238    0
22239    0
22240    0
22241    0
22242    0
22243    0
23134    0
23135    1
23136    0
23137    0
23138    0
23139    0
23140    0
23148    0
23149    0
23150    0
23151    0
23152    0
23153    0
23923    1
23924    1
23925    0
23926    0
23927    0
23928    0
23929    0
23930    0
23937    0
23938    0
23939    0
23940    0
23941    0
23942    0
Name: extra_runs, dtype: int64)
('Shoaib Malik', 17070    1
17071    0
17072    0
17073    0
17074    0
17075    1
17076    0
17077    0
17084    0
17085    0
17086    0
17087    0
17088    0
17089    0
17097    0
17098    0
17099    0
17100    0
17101    0
17102    1
17103    0
17148    0
17149    0
17150    0
17830    0
17831    0
17832    0
17833    0
17834    1
17835    1
18418    0
18419    2
18420    0
18421    0
18422    0
18423    0
18424    0
19195    0
19196    0
19197    0
19198    0
19199    0
19200    0
20396    0
20397    0
20398    1
20399    1
20400    0
20401    0
20402    0
20403    0
20470    0
20471    1
20472    0
20473    0
20474    0
20475    0
20476    0
Name: extra_runs, dtype: int64)
('Sohail Tanvir', 16245    0
16246    1
16247    0
16248    0
16249    1
        ..
27220    0
27221    0
27222    0
27223    0
27224    0
Name: extra_runs, Length: 265, dtype: int64)
('Swapnil Singh', 769      0
770      0
771      0
772      0
773      0
774      0
782      0
783      0
784      0
785      0
786      0
787      0
5239     0
5240     0
5241     0
5242     0
5243     0
5244     0
5251     0
5252     0
5253     0
5254     0
5255     0
5256     0
11279    0
11280    0
11281    0
11282    0
11283    1
11284    0
11285    0
11304    0
11305    0
11306    0
11307    0
11308    0
11309    0
12713    0
12714    0
12715    0
12716    0
12717    0
12718    0
Name: extra_runs, dtype: int64)
('T Henderson', 27643    0
27644    0
27645    0
27646    0
27647    0
27648    0
27655    0
27656    0
27657    0
27658    0
27659    0
27660    0
27692    0
27693    0
27694    0
27695    0
27696    0
27697    0
27704    0
27705    0
27706    0
27707    0
27708    0
27709    0
39468    0
39469    0
39470    0
39471    0
39472    0
39473    0
39493    0
39494    0
39495    0
39496    0
39497    0
39498    1
Name: extra_runs, dtype: int64)
('T Natarajan', 749      0
750      0
751      0
752      0
753      0
        ..
10862    1
10863    1
10864    0
10865    0
10866    0

Name: extra_runs, Length: 82, dtype: int64)
('T Thushara', 27357    1
27358    0
27359    0
27360    0
27361    0
        ..
51173    0
51174    1
51175    0
51176    0
51177    0
Name: extra_runs, Length: 144, dtype: int64)
('TA Boult', 495      0
496      0
497      0
498      0
499      0
        ..
13367    1
13368    0
13369    0
13370    0
13371    0
Name: extra_runs, Length: 148, dtype: int64)
('TG Southee', 373      0
374      0
375      1
376      0
377      0
        ..
62446    0
62447    0
62448    0
62449    0
62450    0
Name: extra_runs, Length: 185, dtype: int64)
('TL Suman', 33519    0
33520    0
33521    0
33522    0
33523    0
        ..
68925    0
68926    0
68927    0
68928    0
68929    0
Name: extra_runs, Length: 140, dtype: int64)
('TM Dilshan', 24038    0
24039    0
24040    0
24041    0
24042    0
        ..
66964    0
66965    0
66966    0
66967    0
66968    0
Name: extra_runs, Length: 225, dtype: int64)
('TM Head', 44       0
45       0
46       0
47       0
48       0
49       0
4779     0
4780     0
4781     0
4782     0
4783     0
4784     0
4791     0
4792     0
4793     0
4794     0
4795     0
4796     0
7128     0
7129     0
7130     0
7131     0
7132     0
10584    0
10603    0
10604    0
10605    0
10606    0
10607    0
10608    0
12913    0
12914    0
12915    0
12916    0
12917    0
12918    0
12925    0
12926    0
12927    0
12928    0
12929    0
12930    0
12968    0
12969    0
12970    0
12971    0
12972    0
12973    0
Name: extra_runs, dtype: int64)
('TS Mills', 0       0
1       0
2       0
3       0
4       2
       ..
6367    0
6368    0
6369    0
6370    0
6371    0
Name: extra_runs, Length: 111, dtype: int64)
('Tejas Baroka', 1352    0
1353    0
1354    0
1355    0
1356    0
1357    0
1371    0
1372    0
1373    0
1374    0
1375    0
1376    0
1403    0
1404    0
1405    0
1406    0
1407    0
1408    0
1421    0
1422    0
1423    0
Name: extra_runs, dtype: int64)
('UT Yadav', 2361     0
2362     1
2363     0
2364     0
2365     1
        ..
64883    0
64884    1
64885    1
64886    0
64887    0
Name: extra_runs, Length: 569, dtype: int64)
('Umar Gul', 18154    0
18155    0
18156    0
18157    0
18158    0
        ..
26033    1
26034    0
26035    0
26036    0
26037    0
Name: extra_runs, Length: 153, dtype: int64)
('V Kohli', 17708    0
17709    0
17710    0
17711    0
17712    0
        ..
68786    0
68787    0
68788    0
68789    0
68790    0
Name: extra_runs, Length: 200, dtype: int64)
('V Sehwag', 17842    0
17843    0
17844    1
17845    0
17846    0
        ..
52908    0
52909    0
52910    0
52911    0
52912    0
Name: extra_runs, Length: 108, dtype: int64)
('VR Aaron', 1702     0
1703     0
1704     0
1705     0
1706     0
        ..
69223    0
69224    0
69225    0
69226    0
69227    0
Name: extra_runs, Length: 206, dtype: int64)
('VRV Singh', 16139    0
16140    0
16141    0
16142    0
16143    0
        ..
54020    0
54021    1
54022    0
54023    0
54024    0
Name: extra_runs, Length: 371, dtype: int64)
('VS Malik', 27906    1
27907    1
27908    0
27909    0
27910    0
        ..
58846    0
58847    0
58848    0
58849    0
58850    0
Name: extra_runs, Length: 132, dtype: int64)
('VS Yeligati', 15556    0
15557    0
15558    0
15559    0
15560    5
15561    0
15562    0
24464    1
24465    0
24466    0
24467    0
24468    0
24469    0
24501    0
24502    0
24503    0
24504    0
24505    1
24506    0
24513    0
24514    1
24515    0
24516    0
24517    0
24518    0
24519    0
24545    0
24546    0
24547    0
24548    0
24549    0
24550    0
Name: extra_runs, dtype: int64)
('VY Mahesh', 15329    0
15330    0
15331    0
15332    0
15333    0
        ..
41560    0
41561    0
41562    0
41563    0
41564    0
Name: extra_runs, Length: 298, dtype: int64)
('WA Mota', 14161    1
14162    0
14163    0
14164    1
14165    0
        ..
39594    0
39595    0
39596    0
39597    0
39598    0
Name: extra_runs, Length: 75, dtype: int64)
('WD Parnell', 56424    4
56425    0
56426    0
56427    0
56428    0
        ..
69681    0
69682    0
69683    0
69684    5
69685    0
Name: extra_runs, Length: 151, dtype: int64)
('WPUJC Vaas', 14918    0
14919    0
14920    0
14921    0
14922    0
        ..
54274    0
54275    1
54276    0
54277    1
54278    0
Name: extra_runs, Length: 288, dtype: int64)
('Washington Sundar', 5770     0
5771     0
5772     0
5773     0
5774     1
        ..
13684    0
13685    0
13686    0
13687    0
13688    0
Name: extra_runs, Length: 182, dtype: int64)
('Y Gnaneswara Rao', 69437    0
69438    0
69439    0
69440    0
69441    0
69442    0
Name: extra_runs, dtype: int64)
('Y Nagar', 39216    0
39217    0
39218    0
39219    1
39220    0
        ..
66032    1
66033    0
66034    1
66035    0
66036    0
Name: extra_runs, Length: 65, dtype: int64)
('Y Venugopal Rao', 18049    0
18050    0
18051    0
18052    0
18053    0
        ..
66003    0
66004    0
66005    0
66006    0
66007    0
Name: extra_runs, Length: 198, dtype: int64)
('YA Abdulla', 27899    0
27900    0
27901    1
27902    0
27903    0
        ..
42683    1
42684    0
42685    0
42686    0
42687    0
Name: extra_runs, Length: 222, dtype: int64)
('YK Pathan', 550      0
551      0
552      0
553      0
554      0
        ..
66516    0
66517    0
66518    0
66519    0
66520    0
Name: extra_runs, Length: 828, dtype: int64)
('YS Chahal', 20       0
21       0
22       0
23       0
24       0
        ..
12933    0
12934    0
12935    1
12936    0
12937    0
Name: extra_runs, Length: 271, dtype: int64)
('Yuvraj Singh', 4988     0
4989     0
4990     0
4991     0
4992     0
        ..
69713    0
69714    0
69715    0
69716    0
69760    0
Name: extra_runs, Length: 473, dtype: int64)
('Z Khan', 960      0
961      0
962      0
963      0
964      0
        ..
68742    0
68743    0
68744    0
68745    0
68746    0
Name: extra_runs, Length: 1203, dtype: int64)

In [15]:
erbb.get_group("TS Mills").sum()

13

# Catches Taken By Mandeep Singh.

In [16]:
df[(df["fielder"]=="Mandeep Singh") & (df["dismissal_kind"]=="caught")].loc[:,"player_dismissed":]

      player_dismissed dismissal_kind        fielder
11           DA Warner         caught  Mandeep Singh
2728    MJ McClenaghan         caught  Mandeep Singh
3922      DT Christian         caught  Mandeep Singh
4691          DR Smith         caught  Mandeep Singh
6355         CR Woakes         caught  Mandeep Singh
9751          SE Marsh         caught  Mandeep Singh
69340        IK Pathan         caught  Mandeep Singh

In [17]:
df[(df["fielder"]=="Mandeep Singh") & (df["dismissal_kind"]=="caught")].loc[:,"dismissal_kind"].count()

7

# How Many Times DA Warner is dismissed by Mohammed Shami.

In [18]:
df[(df["player_dismissed"]=="DA Warner") & (df["bowler"]=="Mohammed Shami")]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
9029,39,1,Sunrisers Hyderabad,Delhi Daredevils,6,2,DA Warner,S Dhawan,Mohammed Shami,0,...,0,0,0,0,0,0,0,DA Warner,bowled,NaN

In [19]:
df[(df["player_dismissed"]=="DA Warner") & (df["bowler"]=="Mohammed Shami")].loc[:,"player_dismissed"].count()

1

# Total Number of Wickets Taken by YS Chahal.

In [20]:
df[(df["bowler"]=="YS Chahal") & (df["player_dismissed"])].loc[:,"bowler"::10]

          bowler player_dismissed
94     YS Chahal     MC Henriques
1176   YS Chahal    CR Brathwaite
1851   YS Chahal         AR Patel
2822   YS Chahal       KA Pollard
4691   YS Chahal         DR Smith
4708   YS Chahal         SK Raina
4776   YS Chahal      BB McCullum
6311   YS Chahal        YK Pathan
6323   YS Chahal        MK Pandey
6325   YS Chahal  C de Grandhomme
8709   YS Chahal       KA Pollard
9777   YS Chahal          M Vohra
9792   YS Chahal       GJ Maxwell
10615  YS Chahal        G Gambhir

In [21]:
df[(df["bowler"]=="YS Chahal") & (df["player_dismissed"])].loc[:,"player_dismissed"].count()

14

# Find Number of Stump Out done by MS Dhoni.

In [22]:
df[(df["fielder"]=="MS Dhoni") & (df["dismissal_kind"]=="stumped")].loc[:,"player_dismissed":]

      player_dismissed dismissal_kind   fielder
3024       BB McCullum        stumped  MS Dhoni
4006    AB de Villiers        stumped  MS Dhoni
11944      CJ Anderson        stumped  MS Dhoni
28296       RV Uthappa        stumped  MS Dhoni
32944        DA Warner        stumped  MS Dhoni
35415         GC Smith        stumped  MS Dhoni
35445          AS Raut        stumped  MS Dhoni
49905        AT Rayudu        stumped  MS Dhoni
51089        MD Mishra        stumped  MS Dhoni
52411         CH Gayle        stumped  MS Dhoni
52422        DJ Hussey        stumped  MS Dhoni
52495          WP Saha        stumped  MS Dhoni
54962        MD Mishra        stumped  MS Dhoni
55630         MS Bisla        stumped  MS Dhoni
55677       EJG Morgan        stumped  MS Dhoni
55692        MK Tiwary        stumped  MS Dhoni
60699        AT Rayudu        stumped  MS Dhoni

In [23]:
df[(df["fielder"]=="MS Dhoni") & (df["dismissal_kind"]=="stumped")].loc[:,"dismissal_kind"].count()

17

# How Many Times S Dhawan Got Out by lbw.

In [24]:
df[(df["batsman"]=="S Dhawan") & (df["dismissal_kind"]=="lbw")].loc[:,"player_dismissed":]

      player_dismissed dismissal_kind fielder
31390         S Dhawan            lbw     NaN
46812         S Dhawan            lbw     NaN

In [25]:
df[(df["batsman"]=="S Dhawan") & (df["dismissal_kind"]=="lbw")].loc[:,"dismissal_kind"].count()

2

# Total number sixes hit by MS Dhoni.

In [26]:
df[(df["batsman"]=="MS Dhoni") & (df["batsman_runs"]== 6)].loc[:,"batsman"::9]

        batsman  batsman_runs
2081   MS Dhoni             6
3905   MS Dhoni             6
5975   MS Dhoni             6
5993   MS Dhoni             6
5999   MS Dhoni             6
...         ...           ...
67428  MS Dhoni             6
68290  MS Dhoni             6
68335  MS Dhoni             6
68344  MS Dhoni             6
68345  MS Dhoni             6

[62 rows x 2 columns]

In [27]:
df[(df["batsman"]=="MS Dhoni") & (df["batsman_runs"]== 6)].loc[:,"batsman_runs"].count()

62

# Total numbers of balls faced by MI Players.

In [28]:
# bpbt = BALL PLAYED BY BATTING TEAM

bpbt = df.groupby(["batting_team"])["ball"]

for i in bpbt:
    print(i)

('Chennai Super Kings', 14087    1
14088    2
14089    3
14090    4
14091    5
        ..
68341    2
68342    3
68343    4
68344    5
68345    6
Name: ball, Length: 6987, dtype: int64)
('Deccan Chargers', 14800    1
14801    2
14802    3
14803    4
14804    5
        ..
69756    4
69757    5
69758    6
69759    7
69760    1
Name: ball, Length: 7078, dtype: int64)
('Delhi Daredevils', 1084     1
1085     2
1086     3
1087     4
1088     5
        ..
69371    2
69372    3
69373    4
69374    5
69375    6
Name: ball, Length: 8197, dtype: int64)
('Gujarat Lions', 495      1
496      2
497      3
498      4
499      5
        ..
12213    4
12214    5
12215    6
12216    1
12217    2
Name: ball, Length: 1675, dtype: int64)
('Kings XI Punjab', 838      1
839      2
840      3
841      4
842      5
        ..
69247    2
69248    3
69249    4
69250    5
69251    6
Name: ball, Length: 8208, dtype: int64)
('Kochi Tuskers Kerala', 55936    1
55937    2
55938    3
55939    4
55940    5
        ..
69532    5
69533    6
69534    7
69535    1
69536    2
Name: ball, Length: 1455, dtype: int64)
('Kolkata Knight Riders', 617      1
618      2
619      3
620      4
621      5
        ..
68792    2
68793    3
68794    4
68795    5
68796    6
Name: ball, Length: 7887, dtype: int64)
('Mumbai Indians', 248      1
249      2
250      3
251      4
252      5
        ..
69120    4
69121    5
69122    6
69123    7
69124    8
Name: ball, Length: 8662, dtype: int64)
('Pune Warriors', 56524    1
56525    2
56526    3
56527    4
56528    5
        ..
69654    2
69655    3
69656    4
69657    5
69658    6
Name: ball, Length: 1402, dtype: int64)
('Rajasthan Royals', 14335    1
14336    2
14337    3
14338    4
14339    5
        ..
69484    5
69485    6
69486    1
69487    2
69488    3
Name: ball, Length: 6443, dtype: int64)
('Rising Pune Supergiant', 373      1
374      2
375      3
376      4
377      5
        ..
13857    2
13858    3
13859    4
13860    5
13861    6
Name: ball, Length: 1900, dtype: int64)
('Royal Challengers Bangalore', 125      1
126      2
127      3
128      4
129      5
        ..
68871    6
68872    1
68873    2
68874    3
68875    4
Name: ball, Length: 8188, dtype: int64)
('Sunrisers Hyderabad', 0        1
1        2
2        3
3        4
4        5
        ..
13367    3
13368    4
13369    5
13370    6
13371    7
Name: ball, Length: 1679, dtype: int64)

In [29]:
bpbt.count()

batting_team
Chennai Super Kings            6987
Deccan Chargers                7078
Delhi Daredevils               8197
Gujarat Lions                  1675
Kings XI Punjab                8208
Kochi Tuskers Kerala           1455
Kolkata Knight Riders          7887
Mumbai Indians                 8662
Pune Warriors                  1402
Rajasthan Royals               6443
Rising Pune Supergiant         1900
Royal Challengers Bangalore    8188
Sunrisers Hyderabad            1679
Name: ball, dtype: int64

In [30]:
bpbt.get_group("Mumbai Indians").count()

8662

# Total numbers of balls faced by KKR Players.

In [31]:
bpbt.get_group("Kolkata Knight Riders").count()

7887

# Find the total number of runs scored by Sachin Tendulkar.

In [32]:
trbb.get_group("SR Tendulkar").sum()

1578

# Find the total number of balls faced by Sachin Tendulkar.

In [33]:
# bpbp = BALL PLAYED BY PLAYERS(BATSMAN)

bpbp = df.groupby(["batsman"])["ball"]

for i in bpbp:
    print(i)

('A Chopra', 20477    1
20478    2
20482    6
20484    2
20490    1
        ..
27982    4
27983    5
27984    6
27986    2
27988    4
Name: ball, Length: 75, dtype: int64)
('A Choudhary', 246     3
247     4
7019    6
7020    1
7022    3
7024    5
7026    1
7027    2
7033    2
7035    4
7036    5
7037    6
7038    1
7040    3
9941    4
9943    6
9944    1
9946    3
9948    5
9949    6
Name: ball, dtype: int64)
('A Flintoff', 27490    1
27491    2
27492    3
27493    4
27496    1
27497    2
27498    3
27499    4
27500    5
27501    6
27502    7
27503    1
27504    2
27508    6
27509    7
27514    5
27517    2
27518    3
27522    1
27524    3
27526    5
27527    6
27528    1
27530    3
27532    5
28222    1
28223    2
28225    4
28226    5
28228    1
28229    2
28230    3
28232    5
28234    1
28238    5
28240    1
28241    2
28244    5
28245    6
28965    4
28966    5
28968    1
28970    3
28973    6
28974    1
28975    2
28978    5
28979    6
28985    6
28988    3
28990    5
28991    6
28992    7
28993    1
28994    2
28995    3
28998    6
Name: ball, dtype: int64)
('A Kumble', 19659    3
19660    4
19661    5
19662    6
19663    1
19666    4
19667    5
21987    7
23519    3
23520    4
23522    6
23529    1
23530    2
23532    4
23535    1
23538    4
24803    6
28332    4
28333    5
28334    6
28338    4
28339    5
28776    6
29409    3
29410    4
29411    5
32345    4
32346    5
32348    1
32349    2
35817    3
35820    6
35822    2
35825    5
35826    6
35831    5
40951    1
46545    6
49464    5
52142    3
52143    4
52146    1
52147    2
53558    1
53559    2
53562    5
54763    4
54764    5
54765    6
Name: ball, dtype: int64)
('A Mishra', 1186     3
1187     4
1188     5
1190     1
1191     2
        ..
68989    6
68993    3
68994    4
68995    5
68996    6
Name: ball, Length: 224, dtype: int64)
('A Mithun', 49455    2
49456    3
49457    4
49462    3
62309    7
62310    8
66306    3
66307    4
66309    6
Name: ball, dtype: int64)
('A Mukund', 25667    7
Name: ball, dtype: int64)
('A Nehra', 15737    4
15738    5
16221    3
16222    4
16225    7
16231    6
16233    1
16234    2
16235    3
16236    4
16237    5
16238    6
24679    4
37657    6
51530    4
51532    6
51536    4
51537    5
54249    2
54250    3
54251    4
54254    1
54255    2
54256    3
54262    3
54264    5
54265    6
54266    7
54268    2
54269    3
54272    6
54273    1
54276    4
54278    6
Name: ball, dtype: int64)
('A Singh', 38746    2
39380    4
39381    5
59369    3
59370    4
67552    5
67554    1
Name: ball, dtype: int64)
('A Symonds', 14831    5
14832    6
14839    1
14842    4
14843    5
        ..
69062    3
69063    4
69064    5
69065    6
69068    2
Name: ball, Length: 781, dtype: int64)
('A Uniyal', 41459    2
42315    2
42321    2
42322    3
42323    4
42327    2
42331    6
Name: ball, dtype: int64)
('A Zampa', 2097    2
2098    3
2100    5
2101    6
2108    7
2110    2
2111    3
Name: ball, dtype: int64)
('AA Bilakhia', 30505    3
30506    4
30507    5
30508    6
30509    1
        ..
40830    1
49689    5
49690    6
49691    1
49697    1
Name: ball, Length: 88, dtype: int64)
('AA Chavan', 69456    2
69457    3
69458    4
Name: ball, dtype: int64)
('AA Jhunjhunwala', 41371    2
41372    3
41373    4
41376    1
41377    2
        ..
65623    3
65624    4
67300    5
67301    6
67302    7
Name: ball, Length: 191, dtype: int64)
('AA Noffke', 14040    3
14041    4
14042    5
14043    6
14046    1
14051    6
14052    7
14053    1
14054    2
14055    3
14056    4
14059    1
Name: ball, dtype: int64)
('AB Agarkar', 16559    5
16560    6
16562    2
16567    7
16570    3
        ..
66854    5
66861    4
66862    5
66863    6
66866    2
Name: ball, Length: 144, dtype: int64)
('AB Barath', 43769    5
43772    2
43773    3
43775    5
43776    6
43779    3
43780    4
43781    5
43782    6
43783    1
50817    1
50818    2
50819    3
50823    1
50824    2
50835    1
50836    2
50838    4
50839    5
50845    5
50846    6
50850    4
50851    5
50852    6
50853    1
50855    3
50857    5
50858    6
50861    3
50862    4
50863    5
50865    7
50871    6
50873    2
50874    3
50876    5
50877    6
50878    1
51646    6
51647    1
51648    2
51649    3
51650    4
Name: ball, dtype: int64)
('AB Dinda', 2103     2
2104     3
2105     4
2106     5
2107     6
2109     1
2112     4
2115     1
18368    4
18370    6
18371    1
23129    4
28041    3
28042    4
30749    2
51299    1
56284    5
56285    6
56286    7
56289    3
56290    4
Name: ball, dtype: int64)
('AB McDonald', 39084    4
39086    6
39087    1
39089    3
46394    2
        ..
68456    5
68457    6
68458    1
68464    1
68465    2
Name: ball, Length: 65, dtype: int64)
('AB de Villiers', 1688     5
1689     6
1693     4
1694     5
1695     6
        ..
68865    6
68867    2
68870    5
68872    1
68875    4
Name: ball, Length: 933, dtype: int64)
('AC Blizzard', 65447    1
65453    1
65454    2
65459    1
65460    2
65461    3
66621    1
66622    2
66623    3
66624    4
66625    5
66626    6
66627    7
66628    1
66629    2
66630    3
66631    4
66634    1
66635    2
66636    3
66637    4
66638    5
66639    6
66651    5
66652    6
66659    1
66661    3
66662    4
66663    5
66664    6
67914    1
67915    2
67916    3
67917    4
67918    5
67919    6
67921    2
67932    1
67936    5
67939    1
69000    4
69001    5
69002    6
69006    4
69007    5
69008    6
69009    1
Name: ball, dtype: int64)
('AC Gilchrist', 14800    1
14808    2
14811    5
14812    6
14813    7
        ..
69130    6
69138    1
69139    2
69143    6
69146    3
Name: ball, Length: 1078, dtype: int64)
('AC Thomas', 60009    5
60010    6
62073    4
62075    6
Name: ball, dtype: int64)
('AC Voges', 43928    4
43929    5
43933    3
43934    4
43935    5
        ..
53632    3
53635    6
53640    5
53642    1
53644    3
Name: ball, Length: 143, dtype: int64)
('AD Mascarenhas', 21821    3
21827    2
21828    3
21829    4
21831    6
21833    2
21840    2
21841    3
27775    4
29078    1
29079    2
29081    4
29084    1
29086    3
29087    4
29088    5
29089    6
29091    2
29093    4
29095    6
29097    2
29101    6
29104    2
29107    5
29109    1
29112    4
29113    5
29116    2
29119    5
29121    1
29123    3
29124    4
29125    5
29126    6
29127    1
29128    2
29134    8
30186    2
30187    3
31939    2
31941    4
31942    5
31943    6
31945    2
31946    3
31948    5
31949    6
41453    3
41454    4
41457    7
41458    1
41461    4
41462    5
41463    6
41464    7
42311    4
42313    6
42314    1
Name: ball, dtype: int64)
('AD Mathews', 4159     3
4162     6
4169     1
4170     2
5014     3
        ..
52513    3
52517    1
52518    2
52519    3
52520    4
Name: ball, Length: 239, dtype: int64)
('AD Nath', 6209    1
Name: ball, dtype: int64)
('AF Milne', 4053    5
4055    1
4063    3
7797    5
7798    6
7800    2
7803    5
7806    2
7807    3
7808    4
7810    6
8630    6
Name: ball, dtype: int64)
('AG Murtaza', 63165    2
63167    4
63168    5
63169    6
63172    3
Name: ball, dtype: int64)
('AG Paunikar', 52626    4
55820    1
55821    2
55822    3
55823    4
        ..
59303    6
59304    1
59305    2
59306    3
59307    4
Name: ball, Length: 61, dtype: int64)
('AJ Finch', 545      2
547      4
548      5
551      2
552      3
        ..
61229    2
61231    4
61233    6
66067    1
66068    2
Name: ball, Length: 262, dtype: int64)
('AJ Tye', 4795    5
4796    6
4804    1
4805    2
4806    3
4808    5
6210    2
6211    3
6213    5
6216    2
6217    3
6218    4
6220    6
6222    2
6224    4
6225    5
6229    3
6230    4
7944    6
7946    2
7948    4
7949    5
7950    6
7951    1
7954    4
7955    5
7956    6
7957    1
7958    2
7960    4
Name: ball, dtype: int64)
('AL Menaria', 57025    4
57026    5
57028    1
57030    3
57031    4
        ..
69463    3
69466    6
69467    7
69468    1
69469    2
Name: ball, Length: 158, dtype: int64)
('AM Nayar', 14638    5
14639    6
14640    1
14642    3
14647    2
        ..
64709    6
66314    5
66320    4
66321    5
66322    6
Name: ball, Length: 408, dtype: int64)
('AM Rahane', 373      1
377      5
378      6
379      7
380      1
        ..
69401    2
69402    3
69403    4
69406    1
69407    2
Name: ball, Length: 574, dtype: int64)
('AN Ahmed', 49950    6
49951    7
49957    5
49959    1
49960    2
49961    3
49963    5
49964    6
Name: ball, dtype: int64)
('AN Ghosh', 30732    3
36324    4
36325    5
36326    6
36331    5
36332    6
36333    1
36334    2
Name: ball, dtype: int64)
('AP Dole', 49575    5
49576    6
49578    2
49579    3
51867    3
51870    6
51873    3
51877    1
51881    5
51882    6
51883    1
51885    3
51886    4
51887    5
51889    1
51892    4
51893    5
51894    6
51896    2
51897    3
51899    5
51900    6
51901    7
Name: ball, dtype: int64)
('AP Tare', 1084     1
1085     2
1086     3
1087     4
1094     4
        ..
44117    2
44118    3
54279    1
54282    4
54283    5
Name: ball, Length: 66, dtype: int64)
('AR Bawne', 7238    2
7240    4
7241    5
7242    6
7243    1
7244    2
7245    3
7246    4
7248    6
7249    1
7250    2
7254    6
Name: ball, dtype: int64)
('AR Patel', 872      3
874      5
875      6
876      1
878      3
        ..
12638    4
12641    1
12643    3
12648    2
12649    3
Name: ball, Length: 171, dtype: int64)
('AS Rajpoot', 13514    3
13515    4
13516    5
13517    6
13520    3
13521    4
13522    5
Name: ball, dtype: int64)
('AS Raut', 29129    3
29130    4
29131    5
29132    6
29133    7
        ..
68111    6
68112    7
68113    8
68115    2
68117    4
Name: ball, Length: 172, dtype: int64)
('AS Yadav', 14874    5
14876    1
14878    3
14879    4
14882    1
14883    2
14887    6
14888    1
14889    2
14890    3
15379    2
15383    6
15390    1
15391    2
15392    3
15395    6
15397    2
15852    1
15853    2
15858    7
15860    1
15861    2
15862    3
15863    4
15864    5
15865    6
15866    7
18726    4
18727    5
18728    6
18729    1
18732    4
18736    1
18737    2
18739    4
25902    3
25904    5
25907    2
25911    6
26531    6
Name: ball, dtype: int64)
('AT Rayudu', 290      6
291      1
293      3
294      4
297      1
        ..
69013    5
69014    6
69019    5
69020    6
69021    7
Name: ball, Length: 661, dtype: int64)
('AUK Pathan', 56176    1
56177    2
56178    3
56179    4
56180    5
57197    2
57198    3
58674    3
58675    4
58676    5
58677    6
58679    2
58680    3
66297    6
Name: ball, dtype: int64)
('Abdur Razzak', 23539    5
23540    6
Name: ball, dtype: int64)
('Anirudh Singh', 41176    4
41179    1
41180    2
41182    4
41183    5
        ..
55092    4
55093    5
55094    6
55097    3
55101    1
Name: ball, Length: 69, dtype: int64)
('Ankit Sharma', 2920    3
2921    4
2922    5
2926    3
2927    4
2931    2
2932    3
2934    5
2936    1
2939    4
2940    5
2943    1
2944    2
2945    3
2946    4
2950    1
Name: ball, dtype: int64)
('Ankit Soni', 7968     4
7970     6
8874     5
12204    2
12208    6
12209    7
12211    2
12213    4
12214    5
Name: ball, dtype: int64)
('Anureet Singh', 7572    6
7573    1
7574    2
7581    3
7583    5
7584    6
7585    1
7586    2
7588    4
7589    5
7593    3
7596    6
Name: ball, dtype: int64)
('B Akhil', 14038    1
14039    2
14793    5
14794    6
14796    2
14797    3
14798    4
14799    5
17393    6
17394    1
17396    3
18847    4
18848    5
18849    6
18851    2
18852    3
18853    4
18855    6
20973    3
20974    4
20975    5
20980    4
24078    4
24081    1
24083    3
24775    2
24787    2
24788    3
24791    6
24796    5
24797    6
24800    3
27666    6
27671    5
27672    6
27676    4
27683    5
27684    6
27685    7
27688    3
27689    4
29904    2
29905    3
29906    4
29907    5
29909    7
37263    7
37266    3
63737    2
63740    5
63741    6
63742    1
63743    2
63744    3
63745    4
63746    5
63749    2
Name: ball, dtype: int64)
('B Chipli', 17274    1
17278    5
17279    6
17280    7
17283    2
        ..
68952    5
68955    2
68956    3
68958    5
68961    2
Name: ball, Length: 198, dtype: int64)
('B Kumar', 2238     3
2240     5
2241     6
10193    4
69655    3
Name: ball, dtype: int64)
('B Lee', 15145    3
15146    4
16098    6
16099    7
16102    3
        ..
60361    2
60363    4
62923    2
65935    6
65939    4
Name: ball, Length: 66, dtype: int64)
('B Sumanth', 52016    3
52017    4
52018    5
52020    1
53307    6
53308    1
53315    1
54124    5
54125    6
54129    4
54130    5
54136    5
54139    2
54141    4
54142    5
54147    4
54148    5
54150    1
54155    6
54963    2
54964    3
54965    4
54966    5
54969    1
54970    2
54971    3
54972    4
54980    6
54981    7
54982    1
54984    3
54987    6
54992    5
54993    6
54995    2
54996    3
54998    5
54999    6
Name: ball, dtype: int64)
('BA Stokes', 437      4
438      5
439      6
440      1
441      2
        ..
12066    5
12069    2
12070    3
12071    4
12072    5
Name: ball, Length: 227, dtype: int64)
('BAW Mendis', 30748    1
51302    4
Name: ball, dtype: int64)
('BB McCullum', 501      1
507      7
508      1
509      2
510      3
        ..
69498    2
69500    4
69501    5
69502    6
69510    1
Name: ball, Length: 940, dtype: int64)
('BCJ Cutting', 117     5
119     1
121     3
122     4
123     5
124     6
2208    6
2215    7
2216    8
2217    1
2218    2
2219    3
2222    6
2223    7
2224    1
2225    2
2227    4
3275    3
3276    4
3282    4
3283    5
3289    3
3290    4
3294    2
3298    6
3299    7
3300    1
Name: ball, dtype: int64)
('BJ Haddin', 60894    1
60895    2
60897    4
60898    5
60899    6
60904    5
60905    6
60908    3
60911    6
60915    4
60916    5
Name: ball, dtype: int64)
('BJ Hodge', 18283    6
18288    5
18289    6
19001    2
19002    3
        ..
69530    3
69531    4
69532    5
69533    6
69534    7
Name: ball, Length: 630, dtype: int64)
('Basil Thampi', 1314    5
1317    2
1319    4
1320    5
1321    6
1323    2
1325    4
1327    6
4809    6
6231    5
6233    1
6234    2
6235    3
6237    5
6239    7
6240    8
6246    6
6248    1
6249    2
6250    3
6252    5
7965    1
7966    2
7967    3
7969    5
8864    1
8865    2
8866    3
8870    1
8873    4
Name: ball, dtype: int64)
('Bipul Sharma', 3301     2
3302     3
3303     4
3305     6
3306     1
3307     2
3308     3
3309     4
3310     5
3312     1
3313     2
3314     3
3315     4
3316     5
10180    4
10181    5
10185    3
10186    4
10187    5
10188    6
10190    1
10191    2
13362    4
13363    5
13369    5
43821    2
43826    1
43827    2
43831    6
43832    1
43833    2
50096    5
63868    4
63870    6
63872    2
63873    3
63875    5
63876    6
63880    4
63882    6
63884    2
63885    3
63887    5
63890    2
64711    2
64713    4
67901    6
67903    2
67911    4
67912    5
Name: ball, dtype: int64)
('C Madan', 52151    1
52152    2
52153    3
52154    4
52155    5
52156    6
52161    5
52163    1
52164    2
52166    4
52167    5
52168    6
52170    2
52171    3
52172    4
52173    5
52174    6
52182    4
52183    5
52184    6
52187    3
Name: ball, dtype: int64)
('C Nanda', 37528    3
Name: ball, dtype: int64)
('C de Grandhomme', 3187     8
3191     4
4191     3
4193     5
6324     2
        ..
12532    4
12533    5
12540    6
12541    1
13449    6
Name: ball, Length: 92, dtype: int64)
('CA Ingram', 66750    6
66751    1
68364    1
68365    2
68366    3
68368    5
68369    6
68373    4
68374    5
68376    1
68377    2
68378    3
68385    4
68388    1
Name: ball, dtype: int64)
('CA Lynn', 618      2
619      3
622      6
624      2
625      3
        ..
13410    4
13411    5
13412    6
13413    1
13415    3
Name: ball, Length: 175, dtype: int64)
('CA Pujara', 40961    5
40963    1
40964    2
40965    3
40966    4
        ..
62272    6
62273    1
62276    4
62279    1
62281    3
Name: ball, Length: 151, dtype: int64)
('CH Gayle', 125      1
131      1
132      2
133      3
137      1
        ..
68806    4
68807    5
68808    6
68811    3
68812    4
Name: ball, Length: 747, dtype: int64)
('CH Morris', 1152    6
1153    1
1158    6
1159    1
1165    7
       ..
9224    6
9225    1
9232    2
9234    4
9235    5
Name: ball, Length: 97, dtype: int64)
('CJ Anderson', 1988     5
1989     6
1992     3
1993     4
2009     1
        ..
12955    6
12960    5
12965    4
12966    5
12969    2
Name: ball, Length: 130, dtype: int64)
('CJ Ferguson', 67278    2
67279    3
67280    4
67281    5
67283    1
67284    2
67287    5
67288    6
67289    1
67290    2
67291    3
67296    1
67297    2
67304    1
67309    6
67778    3
67779    4
67780    5
67781    6
67782    7
67784    2
67788    6
67789    1
67790    2
69584    6
69586    2
69587    3
69588    4
69589    5
69590    6
69591    1
69593    3
69595    5
69597    1
69598    2
69599    3
69603    1
Name: ball, dtype: int64)
('CJ Jordan', 13361    3
Name: ball, dtype: int64)
('CK Kapugedera', 20444    5
20446    1
20448    3
20450    5
20453    2
20454    3
20456    5
20461    4
20465    2
22374    4
22375    5
27202    4
27203    5
27204    6
27205    1
27207    3
27209    5
27211    1
27212    2
27213    3
27214    4
27216    6
27217    7
27219    1
Name: ball, dtype: int64)
('CK Langeveldt', 47279    6
Name: ball, dtype: int64)
('CL White', 14017    6
14022    5
14024    1
14025    2
14026    3
        ..
65141    2
65142    3
65143    4
65145    6
65146    1
Name: ball, Length: 235, dtype: int64)

('CR Brathwaite', 1168     3
1169     4
1170     5
1175     4
1176     5
11547    5
11548    6
11550    1
11551    2
11552    3
11553    4
11554    5
11555    6
11556    1
11559    4
11560    5
Name: ball, dtype: int64)
('CR Woakes', 1528     3
1529     4
1530     5
1533     2
1534     3
1536     5
1537     6
1538     1
3192     5
4300     7
4301     1
4305     5
4307     1
4308     2
6326     4
6327     5
6328     6
6329     1
6330     2
6331     3
6332     4
6333     5
6334     6
6337     3
6338     4
6341     1
6342     2
6344     4
6345     5
6346     6
6347     1
6350     4
6353     1
6354     2
6355     3
8503     1
8505     3
8506     4
9338     5
9339     6
9341     2
11343    3
11344    4
11345    5
11348    2
11351    5
11352    6
Name: ball, dtype: int64)
('CRD Fernando', 24680    5
55452    4
55454    6
Name: ball, dtype: int64)
('D Kalyankrishna', 17983    2
17984    3
17985    4
17988    1
17991    4
17992    5
17994    1
18000    1
Name: ball, dtype: int64)
('D Salunkhe', 14409    2
14410    3
14412    5
14413    6
14417    3
14420    6
14425    5
14433    1
14436    4
14437    5
14444    6
14447    3
14448    4
14449    5
14450    6
14451    1
14452    2
14453    3
14455    5
14456    6
15980    4
22780    4
22781    5
22782    6
Name: ball, dtype: int64)
('D du Preez', 34499    2
34501    4
34502    5
34503    6
34505    2
34506    3
34508    5
34509    6
34510    1
34512    3
34523    2
34527    6
34529    2
Name: ball, dtype: int64)
('DA Miller', 911     3
913     5
914     6
917     3
921     7
       ..
4489    3
4492    6
4494    2
4495    3
4496    4
Name: ball, Length: 82, dtype: int64)
('DA Warner', 0        1
1        2
2        3
3        4
4        5
        ..
69307    5
69309    1
69311    3
69312    4
69313    5
Name: ball, Length: 1065, dtype: int64)
('DB Das', 17403    6
17406    3
17407    4
17408    5
17409    6
        ..
24312    5
24313    6
24314    1
24316    3
26072    3
Name: ball, Length: 95, dtype: int64)
('DB Ravi Teja', 18711    1
18713    3
18714    4
18716    6
18719    3
        ..
67595    2
67598    5
67599    6
67600    1
67602    3
Name: ball, Length: 261, dtype: int64)
('DE Bollinger', 51056    4
51057    5
51058    6
52926    2
52927    3
52928    4
52929    5
52930    6
52932    1
52933    2
52935    4
52937    6
52939    2
52942    5
52946    9
52948    2
52949    3
60878    6
Name: ball, dtype: int64)
('DH Yagnik', 60610    2
60611    3
60612    4
60613    5
60616    2
60617    3
60618    4
60619    5
60623    2
60627    6
65326    2
67545    4
67546    5
67547    6
67548    1
67549    2
67550    3
67551    4
68110    5
68114    1
68116    3
68118    5
68119    6
Name: ball, dtype: int64)
('DJ Bravo', 15674    5
15680    5
15682    7
15683    8
15685    1
        ..
54366    3
54368    5
54369    6
54371    2
54373    4
Name: ball, Length: 401, dtype: int64)
('DJ Hooda', 96      4
98      6
99      1
103     5
104     6
105     1
106     2
111     7
112     8
113     1
118     6
120     2
2180    4
2181    5
2184    2
2185    3
2186    4
2190    2
2191    3
2193    5
2196    8
2197    1
3259    5
3261    1
3262    2
3263    3
3265    5
3272    6
3274    2
4409    4
4416    4
4418    6
4420    2
4421    3
4422    4
4423    5
4424    6
4425    1
4428    4
4923    3
4925    5
4928    2
4929    3
5867    4
5868    5
5870    1
5872    3
5873    4
5877    2
5878    3
5879    4
5883    2
5884    3
Name: ball, dtype: int64)
('DJ Hussey', 13944    2
13945    3
13947    5
13949    1
13950    2
        ..
68716    5
69216    4
69224    5
69228    1
69231    4
Name: ball, Length: 481, dtype: int64)
('DJ Jacobs', 56291    1
56292    2
56293    3
56294    4
56297    1
        ..
64500    3
64501    4
64502    5
64503    6
64506    3
Name: ball, Length: 91, dtype: int64)
('DJ Thornely', 14565    6
14570    5
14571    6
14572    7
14575    3
14576    4
19140    1
19142    3
19144    5
19145    6
19148    3
19150    5
19152    1
19153    2
19156    5
19159    1
19160    2
19161    3
19162    4
19163    5
19164    6
19166    2
19167    3
19170    6
19171    1
19178    2
19179    3
19181    5
19184    2
19185    3
23158    5
23159    6
23162    3
23165    6
23166    7
23167    8
23565    6
23571    6
23573    2
23574    3
23575    4
23577    6
23578    1
23579    2
23580    3
23584    1
23585    2
23587    4
23588    5
23590    1
23595    6
23596    1
23598    3
23599    4
Name: ball, dtype: int64)
('DL Chahar', 2091    2
2092    3
2094    5
2095    6
2099    4
2102    1
Name: ball, dtype: int64)
('DL Vettori', 30795    3
30797    5
30799    1
30801    3
30803    5
        ..
62317    1
62318    2
62320    4
62321    5
62325    2
Name: ball, Length: 89, dtype: int64)
('DM Bravo', 6914    1
6915    2
6918    5
6919    6
6920    1
Name: ball, dtype: int64)
('DNT Zoysa', 17972    3
17982    1
23788    2
23789    3
23790    4
23792    6
23794    2
23796    4
23798    6
Name: ball, dtype: int64)
('DP Nannes', 43139    4
43140    5
43142    1
43143    2
43149    1
43150    2
43151    3
43152    4
43155    1
43156    2
43157    3
44566    4
44567    5
Name: ball, dtype: int64)
('DP Vijaykumar', 23035    6
Name: ball, dtype: int64)
('DPMD Jayawardene', 15079    4
15080    5
15082    1
15083    2
15085    4
        ..
68595    3
68596    4
69495    7
69496    8
69499    3
Name: ball, Length: 894, dtype: int64)
('DR Martyn', 43193    4
43195    6
43196    7
43200    4
43203    1
43210    2
43212    4
43213    5
43214    6
43215    1
43216    2
43222    2
43224    4
43227    1
43233    1
43235    3
43236    4
43239    7
43240    1
43246    1
43248    3
43249    4
43257    6
43258    1
43259    2
43260    3
Name: ball, dtype: int64)
('DR Smith', 1264     3
1266     5
1267     6
1269     2
1271     4
        ..
55053    2
55055    4
55056    5
55057    6
55059    2
Name: ball, Length: 358, dtype: int64)
('DS Kulkarni', 1310     1
1313     4
16209    3
16210    4
16211    5
16212    6
16214    2
16215    3
16216    4
16217    5
16218    6
16223    5
16224    6
16226    1
16227    2
16228    3
16229    4
16230    5
16232    7
34394    4
34396    6
34397    1
34400    4
34401    5
34403    1
34405    3
34406    4
34408    6
34972    2
34973    3
34975    5
34976    6
37523    5
37524    6
37525    7
37526    1
37527    2
67981    5
67986    4
67992    4
67993    5
Name: ball, dtype: int64)
('DS Lehmann', 14379    2
14381    4
15198    1
15199    2
15200    3
15204    1
15210    1
15214    5
15215    6
15219    3
15220    4
15221    5
15222    6
15225    3
15228    6
15230    2
15231    3
15235    1
15236    2
Name: ball, dtype: int64)
('DT Christian', 823      6
824      7
826      1
829      4
833      2
        ..
68982    5
68983    6
68985    2
69754    2
69760    1
Name: ball, Length: 203, dtype: int64)
('DT Patil', 19650    6
23489    4
23490    5
23491    6
23492    1
23495    4
23496    5
23497    6
23501    4
23504    7
23505    1
23506    2
23508    4
Name: ball, dtype: int64)
('DW Steyn', 17395    2
17397    4
19668    6
19669    1
19670    2
        ..
67672    1
67673    2
67674    3
67675    4
67676    5
Name: ball, Length: 62, dtype: int64)
('EJG Morgan', 3465     3
3466     4
3467     5
3469     1
3470     2
        ..
68723    1
68728    6
68729    1
68730    2
68731    3
Name: ball, Length: 216, dtype: int64)
('F du Plessis', 2035    1
2041    1
2046    6
2053    7
2054    1
2055    2
2057    4
Name: ball, dtype: int64)
('FH Edwards', 28646    2
28647    3
29650    6
29651    1
29652    2
Name: ball, dtype: int64)
('FY Fazal', 43845    2
43846    3
43849    6
43852    3
43853    4
        ..
69389    2
69390    3
69391    4
69392    5
69393    6
Name: ball, Length: 179, dtype: int64)
('G Gambhir', 617      1
620      4
621      5
623      1
626      4
        ..
68743    3
68744    4
68747    1
68748    2
68749    3
Name: ball, Length: 1573, dtype: int64)
('GC Smith', 15871    5
15872    6
15877    5
15878    6
15883    5
        ..
65580    4
65583    1
65590    2
65591    3
65592    4
Name: ball, Length: 691, dtype: int64)
('GD McGrath', 19339    4
19340    5
26882    4
26883    5
26884    6
Name: ball, dtype: int64)
('GJ Bailey', 38772    2
38773    3
38774    4
38775    5
38776    6
        ..
45250    6
45251    1
45252    2
45253    3
45254    4
Name: ball, Length: 67, dtype: int64)
('GJ Maxwell', 910      2
912      4
915      1
916      2
918      4
        ..
11665    6
12611    4
12612    5
12613    6
12614    7
Name: ball, Length: 186, dtype: int64)
('GR Napier', 32052    5
32055    2
32056    3
32057    4
32058    5
32059    6
32061    2
32063    4
32064    5
32065    6
32068    3
32070    5
32073    2
32074    3
32076    5
32077    6
Name: ball, dtype: int64)
('H Das', 23784    4
23785    5
23786    6
23787    1
23791    5
Name: ball, dtype: int64)
('HH Gibbs', 17904    3
17905    4
17907    6
17908    7
17911    3
        ..
54946    3
54947    4
54952    3
54953    4
54954    5
Name: ball, Length: 746, dtype: int64)
('HH Pandya', 344      4
345      5
348      2
350      4
353      1
        ..
13691    3
13692    4
13694    6
13695    1
13696    2
Name: ball, Length: 172, dtype: int64)
('HM Amla', 838      1
839      2
840      3
841      4
843      6
        ..
10736    3
10740    1
10741    2
10743    4
10744    5
Name: ball, Length: 296, dtype: int64)
('Harbhajan Singh', 1670     5
2352     2
2353     3
2354     4
5623     4
        ..
69115    5
69116    6
69122    6
69123    7
69124    8
Name: ball, Length: 185, dtype: int64)
('Harmeet Singh', 55000    1
Name: ball, dtype: int64)
('Harpreet Singh', 63530    6
64078    3
64079    4
64081    6
64082    1
64083    2
64085    4
64086    5
64087    6
64088    1
64093    6
64094    1
64096    3
64097    4
64099    6
64103    4
64104    5
64107    2
64110    5
64112    1
Name: ball, dtype: int64)
('I Malhotra', 66058    4
66061    1
66063    3
66064    4
Name: ball, dtype: int64)
('I Sharma', 4549     2
4552     5
4553     6
4558     4
4559     5
4560     6
7594     4
7595     5
12663    5
12664    6
12669    5
12670    6
12671    1
16584    4
16590    4
16593    7
18369    5
23124    5
23125    6
23126    1
23127    2
23128    3
24331    6
26155    6
28025    5
28026    6
28028    2
28029    3
28030    4
28032    6
28035    3
28036    4
28040    2
29278    7
30738    3
30742    1
30747    6
42897    2
42901    6
42906    5
42909    2
42912    5
42913    6
42916    3
42918    5
42919    6
42921    2
42922    3
42923    4
42925    6
42926    1
42927    2
51300    2
51301    3
55818    5
56850    5
61616    2
61617    3
64488    3
Name: ball, dtype: int64)
('IK Pathan', 7932     1
7937     6
7942     4
14322    6
14324    2
        ..
69327    1
69331    5
69333    1
69334    2
69340    2
Name: ball, Length: 621, dtype: int64)
('IR Jaggi', 13381    4
13382    5
13386    2
13393    1
13397    5
        ..
56740    6
56741    7
56742    1
56743    2
56744    3
Name: ball, Length: 78, dtype: int64)
('Imran Tahir', 2113    5
2114    6
Name: ball, dtype: int64)
('Iqbal Abdulla', 1066     1
1067     2
1071     6
1073     2
1074     3
1075     4
1078     1
22209    3
22210    4
52523    7
55695    3
55696    4
55697    5
60364    5
60365    6
60369    3
60371    5
60372    6
60373    1
60374    2
60375    3
60376    4
Name: ball, dtype: int64)
('Ishan Kishan', 3636     3
3637     4
3638     5
3639     6
3640     1
        ..
12171    5
12172    6
12173    1
12174    2
12176    4
Name: ball, Length: 214, dtype: int64)
('J Arunkumar', 20575    1
20576    2
20577    3
20578    4
20579    5
20580    6
20586    6
20590    4
20592    6
20593    7
20598    5
20599    6
20600    1
20601    2
20602    3
20603    4
20604    5
20605    6
21864    1
21870    1
21876    1
23422    1
23423    2
23424    3
Name: ball, dtype: int64)
('J Botha', 37400    3
37402    5
37403    6
38663    1
38664    2
        ..
68086    5
68087    6
68090    3
68092    5
68096    3
Name: ball, Length: 242, dtype: int64)
('J Syed Mohammad', 62311    1
62312    2
62313    3
62315    5
62316    6
62319    3
62322    6
62323    7
62324    1
62326    3
Name: ball, dtype: int64)
('J Theron', 44684    1
44685    2
45549    5
45550    6
45551    1
45554    4
Name: ball, dtype: int64)
('JA Morkel', 18466    6
18469    3
18470    4
18471    5
18472    6
        ..
67426    4
67427    5
67429    1
67432    4
67435    7
Name: ball, Length: 450, dtype: int64)
('JC Buttler', 251     4
255     1
256     2
257     3
258     4
       ..
8667    6
8670    3
8673    6
8675    2
8676    3
Name: ball, Length: 186, dtype: int64)
('JD Ryder', 27595    1
27596    2
28651    1
29290    1
29291    2
        ..
69555    1
69556    2
69557    3
69558    4
69560    6
Name: ball, Length: 244, dtype: int64)
('JD Unadkat', 3926    3
3927    4
3928    5
3937    1
3939    3
Name: ball, dtype: int64)
('JDP Oram', 14164    4
14165    5
14166    6
14168    8
14169    1
        ..
40589    1
40590    2
69436    6
69442    6
69444    2
Name: ball, Length: 110, dtype: int64)
('JE Taylor', 62068    6
62069    7
62442    4
62443    5
Name: ball, dtype: int64)
('JEC Franklin', 60013    1
60014    2
60015    3
60016    4
60017    5
60018    6
60021    3
60022    4
Name: ball, dtype: int64)
('JH Kallis', 14001    3
14008    3
14009    4
14012    1
14014    3
        ..
68727    5
68733    5
68734    6
68738    4
68739    5
Name: ball, Length: 1390, dtype: int64)
('JJ Bumrah', 8088     3
13232    1
13234    3
13235    4
13236    5
13237    6
13238    1
13240    3
13241    4
13242    5
13244    1
13248    5
Name: ball, dtype: int64)
('JJ Roy', 495     1
496     2
497     3
498     4
499     5
500     6
502     2
503     3
504     4
505     5
506     6
512     5
514     1
1208    1
1209    2
1210    3
1213    6
1214    1
1215    2
1216    3
1217    4
1218    5
1221    2
1222    3
1223    4
1224    5
1225    6
1226    1
1227    2
1228    3
1231    6
1232    1
1238    1
1239    2
3678    6
3681    3
3683    5
3685    7
3687    2
3688    3
3690    5
Name: ball, dtype: int64)
('JJ van der Wath', 58040    6
58777    6
58783    6
58786    3
58787    4
58788    5
58789    6
58790    7
58791    1
58793    3
58795    5
58796    6
Name: ball, dtype: int64)
('JM Kemp', 42115    1
42119    5
42120    6
42121    1
42122    2
42123    3
42128    1
42129    2
42130    3
42132    5
42133    6
42136    3
42141    2
42143    4
42144    5
42145    6
43577    3
43580    6
43584    4
43585    5
43587    7
43588    1
43589    2
43590    3
43592    5
Name: ball, dtype: int64)
('JP Duminy', 27423    7
27424    1
27426    3
27427    4
27429    6
        ..
69755    3
69756    4
69757    5
69758    6
69759    7
Name: ball, Length: 629, dtype: int64)
('JP Faulkner', 5509     6
5510     1
7914     2
7915     3
7916     4
7917     5
7918     6
7919     7
7922     3
7926     1
7927     2
7929     4
7931     6
7933     2
7934     3
7935     4
7936     5
7938     7
7939     1
7940     2
7941     3
7943     5
7945     1
7947     3
7952     2
7953     3
7959     3
7961     5
7962     6
7963     7
7964     8
8848     3
8850     5
8853     2
8854     3
8856     5
8858     1
8859     2
9591     5
9592     6
9593     1
9594     2
11468    4
11469    5
11470    6
11471    1
11472    2
11473    3
11475    5
11476    6
12184    6
12187    3
12188    4
12189    5
12193    3
12195    5
12196    6
12197    1
12198    2
12201    5
Name: ball, dtype: int64)
('JR Hopes', 14215    5
14216    6
14218    2
14219    3
14224    2
        ..
69341    3
69342    4
69343    5
69344    6
69345    1
Name: ball, Length: 314, dtype: int64)
('Jaskaran Singh', 41200    4
41201    5
41208    5
41209    6
43717    2
43719    4
43721    6
47008    1
47010    3
48979    5
48980    6
Name: ball, dtype: int64)
('Joginder Sharma', 19430    5
19881    6
19883    2
19885    4
19886    5
19891    4
19893    6
19894    1
19899    6
19901    2
19903    4
27567    4
27568    5
27570    1
27574    5
27576    1
27577    2
27578    3
27579    4
27580    5
27583    2
27585    4
27586    5
27587    6
27588    1
27590    3
29017    1
29018    2
29019    3
60872    6
Name: ball, dtype: int64)
('K Goel', 14211    1
14212    2
14213    3
14214    4
14217    1
        ..
46290    3
46293    6
47380    2
47386    1
47387    2
Name: ball, Length: 239, dtype: int64)
('K Rabada', 5673     4
5674     5
5675     6
5676     7
5677     1
        ..
10370    5
10371    6
10376    5
10377    6
10381    4
Name: ball, Length: 68, dtype: int64)
('KA Pollard', 332      4
334      6
335      1
336      2
337      3
        ..
69117    1
69118    2
69119    3
69120    4
69121    5
Name: ball, Length: 535, dtype: int64)
('KAJ Roach', 47012    5
47013    6
47014    1
47015    2
47017    4
47020    1
47021    2
47022    3
47025    6
Name: ball, dtype: int64)
('KB Arun Karthik', 46781    3
46784    6
46785    1
46786    2
46789    5
68864    5
68866    1
Name: ball, dtype: int64)
('KC Cariappa', 3559    6
3560    1
4540    5
4541    6
4546    5
4547    6
4548    1
Name: ball, dtype: int64)
('KC Sangakkara', 14249    1
14251    3
14253    5
14258    4
14264    4
        ..
69746    6
69748    2
69749    3
69752    6
69753    1
Name: ball, Length: 1097, dtype: int64)
('KD Karthik', 559      4
560      5
565      4
569      2
570      3
        ..
69245    6
69246    1
69247    2
69248    3
69249    4
Name: ball, Length: 1052, dtype: int64)
('KH Pandya', 317      2
319      4
322      1
325      4
328      7
        ..
13733    3
13734    4
13735    5
13736    6
13738    8
Name: ball, Length: 186, dtype: int64)
('KK Nair', 1113     5
1114     6
1117     3
3361     1
3362     2
        ..
12901    2
12902    3
12903    4
12904    5
12908    2
Name: ball, Length: 229, dtype: int64)
('KM Jadhav', 168      6
172      4
174      6
176      2
177      3
        ..
61738    1
61741    4
61742    5
62711    7
62718    1
Name: ball, Length: 276, dtype: int64)
('KP Appanna', 32350    3
49463    4
49465    6
52150    5
Name: ball, dtype: int64)
('KP Pietersen', 27598    4
27599    5
27600    6
27603    3
27606    6
        ..
55196    2
55200    6
55201    1
55202    2
55205    5
Name: ball, Length: 248, dtype: int64)
('KS Williamson', 4823     1
4824     2
4825     3
4827     5
4830     2
        ..
13307    4
13313    4
13316    1
13319    4
13321    6
Name: ball, Length: 170, dtype: int64)
('KV Sharma', 6620     1
6621     2
6622     3
6624     5
6626     1
6627     2
6628     3
6629     4
6630     5
6632     1
8714     5
8718     3
8719     4
8722     1
8724     3
8725     4
8727     6
8731     3
10981    2
10982    3
10984    5
10985    6
10991    6
11827    3
11831    7
11833    2
11834    3
11835    4
11836    5
13219    1
13220    2
13223    5
13224    6
13225    7
13226    1
13229    4
13231    6
13697    3
13698    4
13699    5
13700    6
13701    1
28758    1
28760    3
28761    4
Name: ball, dtype: int64)
('Kamran Akmal', 15173    5
15174    6
15175    7
15176    8
15180    4
        ..
27252    4
27253    5
27254    6
27257    3
27264    4
Name: ball, Length: 78, dtype: int64)
('Kamran Khan', 27811    3
27812    4
27813    5
27814    6
27815    1
Name: ball, dtype: int64)
('Kuldeep Yadav', 6364     6
6365     7
6366     1
6367     2
6372     1
6373     2
6374     3
12542    2
12545    5
12546    6
12547    1
12549    3
12550    4
12552    6
12555    3
12556    4
12558    6
12561    2
12562    3
12564    5
12567    2
12568    3
Name: ball, dtype: int64)
('L Ablish', 66426    5
66427    6
Name: ball, dtype: int64)
('L Balaji', 24915    6
24916    7
24917    1
24918    2
24919    3
32838    2
32839    3
32840    4
37151    3
39612    1
39613    2
39618    1
39619    2
39620    3
39623    6
42179    4
42180    5
42182    1
42184    3
42186    5
42187    6
42188    1
42189    2
42192    5
42193    6
45317    5
45318    6
52915    3
52916    4
52917    5
52918    6
52919    1
52922    4
52923    5
52925    1
60378    6
62927    6
Name: ball, dtype: int64)
('L Ronchi', 14554    1
14555    2
14556    3
14557    4
14558    5
14559    6
14561    2
14562    3
14563    4
14564    5
15613    1
15614    2

('PM Sarvesh Kumar', 23033    4
23034    5
Name: ball, dtype: int64)
('PP Chawla', 13498    7
13499    1
13502    4
13503    5
13504    6
        ..
66370    5
66373    2
66375    4
66377    6
69250    5
Name: ball, Length: 217, dtype: int64)
('PP Ojha', 20793    5
20795    7
23031    2
26537    5
29653    3
29654    4
31614    6
33670    3
33671    4
37037    2
37038    3
48981    1
48982    2
55001    2
55002    3
55006    1
55007    2
55120    2
55121    3
Name: ball, dtype: int64)
('PR Shah', 14591    6
14593    2
14594    3
14597    6
14600    3
        ..
69430    6
69431    1
69432    2
69433    3
69434    4
Name: ball, Length: 97, dtype: int64)
('Pankaj Singh', 15983    7
15984    1
15985    2
22783    1
22785    3
22786    4
22787    5
22788    6
29408    2
29908    6
53555    5
53557    7
Name: ball, dtype: int64)
('R Ashwin', 39591    5
39592    6
39594    2
39595    3
39596    4
39598    6
39599    1
39601    3
39602    4
39603    5
39604    6
39607    3
39608    4
39610    6
39611    7
42178    3
44811    6
44812    7
44816    4
44817    5
44818    6
45296    3
45299    6
45301    1
45304    4
45306    6
45307    1
45308    2
45310    4
45313    1
45314    2
51041    1
51043    3
51045    5
51047    1
51050    4
51053    1
52890    2
52897    3
52898    4
52899    5
52900    6
52901    1
52903    3
52904    4
52905    5
52906    6
52907    1
52910    4
52912    6
54880    3
54881    4
54884    1
54888    5
54889    6
60869    3
60870    4
Name: ball, dtype: int64)
('R Bhatia', 2065     6
2066     1
2070     5
2071     6
2072     1
        ..
60367    1
60368    2
60370    4
60377    5
65940    5
Name: ball, Length: 91, dtype: int64)
('R Bishnoi', 28317    1
28751    1
28753    3
32236    6
32239    3
32240    4
32241    5
32242    6
32243    7
32249    6
32251    2
32252    3
32255    6
32256    1
32257    2
32258    3
32259    4
Name: ball, dtype: int64)
('R Dravid', 13986    1
13990    5
13993    1
14679    3
14680    4
        ..
68055    5
69384    3
69385    4
69386    5
69394    1
Name: ball, Length: 1029, dtype: int64)
('R McLaren', 41330    3
41335    2
41336    3
41337    4
41339    6
        ..
66416    1
66417    2
66420    5
66422    1
66423    2
Name: ball, Length: 158, dtype: int64)
('R Ninan', 58045    5
58048    2
58050    4
58051    5
58052    6
58054    1
Name: ball, dtype: int64)
('R Sathish', 41322    2
41323    3
41324    4
41325    5
41326    6
        ..
63150    5
63152    1
63155    4
63157    6
63160    3
Name: ball, Length: 111, dtype: int64)
('R Sharma', 45930    1
45931    2
45932    3
45933    4
45934    5
48966    5
48967    6
48969    2
48970    3
48971    4
48972    5
48976    2
54144    1
54145    2
54146    3
54149    6
54151    2
54152    3
54153    4
54154    5
55113    1
55114    2
55115    3
55116    4
55117    5
55118    6
57792    7
57794    2
57795    3
57796    4
57797    5
57798    6
57800    8
57802    2
57803    3
57805    5
57806    6
59997    5
59998    6
59999    1
60000    2
60001    3
60005    1
60006    2
60011    1
60012    2
62066    4
64123    4
65694    6
Name: ball, dtype: int64)
('R Tewatia', 11221    3
11222    4
11223    5
11224    6
11225    1
11227    3
11229    5
11230    6
12606    5
12607    6
12610    3
Name: ball, dtype: int64)
('R Vinay Kumar', 16359    4
20981    5
20982    6
20983    1
20984    2
        ..
66984    4
66985    5
66986    6
66990    3
68598    6
Name: ball, Length: 155, dtype: int64)
('RA Jadeja', 4757     3
4758     4
4759     5
4760     6
4762     2
        ..
68548    6
68550    2
68551    3
68553    5
68555    1
Name: ball, Length: 723, dtype: int64)
('RA Tripathi', 2047     1
2048     2
2049     3
2050     4
2051     5
        ..
13745    1
13746    2
13748    4
13750    6
13752    2
Name: ball, Length: 275, dtype: int64)
('RD Chahar', 2953    4
2955    6
Name: ball, dtype: int64)
('RE van der Merwe', 31215    1
31216    2
31217    3
31220    6
31222    2
        ..
63652    2
63656    6
64854    2
64856    4
64858    6
Name: ball, Length: 119, dtype: int64)
('RG Sharma', 275      3
276      4
278      6
279      1
285      1
        ..
69024    3
69025    4
69026    5
69027    6
69030    3
Name: ball, Length: 1418, dtype: int64)
('RJ Harris', 33648    5
33657    2
33658    3
33659    4
34283    2
        ..
67905    4
67906    5
67907    6
69244    5
69251    6
Name: ball, Length: 95, dtype: int64)
('RJ Quiney', 29035    1
29036    2
30167    3
30173    1
30174    2
        ..
38656    6
38657    1
38658    2
39264    5
39266    1
Name: ball, Length: 105, dtype: int64)
('RN ten Doeschate', 62896    1
62898    3
62899    4
62901    6
62904    3
62905    4
62912    4
62914    6
62915    7
62916    1
62919    4
62920    5
62921    6
Name: ball, dtype: int64)
('RP Singh', 14914    1
14917    4
15399    4
18001    2
18004    5
        ..
55005    6
57688    7
61743    6
62801    3
63769    4
Name: ball, Length: 66, dtype: int64)
('RR Pant', 1131     5
1132     6
1133     7
1134     8
1135     1
        ..
12971    4
12974    1
12975    2
12976    3
12977    4
Name: ball, Length: 226, dtype: int64)
('RR Powar', 26969    5
26970    6
26975    5
26976    6
26978    2
        ..
66993    6
66994    1
66995    2
66997    4
66999    6
Name: ball, Length: 64, dtype: int64)
('RR Raje', 19221    1
19223    3
19224    4
19225    5
19226    6
23671    3
23672    4
26279    6
26282    3
34392    2
34395    5
34398    2
34399    3
34402    6
34404    2
34407    5
34970    7
34971    1
Name: ball, dtype: int64)
('RR Sarwan', 16057    1
16058    2
16061    5
16062    6
16063    1
        ..
21309    4
21313    2
21314    3
21315    4
21318    1
Name: ball, Length: 78, dtype: int64)
('RS Bopara', 27816    1
27817    2
27823    8
27827    4
27828    5
        ..
50060    6
50061    1
50063    3
50065    5
50067    1
Name: ball, Length: 347, dtype: int64)
('RS Gavaskar', 42874    3
42875    4
42876    5
42879    2
42880    3
42883    6
42885    2
42886    3
Name: ball, dtype: int64)
('RS Sodhi', 50932    5
50933    6
Name: ball, dtype: int64)
('RT Ponting', 13896    3
13897    4
13898    5
13899    6
13901    2
13903    4
13904    5
13908    3
13910    5
13916    5
13918    1
13920    3
13925    2
13926    3
13927    4
13928    5
13929    6
13934    5
13935    6
13936    1
14930    1
16484    4
17401    4
17404    1
17405    2
17410    1
17411    2
17412    3
17416    1
17417    2
17430    2
17435    1
17436    2
17438    4
17439    5
17440    6
17441    1
17442    2
17443    3
17444    4
17446    6
17448    2
17449    3
17453    1
17454    2
17459    1
17462    4
17465    1
17467    3
17468    4
17473    3
17474    4
17476    6
Name: ball, dtype: int64)
('RV Gomez', 56051    4
57661    4
57662    5
57663    6
57665    2
57667    4
57668    5
57669    6
57670    1
57675    6
57676    1
57679    4
57680    5
57681    6
57682    1
57683    2
57684    3
57685    4
57686    5
57687    6
60231    6
60233    1
60234    2
60235    3
60241    3
60243    5
60246    2
60247    3
60254    4
60256    6
61719    1
62707    3
65814    1
66959    4
66960    5
66961    6
66963    2
66966    5
66967    6
66968    7
66970    2
66971    3
66972    4
66973    5
66974    6
66975    1
66979    5
66981    1
66982    2
68590    4
68593    1
68597    5
Name: ball, dtype: int64)
('RV Uthappa', 1454     3
1455     4
1456     5
2522     5
2523     6
        ..
69572    6
69579    1
69580    2
69581    3
69582    4
Name: ball, Length: 1126, dtype: int64)
('Rashid Khan', 2231     2
2233     4
2237     2
2239     4
4436     6
10183    1
10184    2
10189    7
10192    3
Name: ball, dtype: int64)
('S Anirudha', 19794    1
19795    2
19796    3
19797    4
19806    1
        ..
61946    6
61950    4
61952    6
64367    5
64368    6
Name: ball, Length: 105, dtype: int64)
('S Aravind', 231      6
235      4
4057     3
4058     4
4059     5
4060     6
4061     1
4062     2
4065     5
6430     4
6431     5
6432     6
6434     2
7012     5
7013     6
7014     1
7015     2
7017     4
7021     2
7023     4
7025     6
7028     3
7029     4
7030     5
7031     6
7032     1
7034     3
7039     2
7041     4
7823     6
7829     6
7835     6
7836     1
7841     6
9901     3
9904     6
9912     8
9914     2
9916     4
9917     5
58055    2
58056    3
58057    4
58060    7
58061    8
Name: ball, dtype: int64)
('S Badree', 4056    2
6420    7
6428    2
6429    3
7006    5
7009    2
7010    3
7812    2
7813    3
7814    4
7815    5
7816    6
7817    7
7818    1
7822    5
9918    6
9919    1
9920    2
9926    2
9927    3
9928    4
9930    6
9934    3
9936    5
9939    2
Name: ball, dtype: int64)
('S Badrinath', 14184    4
14185    5
14188    2
14192    6
14193    1
        ..
68334    1
68337    4
68338    5
68339    6
68342    3
Name: ball, Length: 880, dtype: int64)
('S Chanderpaul', 14677    1
14678    2
14681    5
14682    6
14692    4
14697    3
14699    5
14703    3
14704    4
14705    5
14706    6
14707    7
16239    1
16241    3
16242    4
16243    5
16244    6
16247    3
16248    4
16252    1
16253    2
20581    1
20582    2
20583    3
20584    4
20585    5
20587    1
20588    2
20589    3
20591    5
20594    1
20595    2
20596    3
Name: ball, dtype: int64)
('S Dhawan', 5        6
6        7
7        1
14       1
18       5
        ..
69702    4
69708    4
69709    5
69710    6
69711    1
Name: ball, Length: 1173, dtype: int64)
('S Kaul', 10194    5
10195    6
Name: ball, dtype: int64)
('S Ladda', 43138    3
43141    6
43144    3
43145    4
43146    5
43147    6
43148    7
43153    5
43154    6
44564    2
Name: ball, dtype: int64)
('S Nadeem', 1203     2
1204     3
8212     1
12987    2
12990    5
12992    1
12995    4
12996    5
12997    6
66870    6
Name: ball, dtype: int64)
('S Narwal', 43261    4
46665    4
46667    6
47964    1
47965    2
47966    3
47967    4
47968    5
47971    1
47972    2
47973    3
47974    4
47979    3
Name: ball, dtype: int64)
('S Randiv', 60874    2
60875    3
60876    4
60877    5
Name: ball, dtype: int64)
('S Sohal', 15142    6
15149    1
15150    2
15154    6
16091    5
        ..
69707    3
69715    5
69716    6
69717    1
69718    2
Name: ball, Length: 311, dtype: int64)
('S Sreesanth', 16108    2
27002    1
27003    2
33915    4
33916    5
33917    6
33919    2
33920    3
33921    4
33922    5
33923    6
36671    7
36672    8
36673    9
36675    2
36676    3
36677    4
36678    5
36679    6
36681    2
36682    3
36685    6
41568    4
41569    5
41570    6
41571    7
41573    2
41574    3
41575    4
41580    3
41581    4
41582    5
41584    1
41585    2
41586    3
41587    4
41588    5
43839    2
43840    3
43841    4
43842    5
43843    6
45556    6
45563    7
57671    2
57672    3
57673    4
57674    5
57677    2
57678    3
62798    6
63767    2
63768    3
Name: ball, dtype: int64)
('S Sriram', 51306    1
51313    2
51314    3
51315    4
51319    2
51320    3
51324    1
51325    2
51328    5
51330    7
51333    3
51334    4
51347    5
51352    4
51354    6
51355    1
51356    2
51358    4
51359    5
51360    6
51361    7
51362    1
51365    4
51366    5
51367    6
51368    1
51369    2
51372    5
51375    2
51376    3
51377    4
69315    1
69317    3
69318    4
69319    5
69320    6
69321    1
69322    2
Name: ball, dtype: int64)
('S Tyagi', 42196    2
42200    6
42201    1
42202    2
Name: ball, dtype: int64)
('S Vidyut', 18395    5
18396    6
18397    7
18399    1
18402    4
        ..
27124    5
27125    6
27127    2
27132    1
27133    2
Name: ball, Length: 115, dtype: int64)
('SA Asnodkar', 18126    4
18127    5
18128    6
18132    4
18133    5
        ..
60513    1
60519    1
60522    4
60523    5
60524    6
Name: ball, Length: 352, dtype: int64)
('SA Yadav', 1501     6
1502     1
1505     4
1507     6
1508     1
        ..
13500    2
13501    3
13505    1
13511    7
13512    1
Name: ball, Length: 89, dtype: int64)
('SB Bangar', 14892    5
14894    1
14895    2
14906    6
14907    7
14909    2
14910    3
14912    5
14915    2
14916    3
15355    2
15356    3
15357    4
15359    6
15361    2
15363    4
15365    6
15366    1
15368    3
15371    6
15372    1
15373    2
15376    5
15378    1
17961    4
17962    5
17963    6
17964    1
17965    2
17966    3
17969    6
17970    1
20762    4
20763    5
20764    6
20766    2
20771    1
20772    2
21569    3
21570    4
21579    1
21582    4
25901    2
25903    4
25905    6
25906    1
25908    3
25909    4
25910    5
29219    6
29221    2
29222    3
29226    1
29227    2
29234    3
29237    6
29238    7
29239    8
Name: ball, dtype: int64)
('SB Jakati', 32833    4
32834    5
32835    6
32836    7
32837    1
32841    5
32844    2
32845    3
32846    4
37147    5
37148    6
37152    4
37153    5
37155    1
37156    2
37158    4
Name: ball, dtype: int64)
('SB Joshi', 14073    2
14078    1
14079    2
14080    3
14081    4
14083    6
14085    1
14086    2
16312    5
16313    6
16316    3
16319    6
16320    1
16323    4
16324    5
16325    6
Name: ball, dtype: int64)
('SB Styris', 14856    5
14857    6
14858    1
14860    3
14863    6
        ..
28621    1
28622    2
28623    3
55572    3
55573    4
Name: ball, Length: 134, dtype: int64)
('SB Wagh', 60007    3
60008    4
65693    5
Name: ball, dtype: int64)
('SC Ganguly', 13862    1
13875    1
13876    2
13877    3
13880    6
        ..
69567    1
69568    2
69569    3
69570    4
69571    5
Name: ball, Length: 1014, dtype: int64)
('SD Chitnis', 24670    1
24671    2
24675    6
24676    1
24677    2
24678    3
25285    5
25288    2
25293    7
25294    1
37375    6
37378    3
37379    4
37382    7
37385    3
37386    4
37387    5
37389    7
37394    5
67177    6
67178    1
67179    2
67180    3
67183    6
67184    1
67185    2
67195    6
67196    1
Name: ball, dtype: int64)
('SE Bond', 42888    5
42896    1
Name: ball, dtype: int64)
('SE Marsh', 5056     2
5057     3
5058     4
5059     5
5061     1
        ..
69208    2
69210    4
69211    5
69213    1
69214    2
Name: ball, Length: 1059, dtype: int64)
('SJ Srivastava', 45564    1
47403    4
67200    5
67910    3
67913    6
Name: ball, dtype: int64)
('SK Raina', 515      2
516      3
520      1
526      1
527      2
        ..
68240    5
68242    1
68254    1
68255    2
68256    3
Name: ball, Length: 1576, dtype: int64)
('SK Trivedi', 14440    2
14441    3
14442    4
14443    5
14445    1
14446    2
14454    4
20120    2
20125    1
20126    2
26784    5
26785    6
31970    2
31973    5
31977    3
36286    5
36287    6
36288    1
36289    2
36290    3
38747    3
38748    4
38752    1
38753    2
38755    4
38759    1
38760    2
38761    3
38763    5
38764    6
38770    6
43281    5
47997    3
47998    4
47999    5
48000    6
48003    3
49580    4
49581    5
49582    6
49583    7
49585    2
49587    4
49588    5
53682    4
53683    5
59372    6
59374    2
Name: ball, dtype: int64)
('SK Warne', 14423    3
14424    4
14426    6
14427    1
14428    2
        ..
69450    2
69451    3
69452    4
69453    5
69455    1
Name: ball, Length: 219, dtype: int64)
('SL Malinga', 8091     6
13247    4
13249    6
37530    5
55453    5
63161    4
63162    5
63163    6
63164    1
Name: ball, dtype: int64)
('SM Harwood', 32714    1
32716    3
32717    4
32718    5
32720    1
32721    2
32722    3
35446    3
35450    1
35452    3
35453    4
35455    6
35457    2
35460    5
Name: ball, dtype: int64)
('SM Katich', 14303    5
14305    1
14306    2
14309    5
14311    1
        ..
39658    4
39659    5
39660    6
39662    2
39665    5
Name: ball, Length: 191, dtype: int64)
('SM Pollock', 14658    6
14662    4
14663    5
14664    6
14665    1
        ..
25280    6
25281    1
25283    3
25284    4
26264    4
Name: ball, Length: 116, dtype: int64)
('SN Thakur', 2952     3
3925     2
10071    4
Name: ball, dtype: int64)
('SP Fleming', 18373    2
18374    3
18375    4
18376    5
18378    1
        ..
26548    2
26549    3
26550    4
26559    1
26560    2
Name: ball, Length: 171, dtype: int64)
('SP Goswami', 20898    2
20900    4
20901    5
20902    6
20903    1
        ..
62827    1
62832    6
62835    3
62836    4
62839    1
Name: ball, Length: 181, dtype: int64)
('SP Jackson', 7344    6
7345    1
7346    2
7347    3
7350    6
8463    4
8464    5
8465    6
8466    1
8468    3
8469    4
8471    6
8477    6
8478    1
8479    2
8483    6
8485    1
8489    5
8496    6
8498    2
8500    4
8502    6
9248    5
9249    6
9250    1
9251    2
9252    3
9253    4
9254    5
9260    5
9261    6
Name: ball, dtype: int64)
('SP Narine', 1540     3
1551     8
2485     1
2486     2
2487     3
        ..
13428    3
13429    4
13432    1
13433    2
13435    4
Name: ball, Length: 135, dtype: int64)
('SPD Smith', 393      2
394      3
396      5
397      6
399      2
        ..
13850    1
13852    3
13854    5
13855    6
13858    3
Name: ball, Length: 400, dtype: int64)
('SR Tendulkar', 21015    4
21017    6
21025    1
21026    2
21027    3
        ..
69087    1
69093    1
69094    2
69096    4
69098    6
Name: ball, Length: 1388, dtype: int64)
('SR Watson', 200      5
203      2
204      3
207      6
210      3
        ..
69422    4
69423    5
69424    6
69427    3
69429    5
Name: ball, Length: 726, dtype: int64)
('SS Iyer', 3364     4
3365     5
3366     6
3371     2
3372     3
        ..
12938    1
12940    3
12941    4
12945    2
12947    4
Name: ball, Length: 249, dtype: int64)
('SS Shaikh', 39441    4
39442    5
39443    6
39447    4
39448    5
39450    1
39451    2
Name: ball, dtype: int64)
('SS Tiwary', 12328    1
12329    2
12330    3
12331    4
12335    1
        ..
68868    3
68869    4
68871    6
68873    2
68874    3
Name: ball, Length: 499, dtype: int64)
('ST Jayasuriya', 14560    1
14566    1
14567    2
14568    3
14569    4
        ..
44096    3
44097    4
51651    1
51652    2
51660    3
Name: ball, Length: 573, dtype: int64)
('STR Binny', 213      6
214      1
216      3
217      4
218      5
        ..
65325    1
65327    3
65328    4
65329    5
65330    6
Name: ball, Length: 113, dtype: int64)

('SV Samson', 1118     4
1120     6
1121     1
1123     3
1124     4
        ..
11852    2
11854    4
11855    5
12876    1
12877    2
Name: ball, Length: 275, dtype: int64)
('SW Billings', 1088    5
1089    6
1090    7
1091    1
1092    2
       ..
4941    3
4942    4
4943    5
8109    5
8110    6
Name: ball, Length: 107, dtype: int64)
('SW Tait', 46666    5
47981    5
47984    2
47985    3
47986    4
47987    5
47989    1
47990    2
47991    3
47993    5
48001    1
48002    2
48004    4
59371    5
69461    1
69464    4
69465    5
69470    3
69474    1
69480    1
69481    2
69486    1
69487    2
Name: ball, dtype: int64)
('Sachin Baby', 208      1
209      2
211      4
7767     5
7768     6
7769     1
7772     4
12850    4
12855    3
12856    4
12858    6
12859    7
12862    3
12863    4
12864    5
12865    6
12866    7
Name: ball, dtype: int64)
('Salman Butt', 18250    1
18251    2
18252    3
18253    4
18256    7
        ..
26058    2
26061    5
26062    6
26070    1
26071    2
Name: ball, Length: 172, dtype: int64)
('Sandeep Sharma', 3561    2
3563    4
4551    4
4554    7
4555    1
4556    2
4557    3
Name: ball, dtype: int64)
('Shahid Afridi', 15338    4
15339    5
15340    6
15341    7
15351    4
15353    6
15354    1
15755    3
15756    4
15757    5
15758    6
17941    2
17943    4
17948    3
17949    4
17951    6
17955    4
17956    5
20017    7
20019    2
20020    3
20021    4
20022    5
20023    6
20756    4
20759    1
20760    2
22917    4
22918    5
22919    6
22920    1
22931    5
22933    1
22934    2
22939    7
22945    6
22947    2
22948    3
22950    5
22951    6
22952    1
23683    3
25893    6
25894    1
26533    1
26536    4
Name: ball, dtype: int64)
('Shakib Al Hasan', 5400     6
60334    6
60335    1
60340    6
60345    5
60346    6
Name: ball, dtype: int64)
('Shoaib Ahmed', 31603    1
31604    2
31605    3
33668    1
33669    2
37039    4
Name: ball, dtype: int64)
('Shoaib Akhtar', 23117    5
23118    6
23119    7
23121    2
23130    5
23131    6
23132    1
23133    2
Name: ball, dtype: int64)
('Shoaib Malik', 16919    4
16920    5
16921    6
16922    1
16927    6
16928    7
16929    1
16930    2
16932    4
16935    1
16936    2
16937    3
16938    4
16939    5
16943    3
16944    4
16945    5
16946    6
16948    1
17733    2
17736    5
17737    6
17738    1
19265    3
19267    5
19268    6
19270    1
19271    2
19273    4
19274    5
19276    1
19277    2
19278    3
19281    6
19284    3
19286    5
19288    1
19291    4
19292    5
19295    2
19298    5
19304    5
19308    3
19311    6
19312    1
20341    2
20345    6
20346    1
23244    6
Name: ball, dtype: int64)
('Sohail Tanvir', 18245    3
18247    5
18249    7
20111    5
20112    6
20114    2
20116    4
20117    5
20119    1
24346    3
24347    4
24353    4
24359    4
24360    5
24361    6
24362    1
24363    2
26706    1
26707    2
26708    3
26709    4
26716    5
27335    6
27336    7
27339    2
27341    4
27342    5
27344    1
27347    4
27349    6
27350    7
Name: ball, dtype: int64)
('Sunny Singh', 56421    4
56422    5
56423    6
56429    6
56434    5
56435    6
57515    5
57517    1
57519    3
57521    5
57522    6
57523    1
57526    4
57527    5
57528    6
57530    2
57534    6
60497    3
60499    5
60500    6
60502    2
60503    3
61364    1
61365    2
61368    5
61370    1
66345    4
66347    6
66351    4
66353    6
66357    4
Name: ball, dtype: int64)
('Swapnil Singh', 11218    7
11220    2
12637    3
12639    5
12640    6
12642    2
12644    4
12645    5
12646    6
12647    1
12651    5
12653    1
12654    2
12656    4
12658    6
12659    1
12660    2
12661    3
12662    4
Name: ball, dtype: int64)
('T Henderson', 27744    6
27745    7
27747    2
27748    3
27749    4
27750    5
27751    6
27752    7
27757    5
27758    6
27766    1
27767    2
27771    6
27772    1
27774    3
39327    6
Name: ball, dtype: int64)
('T Kohli', 14335    1
14336    2
14337    3
14338    4
14339    5
14340    6
14341    7
14343    2
14344    3
14345    4
14348    1
14349    2
14350    3
25532    3
25534    5
25541    6
28443    6
28447    4
28448    5
28451    2
Name: ball, dtype: int64)
('T Taibu', 20525    5
20526    6
20528    2
20529    3
20533    1
20534    2
20535    3
20537    5
20538    6
20541    3
20542    4
20546    2
21480    3
21483    6
21484    7
21486    2
21487    3
22173    4
22175    6
22177    1
22178    2
22180    4
22181    5
22184    2
22185    3
22186    4
Name: ball, dtype: int64)
('T Thushara', 27592    5
27593    6
27594    7
39614    3
39615    4
39616    5
39617    6
39621    4
46787    3
46788    4
46790    6
51044    4
51046    6
51048    2
51049    3
51051    5
51052    6
51054    2
51055    3
Name: ball, dtype: int64)
('TA Boult', 12569    4
12570    5
12571    6
12573    2
12574    3
12575    4
12576    5
12577    6
Name: ball, dtype: int64)
('TD Paine', 59914    5
59915    6
59916    7
59917    1
59921    5
59922    6
59926    4
59929    1
59930    2
63408    2
63409    3
63411    5
63412    6
63413    7
63414    1
63415    2
63416    3
63417    4
63418    5
63427    6
63428    1
63429    2
63430    3
63432    5
63434    1
63436    3
63437    4
63439    6
63440    1
Name: ball, dtype: int64)
('TG Southee', 362    3
364    5
365    6
Name: ball, dtype: int64)
('TL Suman', 31548    1
31551    4
31552    5
31554    1
31558    5
        ..
69089    3
69090    4
69091    5
69092    6
69095    3
Name: ball, Length: 493, dtype: int64)
('TM Dilshan', 21704    6
21706    1
21708    3
21709    4
21710    5
        ..
68156    6
68157    1
68158    2
68159    3
68160    4
Name: ball, Length: 676, dtype: int64)
('TM Head', 161      5
162      6
166      4
167      5
169      1
        ..
10526    4
10527    5
10528    6
12829    2
12833    6
Name: ball, Length: 109, dtype: int64)
('TM Srivastava', 17117    1
17118    2
17120    4
17121    5
17124    2
17127    5
17128    6
17129    1
17132    4
26037    6
32477    6
Name: ball, dtype: int64)
('TR Birt', 62994    5
62995    6
62997    2
62999    4
63000    5
63001    6
63002    1
63003    2
63004    3
63007    6
63008    1
63624    5
63625    6
63626    1
63631    6
63633    1
63634    2
63635    3
63639    1
63640    2
63641    3
63642    4
63644    6
63648    4
64830    2
64833    5
64834    6
64835    1
64836    2
64838    4
64840    6
64842    2
64843    3
64844    4
64846    6
64849    3
64850    4
64851    5
64852    6
66109    1
66110    2
66111    3
66112    4
66113    5
66114    6
66125    4
66133    6
66135    2
69347    3
69348    4
69349    5
69350    6
69352    2
69353    3
69354    4
69357    1
69358    2
69359    3
69360    4
Name: ball, dtype: int64)
('TS Mills', 238     1
241     4
242     5
1081    4
1082    5
1083    6
6424    4
6425    5
6426    6
6427    1
6433    1
Name: ball, dtype: int64)
('U Kaul', 21366    6
Name: ball, dtype: int64)
('UBT Chand', 56189    3
56190    4
56884    6
56885    1
56886    2
56887    3
56888    4
56889    5
56890    6
56892    2
56894    4
56897    1
Name: ball, dtype: int64)
('UT Yadav', 6368     3
6369     4
6370     5
6371     6
9355     4
9357     6
12563    4
12565    6
12566    1
12572    1
13513    2
13518    1
13519    2
44560    4
44561    5
44565    3
44568    6
56278    5
56279    6
56281    2
56282    3
56283    4
63051    6
Name: ball, dtype: int64)
('Umar Gul', 18363    5
18367    3
20573    5
20574    6
24323    4
24326    1
24327    2
24328    3
26135    4
26136    5
26137    6
26142    5
26143    6
26144    1
26146    3
26147    4
26148    5
26149    6
26152    3
Name: ball, dtype: int64)
('V Kohli', 2590     2
2591     3
2593     5
2594     6
2597     1
        ..
68836    2
68837    3
68838    4
68841    1
68843    3
Name: ball, Length: 1206, dtype: int64)
('V Sehwag', 14463    1
14464    2
14465    3
14466    4
15404    2
        ..
66171    2
66745    1
66746    2
66748    4
66757    1
Name: ball, Length: 849, dtype: int64)
('V Shankar', 2228     5
2230     1
11085    2
11086    3
11089    6
        ..
13351    5
13353    1
13354    2
13357    5
13359    1
Name: ball, Length: 77, dtype: int64)
('VR Aaron', 2476     5
2478     1
2479     2
2480     3
2483     6
2484     7
9821     2
9822     3
9823     4
9824     5
9825     6
69367    4
69368    5
69369    6
69374    5
69375    6
Name: ball, dtype: int64)
('VRV Singh', 16109    3
16110    4
21365    5
Name: ball, dtype: int64)
('VS Malik', 47388    3
47389    4
47396    3
47398    5
47399    6
Name: ball, dtype: int64)
('VS Yeligati', 24681    6
24682    7
Name: ball, dtype: int64)
('VVS Laxman', 14823    3
14824    4
14825    5
14826    6
14828    2
        ..
61629    3
61630    4
61633    1
61634    2
61638    6
Name: ball, Length: 271, dtype: int64)
('VY Mahesh', 17016    1
17017    2
17020    5
17022    1
17026    5
19333    4
19334    5
19335    6
19337    2
19338    3
21739    4
22311    1
22313    3
22314    4
22317    1
22320    4
22321    5
22322    6
26870    4
26871    5
26872    6
26873    1
26874    2
26876    4
26877    5
26878    6
26879    1
26880    2
Name: ball, dtype: int64)
('Vishnu Vinod', 1054     1
1056     3
1060     1
1062     3
1063     4
1679     2
1680     3
1684     1
1685     2
1686     3
1687     4
1690     1
1691     2
1692     3
1696     1
1697     2
1698     3
12761    6
12765    4
12768    1
12769    2
12770    3
12773    6
12775    2
12777    4
12778    5
Name: ball, dtype: int64)
('W Jaffer', 13987    2
13988    3
13989    4
13991    6
13992    7
        ..
34419    4
34420    5
34421    6
34422    1
34423    2
Name: ball, Length: 129, dtype: int64)
('WA Mota', 15157    3
26941    1
26942    2
26943    3
26947    1
        ..
39711    2
39712    3
39713    4
39714    5
39718    3
Name: ball, Length: 76, dtype: int64)
('WD Parnell', 57784    6
57785    7
57787    2
57788    3
57789    4
57790    5
59140    3
59141    4
59142    5
59144    1
59145    2
59146    3
59148    5
59149    6
59150    7
59151    1
59988    2
59989    3
59993    1
59995    3
59996    4
60002    4
60003    5
60004    6
69627    6
69629    2
69631    4
69633    6
69634    7
69635    1
69636    2
69637    3
69641    1
69642    2
69643    3
69644    4
69648    2
69651    5
69656    4
69657    5
69658    6
Name: ball, dtype: int64)
('WP Saha', 858      1
859      2
860      3
861      4
864      1
        ..
51283    4
51285    6
51288    3
52492    2
52495    5
Name: ball, Length: 407, dtype: int64)
('WPUJC Vaas', 14913    6
15394    5
15396    1
15398    3
15400    5
        ..
54135    4
54137    6
54138    1
54140    3
54143    6
Name: ball, Length: 73, dtype: int64)
('Washington Sundar', 6557     5
6558     6
9472     5
9473     6
9474     1
10068    1
10072    5
10073    6
12089    3
12091    5
12092    6
13859    4
Name: ball, dtype: int64)
('Y Nagar', 39090    4
39092    6
39093    1
39094    2
39097    5
        ..
69356    6
69361    5
69362    6
69363    7
69366    3
Name: ball, Length: 137, dtype: int64)
('Y Venugopal Rao', 14801    2
14802    3
14803    4
14804    5
14805    6
        ..
69330    4
69332    6
69335    3
69336    4
69337    5
Name: ball, Length: 670, dtype: int64)
('YA Abdulla', 41589    6
Name: ball, dtype: int64)
('YK Pathan', 1475     4
1476     5
1477     6
1480     3
1481     4
        ..
68786    2
68787    3
68790    6
68791    1
68792    2
Name: ball, Length: 907, dtype: int64)
('YS Chahal', 236     5
237     6
239     2
240     3
243     6
244     1
245     2
4064    4
4066    6
6435    3
6436    4
7042    5
7043    6
7830    1
7831    2
7832    3
7833    4
7834    5
7837    2
7838    3
7839    4
7840    5
9940    3
9942    5
9945    2
9947    4
Name: ball, dtype: int64)
('YV Takawale', 19103    1
19104    2
19105    3
19109    1
19110    2
        ..
37429    2
37430    3
37432    5
37434    1
37435    2
Name: ball, Length: 91, dtype: int64)
('Yashpal Singh', 29241    2
29242    3
29243    4
29244    5
29245    6
        ..
39409    3
39410    4
39411    5
39412    6
39413    7
Name: ball, Length: 67, dtype: int64)
('Younis Khan', 22677    4
22679    6
22680    1
22681    2
22682    3
22683    4
22697    5
Name: ball, dtype: int64)
('Yuvraj Singh', 66       5
67       6
69       2
70       3
72       5
        ..
69616    2
69619    5
69620    6
69625    4
69626    5
Name: ball, Length: 1145, dtype: int64)
('Z Khan', 1206     5
10389    6
10393    4
10398    2
10399    3
        ..
55450    2
55451    3
57953    5
57954    6
57955    7
Name: ball, Length: 83, dtype: int64)

In [34]:
bpbp.count()

batsman
A Chopra           75
A Choudhary        20
A Flintoff         57
A Kumble           49
A Mishra          224
                 ...
YV Takawale        91
Yashpal Singh      67
Younis Khan         7
Yuvraj Singh     1145
Z Khan             83
Name: ball, Length: 383, dtype: int64

In [35]:
bpbp.get_group("SR Tendulkar").count()

1388

# Find Sachin Tendulkar's dismissal types in IPL.

In [151]:
df[df['player_dismissed']=='SR Tendulkar']['dismissal_kind'].value_counts()

caught               23
bowled                7
lbw                   5
run out               2
caught and bowled     1
stumped               1
Name: dismissal_kind, dtype: int64

# Find the bowlers who dismissed SR Tendulkar.

In [149]:
bsrt = df[df['player_dismissed']=='SR Tendulkar']['bowler'].value_counts()
bsrt

PP Chawla          2
IK Pathan          2
R Sharma           2
R Vinay Kumar      2
PJ Sangwan         2
RP Singh           2
A Mishra           2
Joginder Sharma    1
JH Kallis          1
T Thushara         1
DW Steyn           1
SB Jakati          1
DE Bollinger       1
AL Menaria         1
RJ Harris          1
Yuvraj Singh       1
P Kumar            1
L Balaji           1
R Bhatia           1
AD Mascarenhas     1
Shoaib Akhtar      1
SK Raina           1
SK Warne           1
D du Preez         1
AB Agarkar         1
VS Malik           1
LR Shukla          1
PP Ojha            1
SK Trivedi         1
VY Mahesh          1
Shahid Afridi      1
Anand Rajan        1
Name: bowler, dtype: int64

In [150]:
bsrt.count()

32

# How many times was Suresh Raina dismissed.

In [42]:
# srd = SURESH RAINA DISMISSED

srd = df[(df["batsman"]=="SK Raina")].groupby(["dismissal_kind"])

for i in srd:
    print(i)

('bowled',        match_id  inning         batting_team           bowling_team  over  \
11389        49       1        Gujarat Lions       Delhi Daredevils     6
42743       182       1  Chennai Super Kings  Kolkata Knight Riders    10
46726       198       2  Chennai Super Kings       Rajasthan Royals    10
61890       262       1  Chennai Super Kings          Pune Warriors    10
67425       285       1  Chennai Super Kings       Rajasthan Royals    19

       ball   batsman   non_striker      bowler  is_super_over  ...  bye_runs  \
11389     5  SK Raina  Ishan Kishan  PJ Cummins              0  ...         0
42743     1  SK Raina   S Badrinath    BJ Hodge              0  ...         0
46726     4  SK Raina      MS Dhoni    SK Warne              0  ...         0
61890     6  SK Raina    MEK Hussey   AC Thomas              0  ...         0
67425     3  SK Raina      MS Dhoni     A Singh              0  ...         0

       legbye_runs  noball_runs  penalty_runs  batsman_runs  extra_runs  \
11389            0            0             0             0           0
42743            0            0             0             0           0
46726            0            0             0             0           0
61890            0            0             0             0           0
67425            0            0             0             0           0

       total_runs  player_dismissed dismissal_kind fielder
11389           0          SK Raina         bowled     NaN
42743           0          SK Raina         bowled     NaN
46726           0          SK Raina         bowled     NaN
61890           0          SK Raina         bowled     NaN
67425           0          SK Raina         bowled     NaN

[5 rows x 21 columns])
('caught',        match_id  inning         batting_team                 bowling_team  \
3634         16       1        Gujarat Lions               Mumbai Indians
4708         20       2        Gujarat Lions  Royal Challengers Bangalore
5508         23       2        Gujarat Lions        Kolkata Knight Riders
6183         26       2        Gujarat Lions              Kings XI Punjab
7870         34       1        Gujarat Lions               Mumbai Indians
10849        46       2        Gujarat Lions              Kings XI Punjab
12178        52       1        Gujarat Lions          Sunrisers Hyderabad
14162        61       1  Chennai Super Kings              Kings XI Punjab
15580        67       1  Chennai Super Kings               Mumbai Indians
19427        83       1  Chennai Super Kings             Rajasthan Royals
19872        85       1  Chennai Super Kings              Deccan Chargers
20416        87       2  Chennai Super Kings             Delhi Daredevils
21162        91       1  Chennai Super Kings              Kings XI Punjab
22357        96       1  Chennai Super Kings               Mumbai Indians
25594       110       2  Chennai Super Kings             Rajasthan Royals
27200       117       1  Chennai Super Kings             Rajasthan Royals
27488       118       2  Chennai Super Kings               Mumbai Indians
28239       122       1  Chennai Super Kings  Royal Challengers Bangalore
28986       125       2  Chennai Super Kings             Delhi Daredevils
31855       137       1  Chennai Super Kings             Rajasthan Royals
32801       141       1  Chennai Super Kings             Delhi Daredevils
33567       144       1  Chennai Super Kings              Deccan Chargers
34682       149       1  Chennai Super Kings              Kings XI Punjab
35500       152       2  Chennai Super Kings             Rajasthan Royals
37074       159       1  Chennai Super Kings  Royal Challengers Bangalore
38878       166       1  Chennai Super Kings        Kolkata Knight Riders
39583       169       1  Chennai Super Kings              Kings XI Punjab
40557       173       1  Chennai Super Kings  Royal Challengers Bangalore
42100       179       2  Chennai Super Kings              Deccan Chargers
44823       190       3  Chennai Super Kings              Kings XI Punjab
45266       192       2  Chennai Super Kings  Royal Challengers Bangalore
48547       206       1  Chennai Super Kings             Rajasthan Royals
49772       211       1  Chennai Super Kings               Mumbai Indians
51042       216       1  Chennai Super Kings              Deccan Chargers
52877       224       1  Chennai Super Kings             Delhi Daredevils
53972       228       2  Chennai Super Kings              Kings XI Punjab
54797       232       1  Chennai Super Kings              Deccan Chargers
55518       235       1  Chennai Super Kings        Kolkata Knight Riders
57329       243       1  Chennai Super Kings              Kings XI Punjab
58616       248       1  Chennai Super Kings  Royal Challengers Bangalore
64354       272       1  Chennai Super Kings              Deccan Chargers
65445       276       2  Chennai Super Kings             Rajasthan Royals
66469       281       1  Chennai Super Kings        Kolkata Knight Riders
68256       289       1  Chennai Super Kings             Delhi Daredevils

       over  ball   batsman   non_striker           bowler  is_super_over  \
3634     12     1  SK Raina   BB McCullum  Harbhajan Singh              0
4708      4     7  SK Raina   BB McCullum        YS Chahal              0
5508     18     5  SK Raina     RA Jadeja    Kuldeep Yadav              0
6183      9     6  SK Raina    KD Karthik         AR Patel              0
7870      5     2  SK Raina  Ishan Kishan        JJ Bumrah              0
10849    18     1  SK Raina    KD Karthik   Sandeep Sharma              0
12178    13     6  SK Raina    KD Karthik   Mohammed Siraj              0
14162    13     2  SK Raina    MEK Hussey          WA Mota              0
15580    15     6  SK Raina     ML Hayden         MA Khote              0
19427    15     2  SK Raina     JA Morkel         MM Patel              0
19872    14     3  SK Raina      MS Dhoni        SB Bangar              0
20416    11     1  SK Raina      MS Dhoni       PJ Sangwan              0
21162     7     6  SK Raina   S Badrinath        PP Chawla              0
22357     6     5  SK Raina    SP Fleming         DJ Bravo              0
25594     9     3  SK Raina      PA Patel         SK Warne              0
27200    17     2  SK Raina      MS Dhoni        SR Watson              0
27488     3     5  SK Raina     ML Hayden         DJ Bravo              0
28239    19     6  SK Raina    A Flintoff          P Kumar              0
28986    15     1  SK Raina    A Flintoff       PJ Sangwan              0
31855    20     4  SK Raina      MS Dhoni         MM Patel              0
32801    13     3  SK Raina   S Badrinath         R Bhatia              0
33567    18     6  SK Raina      MS Dhoni         RP Singh              0
34682    10     1  SK Raina     ML Hayden        PP Chawla              0
35500     6     6  SK Raina     ML Hayden          A Singh              0
37074     6     4  SK Raina     ML Hayden        JH Kallis              0
38878    17     6  SK Raina      MS Dhoni         AB Dinda              0
39583    14     3  SK Raina      JDP Oram          WA Mota              0
40557    15     1  SK Raina      MS Dhoni          P Kumar              0
42100     3     4  SK Raina     ML Hayden       WPUJC Vaas              0
44823     1     5  SK Raina     JA Morkel         J Theron              1
45266    12     4  SK Raina       M Vijay    R Vinay Kumar              0
48547     9     2  SK Raina       M Vijay         SK Warne              0
49772     9     6  SK Raina     ML Hayden         DJ Bravo              0
51042    18     2  SK Raina      R Ashwin        RJ Harris              0
52877     9     1  SK Raina    MEK Hussey       TM Dilshan              0
53972    10     4  SK Raina   S Badrinath         J Theron              0
54797     5     5  SK Raina   S Badrinath        A Symonds              0
55518    11     3  SK Raina    S Anirudha        YK Pathan              0
57329     1     2  SK Raina       M Vijay          P Kumar              0
58616    11     5  SK Raina    MEK Hussey          R Ninan              0
64354    18     5  SK Raina      MS Dhoni          PP Ojha              0
65445    19     3  SK Raina    MEK Hussey       SK Trivedi              0
66469     6     5  SK Raina    MEK Hussey        YK Pathan              0
68256     6     3  SK Raina       M Vijay         VR Aaron              0

       ...  bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
3634   ...         0            0            0             0             0
4708   ...         0            0            0             0             0
5508   ...         0            0            0             0             0
6183   ...         0            0            0             0             0
7870   ...         0            0            0             0             0
10849  ...         0            0            0             0             0
12178  ...         0            0            0             0             0
14162  ...         0            0            0             0             0
15580  ...         0            0            0             0             0
19427  ...         0            0            0             0             0
19872  ...         0            0            0             0             0
20416  ...         0            0            0             0             0
21162  ...         0            0            0             0             0
22357  ...         0            0            0             0             0
25594  ...         0            0            0             0             0
27200  ...         0            0            0             0             0
27488  ...         0            0            0             0             0
28239  ...         0            0            0             0             0
28986  ...         0            0            0             0             0
31855  ...         0            0            0             0             0
32801  ...         0            0            0             0             0
33567  ...         0            0            0             0             0
34682  ...         0            0            0             0             0
35500  ...         0            0            0             0             0
37074  ...         0            0            0             0             0
38878  ...         0            0            0             0             0
39583  ...         0            0            0             0             0
40557  ...         0            0            0             0             0
42100  ...         0            0            0             0             0
44823  ...         0            0            0             0             0
45266  ...         0            0            0             0             0
48547  ...         0            0            0             0             0
49772  ...         0            0            0             0             0
51042  ...         0            0            0             0             0
52877  ...         0            0            0             0             0
53972  ...         0            0            0             0             0
54797  ...         0            0            0             0             0
55518  ...         0            0            0             0             0
57329  ...         0            0            0             0             0
58616  ...         0            0            0             0             0
64354  ...         0            0            0             0             0
65445  ...         0            0            0             0             0
66469  ...         0            0            0             0             0
68256  ...         0            0            0             0             0

       extra_runs  total_runs  player_dismissed dismissal_kind  \
3634            0           0          SK Raina         caught
4708            0           0          SK Raina         caught
5508            0           0          SK Raina         caught
6183            0           0          SK Raina         caught
7870            0           0          SK Raina         caught
10849           0           0          SK Raina         caught
12178           0           0          SK Raina         caught
14162           0           0          SK Raina         caught
15580           0           0          SK Raina         caught
19427           0           0          SK Raina         caught
19872           0           0          SK Raina         caught
20416           0           0          SK Raina         caught
21162           0           0          SK Raina         caught
22357           0           0          SK Raina         caught
25594           0           0          SK Raina         caught
27200           0           0          SK Raina         caught
27488           0           0          SK Raina         caught
28239           0           0          SK Raina         caught
28986           0           0          SK Raina         caught
31855           0           0          SK Raina         caught
32801           0           0          SK Raina         caught
33567           0           0          SK Raina         caught
34682           0           0          SK Raina         caught
35500           0           0          SK Raina         caught
37074           0           0          SK Raina         caught
38878           0           0          SK Raina         caught
39583           0           0          SK Raina         caught
40557           0           0          SK Raina         caught
42100           0           0          SK Raina         caught
44823           0           0          SK Raina         caught
45266           0           0          SK Raina         caught
48547           0           0          SK Raina         caught
49772           0           0          SK Raina         caught
51042           0           0          SK Raina         caught
52877           0           0          SK Raina         caught
53972           0           0          SK Raina         caught
54797           0           0          SK Raina         caught
55518           0           0          SK Raina         caught
57329           0           0          SK Raina         caught
58616           0           0          SK Raina         caught
64354           0           0          SK Raina         caught
65445           0           0          SK Raina         caught
66469           0           0          SK Raina         caught
68256           0           0          SK Raina         caught

                fielder
3634          RG Sharma
4708          SR Watson
5508          MK Pandey
6183         GJ Maxwell
7870         KA Pollard
10849   Gurkeerat Singh
12178          S Dhawan
14162         IK Pathan
15580          DJ Bravo
19427     Sohail Tanvir
19872         RG Sharma
20416         MK Tiwary
21162          SE Marsh
22357       YV Takawale
25594            M Kaif
27200         RA Jadeja
27488           RR Raje
28239           V Kohli
28986    AB de Villiers
31855          GC Smith
32801        TM Dilshan
33567          DR Smith
34682            K Goel
35500     LA Carseldine
37074  RE van der Merwe
38878         LR Shukla
39583             B Lee
40557        MV Boucher
42100      AC Gilchrist
44823  DPMD Jayawardene
45266         JH Kallis
48547           SW Tait
49772          S Dhawan
51042         RG Sharma
52877          UT Yadav
53972            K Goel
54797      AC Gilchrist
55518           S Ladda
57329       PC Valthaty
58616        MA Agarwal
64354          S Dhawan
65445           J Botha
66469         JH Kallis
68256         IK Pathan

[44 rows x 21 columns])
('caught and bowled',        match_id  inning         batting_team     bowling_team  over  ball  \
30327       131       1  Chennai Super Kings  Deccan Chargers     7     5
37925       162       2  Chennai Super Kings   Mumbai Indians     4     5
60787       257       2  Chennai Super Kings   Mumbai Indians     5     5

        batsman non_striker           bowler  is_super_over  ...  bye_runs  \
30327  SK Raina   ML Hayden        RG Sharma              0  ...         0
37925  SK Raina   ML Hayden         DJ Bravo              0  ...         0
60787  SK Raina  MEK Hussey  Harbhajan Singh              0  ...         0

       legbye_runs  noball_runs  penalty_runs  batsman_runs  extra_runs  \
30327            0            0             0             0           0
37925            0            0             0             0           0
60787            0            0             0             0           0

       total_runs  player_dismissed     dismissal_kind fielder
30327           0          SK Raina  caught and bowled     NaN
37925           0          SK Raina  caught and bowled     NaN
60787           0          SK Raina  caught and bowled     NaN

[3 rows x 21 columns])
('lbw',       match_id  inning   batting_team         bowling_team  over  ball  \
1261         6       1  Gujarat Lions  Sunrisers Hyderabad     9     6

       batsman non_striker       bowler  is_super_over  ...  bye_runs  \
1261  SK Raina  KD Karthik  Rashid Khan              0  ...         0

      legbye_runs  noball_runs  penalty_runs  batsman_runs  extra_runs  \
1261            0            0             0             0           0

      total_runs  player_dismissed dismissal_kind fielder
1261           0          SK Raina            lbw     NaN

[1 rows x 21 columns])
('run out',        match_id  inning         batting_team                 bowling_team  \
8802         38       1        Gujarat Lions       Rising Pune Supergiant
9483         41       1        Gujarat Lions             Delhi Daredevils
28186       122       1  Chennai Super Kings  Royal Challengers Bangalore
50984       216       1  Chennai Super Kings              Deccan Chargers
55325       234       1  Chennai Super Kings               Mumbai Indians
59556       252       1  Chennai Super Kings         Kochi Tuskers Kerala

       over  ball   batsman  non_striker         bowler  is_super_over  ...  \
8802      8     6  SK Raina  BB McCullum    Imran Tahir              0  ...
9483      2     2  SK Raina     DR Smith       K Rabada              0  ...
28186    11     2  SK Raina    ML Hayden   KP Pietersen              0  ...
50984     8     5  SK Raina      M Vijay  Harmeet Singh              0  ...
55325    20     3  SK Raina    JA Morkel     SL Malinga              0  ...
59556    16     1  SK Raina     MS Dhoni    NLTC Perera              0  ...

       bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
8802          0            0            0             0             1
9483          0            0            0             0             0
28186         0            0            0             0             0
50984         0            0            0             0             1
55325         0            0            0             0             0
59556         0            0            0             0             0

       extra_runs  total_runs  player_dismissed dismissal_kind      fielder
8802            0           1          SK Raina        run out    AM Rahane
9483            0           0          DR Smith        run out     S Nadeem
28186           0           0         ML Hayden        run out     R Dravid
50984           0           1           M Vijay        run out     RP Singh
55325           0           0         JA Morkel        run out    AT Rayudu
59556           0           0          SK Raina        run out  NLTC Perera

[6 rows x 21 columns])

In [43]:
srd.count().loc[:,"batsman"]

dismissal_kind
bowled                5
caught               44
caught and bowled     3
lbw                   1
run out               6
Name: batsman, dtype: int64

In [44]:
srd.count().loc[:,"batsman"].sum()

59

# Display player details who hit the maximum no of sixes in the current IPL tournament.

In [71]:
sixs = df[df['batsman_runs']==6]

In [70]:
sixs.groupby('batsman')['batsman_runs'].count().sort_values(ascending=False).head(5)

batsman
SK Raina        83
YK Pathan       80
Yuvraj Singh    75
CH Gayle        72
RG Sharma       72
Name: batsman_runs, dtype: int64

# What is the Overall No Balls Runs for each team in the dataset?

In [73]:
onbr=df.groupby('batting_team')['noball_runs'].sum().sort_values(ascending=False)

In [74]:
onbr

batting_team
Deccan Chargers                45
Rajasthan Royals               45
Delhi Daredevils               42
Mumbai Indians                 42
Kolkata Knight Riders          39
Kings XI Punjab                36
Royal Challengers Bangalore    34
Chennai Super Kings            32
Kochi Tuskers Kerala           11
Gujarat Lions                  10
Pune Warriors                   9
Sunrisers Hyderabad             6
Rising Pune Supergiant          1
Name: noball_runs, dtype: int64

# Which player scored the most runs in the dataset?

In [50]:
# psr = PLAYER SCORED RUNS 

psr = df.groupby('batsman')['batsman_runs'].sum()
psr

batsman
A Chopra           53
A Choudhary        25
A Flintoff         62
A Kumble           35
A Mishra          219
                 ...
YV Takawale        88
Yashpal Singh      47
Younis Khan         3
Yuvraj Singh     1469
Z Khan             70
Name: batsman_runs, Length: 383, dtype: int64

In [51]:
# tsr = TOTAL SURESH RAINA RUNS

tsr = psr.idxmax()
tsr

'SK Raina'

In [52]:
print(f'The Player Who Scored Most Runs in this IPL Dataset is {tsr} with {psr[tsr]} runs.')

The Player Who Scored Most Runs in this IPL Dataset is SK Raina with 2159 runs.

# ============================================================

# Total Number of Wickets Taken by JJ Bumrah.

In [82]:
bum = df[(df["bowler"]=="JJ Bumrah") & (df["player_dismissed"])].loc[:,"player_dismissed"]
bum

1474          CA Lynn
2227      BCJ Cutting
2236          NV Ojha
2239      Rashid Khan
2700        KM Jadhav
5157       GJ Maxwell
5672          RR Pant
5754         K Rabada
6542         MS Dhoni
6556        MK Tiwary
7870         SK Raina
7963           AJ Tye
7964      JP Faulkner
8592        SR Watson
10343         RR Pant
11065    MC Henriques
11665      GJ Maxwell
13122       MK Tiwary
13415         CA Lynn
13439      RV Uthappa
13512        SA Yadav
13752     RA Tripathi
13839        MS Dhoni
Name: player_dismissed, dtype: object

In [81]:
bum.count()

23

# What is the Overall White Runs Given by each team in the dataset?

In [85]:
owbr=df.groupby('batting_team')['wide_runs'].sum().sort_values(ascending=False)
owbr

batting_team
Mumbai Indians                 438
Kolkata Knight Riders          363
Kings XI Punjab                335
Delhi Daredevils               330
Chennai Super Kings            296
Royal Challengers Bangalore    290
Rajasthan Royals               230
Deccan Chargers                216
Kochi Tuskers Kerala            82
Rising Pune Supergiant          58
Gujarat Lions                   50
Pune Warriors                   49
Sunrisers Hyderabad             46
Name: wide_runs, dtype: int64

# List of Players Who Got Dismissed By Retired Hurt

In [58]:
df[(df["dismissal_kind"])=="retired hurt"].loc[:,"player_dismissed":"dismissal_kind"]

      player_dismissed dismissal_kind
8712         KH Pandya   retired hurt
14576      DJ Thornely   retired hurt
41338  Harbhajan Singh   retired hurt
43622       VVS Laxman   retired hurt

# Find MS Dhoni record against all teams

In [86]:
rec = df[df['batsman']=='MS Dhoni']

In [90]:
rec.groupby('bowling_team')['batsman_runs'].sum()

bowling_team
Deccan Chargers                240
Delhi Daredevils               155
Gujarat Lions                   31
Kings XI Punjab                222
Kochi Tuskers Kerala            14
Kolkata Knight Riders          206
Mumbai Indians                 257
Pune Warriors                   26
Rajasthan Royals               126
Royal Challengers Bangalore    216
Sunrisers Hyderabad             92
Name: batsman_runs, dtype: int64

# Find HH Pandya four and six against all teams

In [143]:
ofs = df[(df['batsman']=="HH Pandya") & ((df['batsman_runs']==4) | (df['batsman_runs']==6))]

In [144]:
ofs

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
366,2,1,Mumbai Indians,Rising Pune Supergiant,20,1,HH Pandya,TG Southee,AB Dinda,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
367,2,1,Mumbai Indians,Rising Pune Supergiant,20,2,HH Pandya,TG Southee,AB Dinda,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
368,2,1,Mumbai Indians,Rising Pune Supergiant,20,3,HH Pandya,TG Southee,AB Dinda,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
369,2,1,Mumbai Indians,Rising Pune Supergiant,20,4,HH Pandya,TG Southee,AB Dinda,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
370,2,1,Mumbai Indians,Rising Pune Supergiant,20,5,HH Pandya,TG Southee,AB Dinda,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
1659,7,2,Mumbai Indians,Kolkata Knight Riders,17,6,HH Pandya,N Rana,CR Woakes,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
1665,7,2,Mumbai Indians,Kolkata Knight Riders,18,6,HH Pandya,N Rana,TA Boult,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
1671,7,2,Mumbai Indians,Kolkata Knight Riders,19,6,HH Pandya,Harbhajan Singh,AS Rajpoot,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
1674,7,2,Mumbai Indians,Kolkata Knight Riders,20,2,HH Pandya,Harbhajan Singh,TA Boult,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
1677,7,2,Mumbai Indians,Kolkata Knight Riders,20,5,HH Pandya,Harbhajan Singh,TA Boult,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
2831,12,2,Mumbai Indians,Royal Challengers Bangalore,19,6,HH Pandya,KH Pandya,TS Mills,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
3808,16,2,Mumbai Indians,Gujarat Lions,19,2,HH Pandya,RG Sharma,AJ Tye,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
5274,22,2,Mumbai Indians,Kings XI Punjab,15,4,HH Pandya,N Rana,I Sharma,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
5275,22,2,Mumbai Indians,Kings XI Punjab,15,5,HH Pandya,N Rana,I Sharma,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
5276,22,2,Mumbai Indians,Kings XI Punjab,15,6,HH Pandya,N Rana,I Sharma,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
5614,24,1,Mumbai Indians,Delhi Daredevils,17,1,HH Pandya,KA Pollard,CH Morris,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
5628,24,1,Mumbai Indians,Delhi Daredevils,19,3,HH Pandya,Harbhajan Singh,K Rabada,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
6666,28,2,Mumbai Indians,Rising Pune Supergiant,18,5,HH Pandya,RG Sharma,JD Unadkat,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
6667,28,2,Mumbai Indians,Rising Pune Supergiant,18,6,HH Pandya,RG Sharma,JD Unadkat,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
8741,37,2,Mumbai Indians,Royal Challengers Bangalore,18,7,HH Pandya,RG Sharma,A Choudhary,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
10304,44,1,Mumbai Indians,Delhi Daredevils,18,3,HH Pandya,KA Pollard,CJ Anderson,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
10318,44,1,Mumbai Indians,Delhi Daredevils,20,3,HH Pandya,KA Pollard,PJ Cummins,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
10319,44,1,Mumbai Indians,Delhi Daredevils,20,4,HH Pandya,KA Pollard,PJ Cummins,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
10321,44,1,Mumbai Indians,Delhi Daredevils,20,6,HH Pandya,KA Pollard,PJ Cummins,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
11807,50,2,Mumbai Indians,Kings XI Punjab,14,2,HH Pandya,KA Pollard,R Tewatia,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
11817,50,2,Mumbai Indians,Kings XI Punjab,15,6,HH Pandya,KA Pollard,AR Patel,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
11822,50,2,Mumbai Indians,Kings XI Punjab,16,5,HH Pandya,KA Pollard,MJ Henry,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
11823,50,2,Mumbai Indians,Kings XI Punjab,16,6,HH Pandya,KA Pollard,MJ Henry,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
13178,56,2,Mumbai Indians,Rising Pune Supergiant,9,6,HH Pandya,PA Patel,SN Thakur,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
13180,56,2,Mumbai Indians,Rising Pune Supergiant,10,2,HH Pandya,PA Patel,A Zampa,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
13690,59,1,Mumbai Indians,Rising Pune Supergiant,13,2,HH Pandya,KH Pandya,A Zampa,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN

In [145]:
ofs.groupby('bowling_team')['batsman_runs'].count()

bowling_team
Delhi Daredevils                6
Gujarat Lions                   1
Kings XI Punjab                 7
Kolkata Knight Riders           5
Rising Pune Supergiant         10
Royal Challengers Bangalore     2
Name: batsman_runs, dtype: int64

# Top 10 Wicket Takers

In [98]:
df.groupby('bowler')['player_dismissed'].count().sort_values(ascending=False).head(10)

bowler
SL Malinga         77
IK Pathan          72
RP Singh           71
A Mishra           70
PP Ojha            65
JA Morkel          64
Harbhajan Singh    62
PP Chawla          62
Z Khan             62
SK Warne           59
Name: player_dismissed, dtype: int64

# Orange Cap Holder Of The Season

In [101]:
och=df.groupby("batsman")['batsman_runs'].sum().sort_values(ascending=False).head(1)
och

batsman
SK Raina    2159
Name: batsman_runs, dtype: int64

# Purple Cap Holder Of The Season

In [103]:
df.groupby('bowler')['player_dismissed'].count().sort_values(ascending=False).head(1)

bowler
SL Malinga    77
Name: player_dismissed, dtype: int64

# Top 8 Best Fielder Of the Season with Maximum Points

In [107]:
df.groupby('fielder')['player_dismissed'].count().sort_values(ascending=False).head(8)

fielder
RV Uthappa        61
KD Karthik        57
MS Dhoni          55
AC Gilchrist      54
KC Sangakkara     46
AB de Villiers    44
SK Raina          40
RG Sharma         39
Name: player_dismissed, dtype: int64

# Teams Who Have Played Super Over

In [120]:
iso = df[df['is_super_over']==1]

In [123]:
iso.groupby('batting_team')['is_super_over'].count()

batting_team
Chennai Super Kings      5
Gujarat Lions            8
Kings XI Punjab          4
Kolkata Knight Riders    7
Mumbai Indians           5
Rajasthan Royals         4
Name: is_super_over, dtype: int64

# Players List of Mumbai Indians

In [125]:
plmi = df[df["batting_team"]=="Mumbai Indians"]

In [130]:
plmi.groupby('batsman')['batting_team'].count()

batsman
A Nehra                13
A Symonds             143
AC Blizzard            47
AG Murtaza              5
AM Nayar              348
AM Rahane             147
AN Ahmed                8
AP Tare                41
AT Rayudu             661
C Madan                21
C Nanda                 1
CRD Fernando            3
DJ Bravo              401
DJ Jacobs              91
DJ Thornely            54
DR Smith               41
DS Kulkarni            39
GR Napier              16
HH Pandya             172
Harbhajan Singh       185
JC Buttler            186
JEC Franklin            8
JJ Bumrah              12
JP Duminy             468
KA Pollard            535
KH Pandya             186
KV Sharma              42
L Ronchi               37
LMP Simmons           116
MA Khote               22
MG Johnson             17
MJ McClenaghan         16
MK Pandey              10
MM Patel                1
Mohammad Ashraful      12
N Rana                277
PA Patel              308
PR Shah                92
R McLaren              71
R Sathish             111
RG Sharma             509
RR Raje                18
RV Uthappa            291
S Dhawan              226
SD Chitnis             10
SL Malinga              9
SM Pollock            116
SR Tendulkar         1388
SS Tiwary             397
ST Jayasuriya         573
STR Binny               5
TG Southee              3
TL Suman               36
VS Yeligati             2
YV Takawale            91
Z Khan                 24
Name: batting_team, dtype: int64

In [136]:
len(plmi.groupby('batsman')['batting_team'].count())

56

# Penalty Runs Given

In [138]:
df[df["penalty_runs"]==5]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
15476,66,2,Delhi Daredevils,Deccan Chargers,12,6,V Sehwag,S Dhawan,PP Ojha,0,...,0,0,0,5,0,5,5,NaN,NaN,NaN

# Top 10 Batsman got Dismissed Frequently

player_dismissed
RG Sharma       59
SK Raina        59
AC Gilchrist    57
G Gambhir       56
Yuvraj Singh    55
RV Uthappa      54
YK Pathan       53
V Kohli         51
PA Patel        49
S Dhawan        48
Name: batsman, dtype: int64